<div class="row">
  <div class="col-xs-11">
    Enter new team information:
    <%= simple_form_for [@sport, @team], 
              :defaults => { :input_html => { :class => "form-control" } } do |t| %>
      <div class="row">
        <div class="col-xs-8">
          <%= t.input :title, hint: "Varsity, Freshman, Pee Wee ...." %>
        </div>
      </div>
      <p>
      <div class="row">
        <div class="col-xs-8">
          <% if current_site.mascot.blank? %>
            <h4><em><strong>No global site Mascot defined. You must enter one for the team.</strong></em></h4>
            <%= t.input :mascot, label: "Team Mascot", required: true %>
          <% else %>
            Use the site mascot?
            <%= t.input :mascot, label: "Team Mascot", required: true, input_html: { value: current_site.mascot } %>
          <% end %>
        </div>
      </div>
        <div id="loading">
          <div id="loadingcontent">
              <p id="loadingspinner">
                  Updating Sport...
              </p>
          </div>
        </div>
      </div>
      <p>
      <div class="row">
        <div class="col-xs-1 col-xs-offset-5">
          <%= t.button :submit, 'Submit', class:  "btn btn-sm btn-primary", id: "submitbtn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
