<table class="table table-hover">
  <thead> 
    <tr>
      <th>Team</th>
      <th>Mascot</th>
      <th>Logo</th>
      <% if isAdmin? %>
      <th>Update Logo</th>
        <th>Update?</th>
        <th>Remove?</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% team.each do |t| %>
      <tr>
      <em>
        <td><%= t.title %></td>
        <td><%= t.mascot %></td>
        <td>
          <% if t.logoprocessing? %>
            <em><font color="red">Logo Processing ...</font><em>
          <% else %>
              <%= image_tag get_team_logo(@sport, t) %>
          <% end %>
        </td>
        <% if isAdmin? %>
          <td><%= link_to "Change logo", teamlogo_sport_team_path(@sport, t), class: "btn btn-mini btn-primary" %></td>
          <td><%= link_to "Edit", edit_sport_team_path(sport, t), class: "btn btn-mini btn-primary" %></td>
          <td><%= link_to "Delete", sport_team_path(sport, t),  method: :delete, class: "btn btn-mini btn-danger", data: { confirm: "You sure? All game schedules will be deleted. Athletes assigned to this team will be unassigned." } %></td>
        <% end %>
      </em>
     </tr>
    <% end %>
  </tbody>
</table>

