  <div class="row">
    <div class="col-xs-12">
        <% blog.each do |b| %>
          <div class="well">
            <div class="row">
                <div class="col-xs-8">
                    <h4><p class="text-info"><%= b.title %></p></h4>
                </div>
                <div class="col-xs-2">
                    <% user = User.find(b.user) %>
                    <em>Blogger: <%= user.name %></em>
                </div>
                <div class="col-xs-1">
                  <% if user.avatartinyurl.nil? %>
                    <%= link_to image_tag("Tiny_Photo_Not_Available.png", { class: 'img-responsive', height: '50', width: '50' } ), user_path(user) %>
                  <% else %>
                    <%= link_to image_tag(user.avatartinyurl, { class: 'img-responsive', height: '50', width: '50' } ), user_path(user) %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-9">
                  <%= b.entry %>
                </div>
            </div><p>
            <div class="row">
              <em>
              <div class="col-xs-1">
                Tags: 
              </div>
              <div class="col-xs-10">
          		<%= link_to b.sport.name, sport_path(b.sport) %>&nbsp
                <% if !b.team_id.nil? and !b.team_id.blank? %>
                  <%= @sport.teams.find(b.team_id).team_name %>&nbsp
                <% end %>
                <% if !b.gameschedule.nil? and !b.gameschedule.blank? %>
                  <%= link_to Gameschedule.find(b.gameschedule).game_name, sport_team_gameschedule_path(@sport, @sport.teams.find(b.team_id), b.gameschedule) %>
                <% end %>
                <% if !b.gamelog.nil? and !b.gamelog.blank? %>
                  <%= link_to Gamelog.find(b.gamelog).logentrytext, sport_team_gameschedule_gamelog_path(@sport, @sport.teams.find(b.team_id), 
                                                                                                         b.gameschedule, b.gamelog) %>
                <% end %>
                <% if !b.athlete_id.nil? and !b.athlete_id.blank? %>
                  Athlete:
                  <%= link_to @sport.athletes.find(b.athlete_id).full_name, sport_athlete_path(@sport, b.athlete_id) %>&nbsp
                <% end %>
                <% if !b.coach.nil? and !b.coach.blank? %>
          		  Coach:
                  <%= link_to @sport.coaches.find(b.coach).full_name, sport_coach_path(b.sport, b.coach) %>
                <% end %>
                <% if user_signed_in? %>
                    <%= link_to "Comment", comment_sport_blog_path(@sport, b), class: "btn btn-xs btn-info" %>
                <% end %>
                <p>
              </div>
              </em>
            </div><p>
            <div class="row">
              <div class="col-xs-4">
                <% if b.external_url %>
                  <%= link_to b.external_url, b.external_url %>&nbsp
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-xs-offset-2">
          			<% if site_owner?(@sport) or (user_signed_in? and (current_user.id == user.id)) %>
          				<%= link_to "Edit", edit_sport_blog_path(b.sport, b, team_id: current_team.id),  class: "btn btn-xs btn-warning" %>
          				<%= link_to "Delete", sport_blog_path(b.sport, b),  method:	:delete,  class: "btn btn-xs btn-danger", data: { confirm: "You sure?" } %>
          			<% end %>
              </div>
            </div>
          </div>
        <% end %>
        <%= will_paginate blog %>
    </div>
  </div>
