<div class="row">
    <div class="span10">
        <% blog.each do |b| %>
            <div class="row">
                <div class="span10">
                    <h4><font color="blue"><%= b.title %></font></h4>
                    <% user = User.find(b.user) %>
                    <em>Blogger: <%= user.name %>
                    </em>
                </div>
            </div><p>
            <div class="row">
                <div class="span2">
                  <% if user.avatar.blank? %>
                    <%= link_to image_tag("Tiny_Photo_Not_Available.png"), user_path(user) %>
                  <% else %>
                    <%= link_to image_tag(user.avatar.url(:tiny)), user_path(user) %>
                  <% end %>
                </div>
                <div class="span6">
                  <%= b.entry %>
                </div>
            </div><p>
        <div class="row">
          <div class="span10">
          <em>
            Tags:<p>
      		<%= link_to b.sport.name, sport_path(b.sport) %>&nbsp
            <% if !b.team_id.nil? and !b.team_id.blank? %>
              <%= @sport.teams.find(b.team_id).team_name %>&nbsp
            <% end %>
            <% if !b.gameschedule.nil? and !b.gameschedule.blank? %>
              <%= link_to Gameschedule.find(b.gameschedule).game_name, sport_team_gameschedule_path(@sport, @sport.teams.find(b.team_id), b.gameschedule) %>
            <% end %>
            <% if !b.athlete_id.nil? and !b.athlete_id.blank? %>
              Athlete:
              <%= link_to @sport.athletes.find(b.athlete_id).full_name, sport_athlete_path(@sport, b.athlete_id) %>&nbsp
            <% end %>
            <% if !b.coach.nil? and !b.coach.blank? %>
      		  Coach:
              <%= link_to @sport.coaches.find(b.coach).full_name, sport_coach_path(b.sport, b.coach) %>
            <% end %>
            <%= link_to "Comment", comment_sport_blog_path(@sport, b), class: "btn btn-mini btn-info" %>
            <p>
          </em>
          </div>
        </div><p>
        <div class="row">
          <div class="span4">
            <% if b.external_url %>
              <%= link_to b.external_url, b.external_url %>&nbsp
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="span4 offset2">
      			<% if isAdmin? or (current_user.id == user.id) %>
      				<%= link_to "Edit", edit_sport_blog_path(b.sport, b),  class: "btn btn-mini btn-warning" %>
      				<%= link_to "Delete", sport_blog_path(b.sport, b),  method:	:delete,  class: "btn btn-mini btn-danger", data: { confirm: "You sure?" } %>
      			<% end %>
          </div>
        </div>
    <% end %>
  </div>
</div><p>
