<% provide(:title, @sport.sport_name + " - Blog Comment") %>
<p>
<div class="row">
	<div class="span10 offset1">
		<%= simple_form_for [@sport, @blog], :url => sport_blogs_path, :method => :post do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="row">
				<div class="span4">
					Blog Title Commenting on:<p>
					<%= @oldblog.title %><p>
					Blog Entry:<p>
					<%= @oldblog.entry %>
				</div>
				<%= f.input :title, as: :hidden, input_html: { value: "RE:" + @oldblog.title } %>
				<%= f.input :blogger, as: :hidden, input_html: { value: current_user.id.to_s } %>
				<%= f.input :external_url, as: :hidden, input_html: { value: @oldblog.external_url } %>
				<% if !@oldblog.team_id.nil? and !@oldblog.team_id.blank? %>
					<%= f.input :team_id, as: :hidden, input_html: { value: @oldblog.team_id } %>
				<% end %>
				<% if !@oldblog.athlete_id.nil? and !@oldblog.athlete_id.blank? %>
					<%= f.input :athlete_id, as: :hidden, input_html: { value: @oldblog.athlete_id } %>
				<% end %>
				<% if !@oldblog.coach.nil? and !@oldblog.coach.blank? %>
					<%= f.input :coach, as: :hidden, input_html: { value: "RE:" + @oldblog.coach } %>
				<% end %>
				<% if !@oldblog.gameschedule.nil? and !@oldblog.gameschedule.blank? %>
					<%= f.input :gameschedule, as: :hidden, input_html: { value: @oldblog.gameschedule } %>
				<% end %>
				<div class="span4 offset1">
					<%= f.input	:entry, as: :text, label:	"Add Comment:" %>
				</div>
			</div>
      		<div class="row">
  				<div class="span1 offset4">
  					<%= f.button :submit, "Submit", class: "btn btn-medium btn-primary" %>
  				</div>
      		</div>
		<% end %>	
	</div>	
</div>