<% provide(:title, @sport.sport_name + " - Blogs") %>
<p>
<div class="row">
  <div class="span10 offset1">
    <%= render 'blog', blog: @blogs %>
  </div>
</div>
<div class="row">
	<div class="span2 offset3">
		<%= link_to "New Blog", new_sport_blog_path(@sport), class: "btn btn-medium btn-primary" %>
	</div>
</div>
<div class="row">
	<div class="span10">
		<% if @blogs.any? %>
		    <div class="row">
		      	<div class="span2 offset1">
		  			<%= form_tag sport_blogs_path(@sport), method: :get, class: "form-horizontal" do %>
		        		<h5>Filter Blog by Athlete:</h5>
		        		<%= select_tag "player", options_from_collection_for_select(@athletes, "id", "full_name"), :include_blank => true %>
		        		<%= submit_tag 'Submit', class:	"btn btn-medium btn-primary" %>
		  			<% end %>
		      	</div>
		      	<div class="span2 offset1">
		  			<%= form_tag sport_blogs_path(@sport), method: :get, class: "form-horizontal" do %>
			        	<h5>Filter Blog by Coach:</h5>
			        	<%= select_tag "coachname", options_from_collection_for_select(@coaches, "id", "full_name"), :include_blank => true %>
			        	<%= submit_tag 'Submit', class:	"btn btn-medium btn-primary" %>
			  		<% end %>
			     </div>
			 </div>
			 <div class="row">
		      	<div class="span2 offset1">
		  			<%= form_tag sport_blogs_path(@sport), method: :get, class: "form-horizontal" do %>
		        		<h5>Filter Blog by Team:</h5>
		        		<%= select_tag "teamname", options_from_collection_for_select(@sport.teams, "id", "team_name"), :include_blank => true %>
				        <%= submit_tag 'Submit', class:	"btn btn-medium btn-primary" %>
				  	<% end %>
		      	</div>
		      	<div class="span2 offset1">
		  			<%= form_tag sport_blogs_path(@sport), method: :get, class: "form-horizontal" do %>
		        		<h5>Filter Blog by Game:</h5>
		        		<%= select_tag "teamname", options_from_collection_for_select(@sport.teams, "id", "team_name"), :include_blank => true %>
				        <%= submit_tag 'Submit', class:	"btn btn-medium btn-primary" %>
				  	<% end %>
		      	</div>
		    </div>
		    <p>
		<% else %>
			<h4>There are no news items for the entered search criteria.</h4><p>
		<% end %>
	</div>
</div>
