<table class="table table-bordered">
	<em>
	<thead>
		<th>Passing Attempts</th>
		<th>Passing Completions</th>
		<th>Completion Percentage</th>
		<th>Passing Yards</th>
		<th>Passing TD</th>
		<th>Passing Int</th>
		<th>Sacks</th>
		<th>Yards Lost</th>
		<th>Two Point Conversions</th>
	</thead>
	</em>
	<tbody>
		<td><%= passing.passing_attempts %></td>
		<td><%= passing.passing_completions %></td>
		<td><%= number_with_precision(passing.passing_comp_percentage, precision: 2) %></td>
		<td><%= passing.passing_yards %></td>
		<td><%= passing.passing_tds %></td>
		<td><%= passing.passing_int %></td>
		<td><%= passing.passing_sacks %></td>
		<td><%= passing.passing_yards_lost %></td>
		<td><%= passing.passing_twopointconv %></td>
	</tbody>
</table>
