<table class="table table-bordered">
	<em>
	<thead>
		<th>Receptions</th>
		<th>Receiving Yards</th>
		<th>Average</th>
		<th>Receiving TD</th>
		<th>Longest</th>
		<th>Fumbles</th>
		<th>Fumbles Lost</th>
	</thead>
	</em>
	<tbody>
		<td><%= receiving.receiving_receptions %></td>
		<td><%= receiving.receiving_yards %></td>
		<td><%= number_with_precision(receiving.receiving_average, precision: 2) %></td>
		<td><%= receiving.receiving_tds %></td>
		<td><%= receiving.receiving_longest %></td>
		<td><%= receiving.receiving_fumbles %></td>
		<td><%= receiving.receiving_fumbles_lost %></td>
	</tbody>
</table>
