<table class="table table-bordered">
	<em>
	<thead>
		<th>Rushing Attempts</th>
		<th>Rushing Yards</th>
		<th>Average</th>
		<th>Rushing TD</th>
		<th>Longest</th>
		<th>Fumbles</th>
		<th>Fumbles Lost</th>
	</thead>
	</em>
	<tbody>
		<td><%= rushing.rushing_attempts %></td>
		<td><%= rushing.rushing_yards %></td>
		<td><%= number_with_precision(rushing.rushing_average, precision: 2) %></td>
		<td><%= rushing.rushing_tds %></td>
		<td><%= rushing.rushing_longest %></td>
		<td><%= rushing.rushing_fumbles %></td>
		<td><%= rushing.rushing_fumbles_lost %></td>
	</tbody>
</table>
