<table class="table table-bordered">
	<em>
	<thead>
		<th>FG Attempts</th>
		<th>FG Made</th>
		<th>FG Blocked</th>
		<th>FG Long</th>
		<th>Extra Point Attempts</th>
		<th>Extra Points Made</th>
		<th>Missed</th>
		<th>Blocked</th>
	</thead>
	</em>
	<tbody>
		<td><%= specialteam.specialteams_fgattempts %></td>
		<td><%= specialteam.specialteams_fgmade %></td>
		<td><%= specialteam.specialteams_fgblocked %></td>
		<td><%= specialteam.specialteams_fglong %></td>
		<td><%= specialteam.specialteams_xpattempts %></td>
		<td><%= specialteam.specialteams_xpmade %></td>
		<td><%= specialteam.specialteams_xpmissed %></td>
		<td><%= specialteam.specialteams_xpblocked %></td>
	</tbody>
</table>
