<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span9 offset1">
		<%= render 'tabs', header: "specialteams" %>
		<p>
		<% if params[:games].nil? %>
			<div class="row">
				<div class="span6">
					<h4>Special Team Stats for <em><%= link_to @athlete.full_name, [@sport, @athlete] %></em></h4>
				</div>
				<% if !@athlete.pic.blank? %>
					<div class="span2 offset1">
						<%= link_to image_tag(@athlete.pic.url(:thumb)), sport_athlete_path(@sport, @athlete) %>
					</div>
				<% end %>
			</div>
			<p>
			<% if @specialteam.kickers_fgattempts > 0 %>
				<h5>Place Kicking stats for <em><%= link_to @athlete.full_name, [@sport, @athlete] %></em></h5>
				<p>
				<%= render 'specialteams_fgtotals', specialteam: @specialteam %>
			<% else %>
				<h5>No place kicker special team stats entered.</h5>
			<% end %>
			<br/>
			<% if @specialteam.kickers_koattempts > 0 %>
				<h5>Kickoff Stats for <em><%= link_to @athlete.full_name, [@sport, @athlete] %></em></h5>
				<p>
				<%= render 'specialteams_kototals', specialteam: @specialteam %>
			<% else %>
				<h5>No Kickoff special team stats entered.</h5>
			<% end %>
			<br/>
			<% if @specialteam.kickers_punts > 0 %>
				<h5>Punt Stats for <em><%= link_to @athlete.full_name, [@sport, @athlete] %></em></h5>
				<p>
				<%= render 'specialteams_punt_totals', specialteam: @specialteam %>
			<% else %>
				<h5>No punt special team stats entered.</h5>
			<% end %>
			<br/>
			<% if @specialteam.returners_punt_return > 0 %>
				<h5>Punt Return Stats for <em><%= link_to @athlete.full_name, [@sport, @athlete] %></em></h5>
				<p>
				<%= render 'specialteams_punt_return_totals', specialteam: @specialteam %>
			<% else %>
				<h5>No punt return special team stats entered.</h5>
			<% end %>
			<br/>
			<% if @specialteam.returners_koreturns > 0 %>
				<h5>Kickoff Return Stats for <em><%= link_to @athlete.full_name, [@sport, @athlete] %></em></h5>
				<p>
				<%= render 'specialteams_koreturn_totals', specialteam: @specialteam %>
			<% else %>
				<h5>No kickoff return special team stats entered.</h5>
			<% end %>
			<br/><p>
			<div class="row">
				<div class="span10 offset1">
					<% if isAdmin? or isTeamManager?(@athlete) %>
						<%= link_to "Add Place Kicker Stats", newstat_sport_athlete_football_stat_path(@sport, @athlete, id: "Kicker"), 
									class: "btn btn-mini btn-info" %>
						<%= link_to "Add Kickoff Stats", newstat_sport_athlete_football_stat_path(@sport, @athlete, id: "Kickoff"), 
									class: "btn btn-mini btn-info" %>
						<%= link_to "Add Punter Stats", newstat_sport_athlete_football_stat_path(@sport, @athlete, id: "Punter"), 
									class: "btn btn-mini btn-info" %>
						<%= link_to "Add Kick Returner Stats", newstat_sport_athlete_football_stat_path(@sport, @athlete, id: "Kick Returner"), 
									class: "btn btn-mini btn-info" %>
						<%= link_to "Add Punt Returner Stats", newstat_sport_athlete_football_stat_path(@sport, @athlete, id: "Punt Returner"), 
									class: "btn btn-mini btn-info" %>
					<% end %>
				</div>
			</div>
			<p>
			<% if @stats.count > 0 %>
				<div class="row">
					<div class="span10 offset1">
							<em>Click here to enter play by play stats!</em>
							<%= link_to "Game Stats", specialteams_sport_athlete_football_stats_path(@sport, @athlete, games: "games"), 
								class: "btn btn-small btn-primary" %>
					</div>
				</div>
			<% end %>
			<br/>
		<% else %>
			<p>
			<h5>Special Team game statistics for <em><%= link_to @athlete.full_name, [@sport, @athlete] %></em></h5>
			<p>
			<% @stats.each do |s| %>
				<% if !s.football_kickers.nil? %>
					<em><%= link_to s.gameschedule.game_name, [@sport, @athlete, s, s.football_kickers] %></em> - 
						<strong>Select to enter play by play stats for game</strong>
					<p>
					<% if !s.football_kickers.fgattempts.nil? || !s.football_kickers.xpattempts.nil? %>
						<h5>Place Kicking Statistics</h5>
						<table class="table table-bordered">
							<em>
							<thead>
								<th>FG Attempts</th>
								<th>FG Made</th>
								<th>FG Blocked</th>
								<th>FG Long</th>
								<th>Extra Point Attempts</th>
								<th>Extra Points Made</th>
								<th>Missed</th>
								<th>Blocked</th>
							</thead>
							</em>
							<tbody>
								<td><%= s.football_kickers.fgattempts %></td>
								<td><%= s.football_kickers.fgmade %></td>
								<td><%= s.football_kickers.fgblocked %></td>
								<td><%= s.football_kickers.fglong %></td>
								<td><%= s.football_kickers.xpattempts %></td>
								<td><%= s.football_kickers.xpmade %></td>
								<td><%= s.football_kickers.xpmissed %></td>
								<td><%= s.football_kickers.xpblocked %></td>
							</tbody>
						</table>
					<% else %>
						<h5>No Place Kicking stats entered for this game</h5>
					<% end %>
					<br/><p>
					<% if !s.football_kickers.koattempts.nil? %>
						<h5>Kickoff statistics</h5>
						<table class="table table-bordered">
							<em>
							<thead>
								<th>Kickoffs</th>
								<th>Touchbacks</th>
								<th>Returned</th>
							</thead>
							</em>
							<tbody>
								<td><%= s.football_kickers.koattempts %></td>
								<td><%= s.football_kickers.kotouchbacks %></td>
								<td><%= s.football_kickers.koreturned %></td>
							</tbody>
						</table>
					<% else %>
						<h5>No Kicking stats entered for this game</h5>
					<% end %>
					<p>
					<% if !s.football_kickers.punts.nil? %>
						<h5>Punt Statistics</h5>
						<p>
						<table class="table table-bordered">
							<em>
							<thead>
								<th>Punts</th>
								<th>Yards</th>
								<th>Long</th>
								<th>Blocked</th>
							</thead>
							</em>
							<tbody>
								<td><%= s.football_kickers.punts %></td>
								<td><%= s.football_kickers.punts_yards %></td>
								<td><%= s.football_kickers.punts_long %></td>
								<td><%= s.football_kickers.punts_blocked %></td>
							</tbody>
						</table>
					<% else %>
						<h5>No Punt Statistics entered for this game</h5>
					<% end %>
				<% end %>
				<p>
				<% if !s.football_returners.nil? %>
					<em><%= link_to s.gameschedule.game_name, [@sport, @athlete, s, s.football_returners] %></em>
					<p>
					<% if !s.football_returners.punt_return.nil? %>
						<h5>Punt Return Statistics</h5>
						<p>
						<table class="table table-bordered">
							<em>
							<thead>
								<th>Punt Returns</th>
								<th>Return Yards</th>
								<th>Return TD</th>
								<th>Return Long</th>
							</thead>
							</em>
							<tbody>
								<td><%= s.football_returners.punt_return %></td>
								<td><%= s.football_returners.punt_returnyards %></td>
								<td><%= s.football_returners.punt_returntd %></td>
								<td><%= s.football_returners.punt_returnlong %></td>
							</tbody>
						</table>
					<% else %>
						<h5>No Punt Return Statistics entered for this game</h5>
					<% end %>
					<p>
					<% if !s.football_returners.koreturns.nil? %>
						<h5>Kickoff Return Statistics</h5>
						<p>
						<table class="table table-bordered">
							<em>
							<thead>
								<th>Kickoff Returns</th>
								<th>Return TD</th>
								<th>Return Yards</th>
								<th>Return Long</th>
							</thead>
							</em>
							<tbody>
								<td><%= s.football_returners.koreturns %></td>
								<td><%= s.football_returners.kotd %></td>
								<td><%= s.football_returners.koyards %></td>
								<td><%= s.football_returners.kolong %></td>
							</tbody>
						</table>
					<% else %>
						<h5>No Kickoff Return Statistics entered for this game</h5>
					<% end %>
				<% end %>
			<% end %>	
		<% end %>
	</div>
</div>
<div class="row">
	<%= render "layouts/sponsor" %>
</div>