<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="col-xs-10">
		<%= render 'tabs', header: "defense" %>
		<p>
		<% if params[:games].nil? %>
			<div class="row">
				<div class="col-xs-6">
					<h4>Defensive stats for <em><%= link_to @athlete.full_name, [@sport, @athlete] %></em></h4>
				</div>
				<% if !@athlete.pic.blank? %>
					<div class="col-xs-2 col-xs-offset-1">
						<%= link_to image_tag(@athlete.pic.url(:thumb)), sport_athlete_path(@sport, @athlete) %>
					</div>
				<% end %>
			</div>
			<p>
			<%= render 'defense_totals', defense: @defense %>
			<div class="col-xs-8 col-xs-offset-2">
				<% if isAdmin?or isTeamManager?(@athlete) %>
					<%= link_to "Add defense Stats", newstat_sport_athlete_football_stat_path(@sport, @athlete, id: "defense"), 
								class: "btn btn-sm btn-info" %>
				<% end %>&nbsp
				<% if @stats.count > 0 %>
					<em>Click here to enter play by play stats:</em>
					<%= link_to "Game Stats", defense_sport_athlete_football_stats_path(@sport, @athlete, games: "games"), 
								class: "btn btn-sm btn-primary" %>
				<% end %>
			</div>
		<% else %>
			<p>
			<h4>List of defensive game statistics for <em><%= link_to @athlete.full_name, [@sport, @athlete] %></em></h4>
			<p>
			<% @stats.each do |s| %>
				<% if !s.football_defenses.nil? %>
					<em><%= link_to s.gameschedule.game_name, [@sport, @athlete, s, s.football_defenses] %></em>  - 
						<strong>Select to enter play by play stats for game</strong>
					<table class="table table-bordered">
						<em>
						<thead>
							<th>Tackles</th>
							<th>Assists</th>
							<th>Sacks</th>
							<th>Passes Defended</th>
							<th>Interceptions</th>
							<th>Return Yards</th>
							<th>Return Long</th>
							<th>TD</th>
							<th>Fumbles Recovered</th>
							<th>Safety</th>
						</thead>
						</em>
						<tbody>
							<td><%= s.football_defenses.tackles %></td>
							<td><%= s.football_defenses.assists %></td>
							<td><%= s.football_defenses.sacks %></td>
							<td><%= s.football_defenses.pass_defended %></td>
							<td><%= s.football_defenses.interceptions %></td>
							<td><%= s.football_defenses.int_yards %></td>
							<td><%= s.football_defenses.int_long %></td>
							<td><%= s.football_defenses.int_td %></td>
							<td><%= s.football_defenses.fumbles_recovered %></td>
							<td><%= s.football_defenses.safety %></td>
						</tbody>
					</table>
				<% end %>
			<% end %>	
			<div class="col-xs-4 col-xs-offset-4">
				<%= link_to "Defense Totals", defense_sport_athlete_football_stats_path(@sport, @athlete, id: "passing"), class: "btn btn-xs btn-primary" %>
			</div>
		<% end %>
	</div>
</div>
<div class="row">
	<%= render "layouts/sponsor" %>
</div>