<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span10">
		<%= render 'tabs', header: "rushing" %>
		<p>
		<% if params[:games].nil? %>
			<h4>Rushing stats for <em><%= link_to @athlete.full_name, [@sport, @athlete] %></em></h4>
			<p>
			<%= render 'rushing_totals', rushing: @rushing %>
			<div class="span4 offset3">
				<% if isAdmin? or isTeamManager?(@athlete) %>
					<%= link_to "Add Rushing Stats", newstat_sport_athlete_football_stat_path(@sport, @athlete, id: "rushing"), class: "btn btn-mini btn-primary" %>
				<% end %>
				<% if @stats.count > 0 %>
					<%= link_to "Game Stats", rushing_sport_athlete_football_stats_path(@sport, @athlete, games: "games"), 
						class: "btn btn-mini btn-primary" %>
				<% end %>
			</div>
		<% else %>
			<p>
			<h4>List of Rushing game statistics for <em><%= link_to @athlete.full_name, [@sport, @athlete] %></em></h4>
			<p>
			<% @stats.each do |s| %>
				<% if !s.football_rushings.nil? %>
					<em><%= link_to s.gameschedule.game_name, [@sport, @athlete, s, s.football_rushings] %></em>
					<table class="table table-bordered">
						<em>
						<thead>
							<th>Rushing Attempts</th>
							<th>Rushing Yards</th>
							<th>Average</th>
							<th>Rushing TD</th>
							<th>Longest</th>
							<th>Fumbles</th>
							<th>Fumbles Lost</th>
						</thead>
						</em>
						<tbody>
							<td><%= s.football_rushings.attempts %></td>
							<td><%= s.football_rushings.yards %></td>
							<td><%= number_with_precision(s.football_rushings.average, precision: 2) %></td>
							<td><%= s.football_rushings.td %></td>
							<td><%= s.football_rushings.longest %></td>
							<td><%= s.football_rushings.fumbles %></td>
							<td><%= s.football_rushings.fumbles_lost %></td>
						</tbody>
					</table>
				<% end %>
			<% end %>	
			<div class="span4 offset4">
				<%= link_to "Rushing Totals", rushing_sport_athlete_football_stats_path(@sport, @athlete, id: "rushing"), class: "btn btn-mini btn-primary" %>
			</div>
		<% end %>
	</div>
</div>
<div class="row">
	<%= render "layouts/sponsor" %>
</div>