<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span10">
		<%= render 'tabs', header: "receiving" %>
		<p>
		<% if params[:games].nil? %>
			<h4>Receiving stats for <em><%= link_to @athlete.full_name, [@sport, @athlete] %></em></h4>
			<p>
			<%= render 'receiving_totals', receiving: @receiving %>
			<div class="span8 offset2">
				<% if isAdmin? or isTeamManager?(@athlete) %>
					<%= link_to "Add Receiving Stats", newstat_sport_athlete_football_stat_path(@sport, @athlete, id: "receiving"), 
								class: "btn btn-small btn-info" %>
				<% end %>&nbsp
				<% if @stats.count > 0 %>
					<em>Click here to enter play by play stats:</em>
					<%= link_to "Game Stats", receiving_sport_athlete_football_stats_path(@sport, @athlete, games: "games"), 
								class: "btn btn-small btn-primary" %>
				<% end %>
			</div>
		<% else %>
			<p>
			<h4>List of receiving game statistics for <em><%= link_to @athlete.full_name, [@sport, @athlete] %></em></h4>
			<p>
			<% @stats.each do |s| %>
				<% if !s.football_receivings.nil? %>
					<em><%= link_to s.gameschedule.game_name, [@sport, @athlete, s, s.football_receivings] %></em> - 
						<strong>Select to enter play by play stats for game</strong>
					<table class="table table-bordered">
						<em>
						<thead>
							<th>Receptions</th>
							<th>Receiving Yards</th>
							<th>Average</th>
							<th>Receiving TD</th>
							<th>Longest</th>
							<th>Fumbles</th>
							<th>Fumbles Lost</th>
							<th>Two Point Conversions</th>
						</thead>
						</em>
						<tbody>
							<td><%= s.football_receivings.receptions %></td>
							<td><%= s.football_receivings.yards %></td>
							<td><%= number_with_precision(s.football_receivings.average, precision: 2) %></td>
							<td><%= s.football_receivings.td %></td>
							<td><%= s.football_receivings.longest %></td>
							<td><%= s.football_receivings.fumbles %></td>
							<td><%= s.football_receivings.fumbles_lost %></td>
							<td><%= s.football_receivings.twopointconv %></td>
						</tbody>
					</table>
				<% end %>
			<% end %>	
			<div class="span4 offset4">
				<%= link_to "Receiving Totals", receiving_sport_athlete_football_stats_path(@sport, @athlete, id: "receiving"), class: "btn btn-mini btn-primary" %>
			</div>
		<% end %>
	</div>
</div>
<div class="row">
	<%= render "layouts/sponsor" %>
</div>