<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span10 offset1">
		<%= simple_form_for [@sport, @athlete, @stat] do |f| %>
			<%= f.input :stattype, as: :hidden, input_html: { value: @stattype } %>
			<div class="row">
				<div class="span4 offset2">
					Select Game to enter stats:
					<%= select_tag :game, options_for_select(@games.collect{ |t| [t.game_name, t.id] })%>
				</div>
			</div>
				<p>
			<div class="row">
				<div class="span2 offset2">
					<% if @stattype == "specialteams" %>
						<%= select_tag :specialteams, options_for_select(special_teams_list) %>
					<% end %>
				</div>
			</div>
			<div class="row">
				<div class="span4 offset2">
					<% if @stattype != "receiving" %>
						Enter Stats by Game Total or Play by Play:
						<%= select_tag "stats", "<option>Game Totals</option><option>Play by Play</option>".html_safe %>
					<% else %>
						Stats for Receiving game totals. If you are looking for Play by Play stats for receivers, they are entered from the passing stats page.
					<% end %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="span1 offset3">
					<%= f.button :submit, 'Submit', class:	"btn btn-medium btn-primary" %>
				</div>
			</div>
		<% end %>
	</div>
</div>