<div class="row">
	<div class="span10">
		<h5><font color="blue">Adjust stats here. If you want to adjust a score, use the game page to delete the game log. Stats will be automatically adjusted when you remove the score.</font></h5>
	</div>
</div>
<%= hidden_field_tag "livestats", value=@live %>
<%= hidden_field_tag "gameschedule_id", value=@kicker.gameschedule_id.to_s %>
<div class="row">
	<div class="span2">
		<h5>Kickoff: <font color="blue"><%= @kicker.koattempts %></font></h5>
        <%= label_tag "Remove a Kickoff: " %>
        <%= check_box_tag "koattempts", '0' %>
	</div>
	<div class="span2 offset1">
 		<h5>Touchbacks: <font color="blue"><%= @kicker.kotouchbacks %></font></h5>
       <%= label_tag "Remove a Touchbacks: " %>
        <%= check_box_tag "kotouchbacks", 1 %>
	</div>
	<div class="span2 offset1">
 		<h5>Adjust return yards: <font color="blue"><%= @kicker.koreturned %></font></h5>
    	<%= label_tag "Adjust return yards: " %>
        <%= text_field_tag "koreturned", '0' %>
	</div>
</div>
<p>
<div class="row">
	<div class="span1 offset3">
		<%= submit_tag 'Submit', class:	"btn btn-medium btn-primary" %>
	</div>
</div>
