<%= simple_form_for [@sport, @athlete, @stat, @kicker] do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="row">
		<div class="span2">
			<%= f.input :koattempts, label: "Kickoff Attempts" %>
		</div>
		<div class="span2 offset1">
			<%= f.input :kotouchbacks, label: "Touchbacks" %>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<%= f.input :koreturned, label: "Kickoff Returned Yards" %>
		</div>
	</div>
	<p>
	<div class="row">
		<div class="span2 offset2">
			<%= f.button :submit, 'Submit', class:	"btn btn-medium btn-primary" %>
		</div>
	</div>
<% end %>
