<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span10 offset1">
		<em>Add Kicker/Punter Stats for: <%= link_to @athlete.full_name, sport_athlete_path(@sport, @athlete) %> for 
			<%= @stat.gameschedule.game_name %></em>
		<p>
		<%= form_tag kickoff_sport_athlete_football_stat_football_kickers_path(sport_id: @sport, athlete_id: @athlete, 
								football_stat_id: @stat, football_kicker_id: @kicker), class: "form-horizontal", method: 'get' do %>
			<%= render 'shared/error_messages', object: @kicker %>
			<!--div class="row">
				<div class="span2">
		            <%= label_tag "Quarter: " %>
					<%= select_tag "quarter", options_for_select(quarters) %>
				</div>
				<div class="span6 offset1">
		            <%= label_tag "Game Time (Needed for scoring summary. Optional for Kickoff and Punts): " %>
		            <%= text_field_tag "time", '00:00' %>
				</div>
			</div-->
			<p>
			<h4>Kickoffs</h4>
			<div class="row">
				<div class="span2">
		            <%= label_tag "Kickoff: " %>
		            <%= check_box_tag "koattempts", '0' %>
				</div>
				<div class="span2 offset1">
		            <%= label_tag "Touchbacks: " %>
		            <%= check_box_tag "kotouchbacks", 1 %>
				</div>
				<div class="span2 offset1">
		            <%= label_tag "Return yards: " %>
		            <%= text_field_tag "koreturned", '0' %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="span1 offset3">
					<%= submit_tag 'Submit', class:	"btn btn-medium btn-primary" %>
				</div>
			</div>
		<% end %>
	</div>
</div>
