<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<em>Add Kicker/Punter Stats for: <%= link_to @athlete.full_name, sport_athlete_path(@sport, @athlete) %> for 
			<%= @stat.gameschedule.game_name %></em>
		<p>
		<%= form_tag placekicker_sport_athlete_football_stat_football_kickers_path(sport_id: @sport, athlete_id: @athlete, 
								football_stat_id: @stat, football_kicker_id: @kicker), class: "form-horizontal", method: 'get' do %>
			<%= render 'shared/error_messages', object: @kicker %>
			<div class="row">
				<div class="col-xs-2">
		            <%= label_tag "Quarter: " %>
					<%= select_tag "quarter", options_for_select(quarters) %>
				</div>
				<div class="col-xs-6 col-xs-offset-1">
		            <%= label_tag "Game Time (Needed for scoring summary. Optional for Kickoff and Punts): " %>
		            <%= text_field_tag "time", '00:00' %>
				</div>
			</div>
			<p>
			<h4>Field Goals</h4>
			<div class="row">
				<div class="col-xs-1">
		            <%= label_tag "Made: " %>
		            <%= check_box_tag 'fgmade', 1 %>
				</div>
				<div class="col-xs-1 col-xs-offset-1">
		            <%= label_tag "Missed: " %>
		            <%= check_box_tag 'fgmissed', 1 %>
				</div>
				<div class="col-xs-1 col-xs-offset-1">
		            <%= label_tag "Blocked: " %>
		            <%= check_box_tag "fgblocked", 1 %>
				</div>
				<div class="col-xs-1 col-xs-offset-1">
		            <%= label_tag "Distance: " %>
		            <%= text_field_tag 'fglong', '0' %>
				</div>
			</div>
			<p>
			<h4>Extra Points</h4>
			<div class="row">
				<div class="col-xs-2">
		            <%= label_tag "Made: " %>
		            <%= check_box_tag 'xpmade', 1 %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
		            <%= label_tag "Missed: " %>
		            <%= check_box_tag 'xpmissed' %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
		            <%= label_tag "Blocked: " %>
		            <%= check_box_tag 'xpblocked', 1 %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="col-xs-1 col-xs-offset-3">
					<%= submit_tag 'Submit', class:	"btn btn-sm btn-primary" %>
				</div>
			</div>
		<% end %>
	</div>
</div>
