<div class="row">
	<div class="col-xs-11">
		<%= form_for [@admin], :input_html => { :class => 'form-horizontal' } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="row">
				<div class="col-xs-6">
					<%= f.label :streamingurl, "Streaming URL" %>
					<%= f.text_field :streamingurl, class: 'form-control' %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= f.label :streamingbucket, "Streaming Bucket" %>
					<%= f.text_field :streamingbucket, class: 'form-control' %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="col-xs-6">
					<%= f.label :pricingurl, "Pricing URL" %>
					<%= f.text_field :pricingurl, class: 'form-control' %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<%= f.label :iPhonePemAPN, "Upload PEM for iPhone Push Notifications" %>
					<%= f.file_field :iPhonePemAPN, class: 'form-control' %>
				</div>
				<div class="col-xs-4 col-xs-offset-1">
					<%= f.label :iPadPemAPN, "Upload PEM for iPad Push Notifications" %>
					<%= f.file_field :iPadPemAPN, class: 'form-control' %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="col-xs-6">
					<%= f.label :adurl, "Ad URL" %>
					<%= f.text_field :adurl, class: 'form-control' %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= f.label :adpercentage, "Ad Percentage Split" %>
					<%= f.text_field :adpercentage, class: 'form-control' %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="col-xs-2">
					<%= f.label :highlightAppVersion, "Highlights App Version" %>
					<%= f.text_field :highlightAppVersion, class: 'form-control' %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= f.label :broadcastAppVersion, "Broadcast App Version" %>
					<%= f.text_field :broadcastAppVersion, class: 'form-control' %>
				</div>
				<div class="col-xs-2 col-xs-offset-2">
					<%= f.label :disableads, "Disable All Site Ads" %>
					<%= f.check_box :disableads, class: 'form-control' %>
				</div>
				<div class="col-xs-3">
					<p class="text-danger">Checking this effects all Game Tracker sports. 
						Use the individual sport page to disable ads for one sport.</p>
				</div>
			</div>
			<div class="col-xs-2 col-xs-offset-5">
				<%= f.submit :submit, class: "btn btn-md btn-primary" %>
			</div>
		<% end %>
	</div>
</div>
