<% provide(:title, "Admin") %>
<p>
<div class="row">   
	<div class="col-xs-11">
		<div class="row">
			<div class="col-xs-6">
				<h5>Streaming URL: <p class="text-info"><%= @admin.streamingurl %></p></h5>				
			</div>
			<div class="col-xs-2 col-xs-offset-1">
				<h5>Streaming Bucket: <p class="text-info"><%= @admin.streamingbucket %></p></h5>
			</div>
		</div>
		<p>
		<div class="row">
			<div class="col-xs-6">
				<h5>Pricing URL: <p class="text-info"><%= @admin.pricingurl %></p></h5>				
			</div>
		</div>
		<p>
		<div class="row">
			<div class="col-xs-6">
				<h5>Ad URL: <p class="text-info"><%= @admin.adurl %></p></h5>				
			</div>
			<div class="col-xs-3 col-xs-offset-1">
				<h5>Ad Percentage Split: <p class="text-info"><%= @admin.adpercentage %></p></h5>				
			</div>
		</div>
		<p>
		<div class="row">
			<div class="col-xs-3">
				<h5>Ads Disabled Across all sports: <p class="text-info"><%= @admin.disableads %></p></h5>
			</div>
			<div class="col-xs-2 col-xs-offset-1">
				<h5>Highlights App Version: <p class="text-info"><%= @admin.highlightAppVersion %></p></h5>
			</div>
			<div class="col-xs-2 col-xs-offset-1">
				<h5>Broadcast App Version: <p class="text-info"><%= @admin.broadcastAppVersion %></p></h5>
			</div>
		</div>
		<p>
		<div class="row">
			<div class="col-xs-1 col-xs-offset-4">
      			<%= link_to "Edit", edit_admin_path(@admin),  class: "btn btn-md btn-primary" %>
      		</div>
      	</div>
	</div>
</div>