<div class="row">
	<div class="col-xs-12">
		<%= simple_form_for [@sport, @team, @gameschedule], 
							:defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="row">
				<div class="col-xs-4">
					<h4>
						<% if @gameschedule.nil? %>
							<%= link_to "Search for Eazesportz Opponent?", findsport_sport_team_gameschedules_path(sport: @sport.name) %>
						<% else %>
							<%= link_to "Search for Eazesportz Opponent?", 
										findsport_sport_team_gameschedules_path(sport: @sport.name, gameschedule_id: @gameschedule.id) %>
						<% end %>
					</h4>
				</div>
			</div>
			<% if @opposingsport.nil? %>
				<div class="row">
					<div class="col-xs-12">
						<h4>You can also enter opposing team information below if you could not find them in Eazesportz</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<%= f.input	:opponent, label: "Opponent Name" %>
					</div>
					<div class="col-xs-5">
						<%= f.input	:opponent_mascot, label: "Opponent Mascot" %>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						We encourage you to upload an image for your opponent if you have one. Looks good on the mobile app.<p>
						<% if !@gameschedule.opponentpic.blank? %>
							<h5>Current opponent image</h5>
							<%= image_tag @gameschedule.opponentpic.url(:thumb) %>
			          	<% else %>
			            	<%= image_tag "photo_not_available.png" %>
						<%end %>
						<%= f.input	:opponentpic,	label: "Opponent image:", hint: "Change image" %>
					</div>
				</div>
			<% else %>
				<%= f.input :opponent_sport_id, as: :hidden, input_html: { value: @opposingsport.id.to_s } %>
				<%= f.input :opponent_team_id, as: :hidden, input_html: { value: @opposingteam.id.to_s } %>

				<% if @opposingteam.team_logo? %>
					<%= f.input :opponentpic, as: :hidden, input_html: { value: @opposingteam.team_logo } %>
				<% elsif @opposingsport.sport_logo? %>
					<%= f.input :opponentpic, as: :hidden, input_html: { value: @opposingsport.sport_logo } %>
				<% end %>

				<h3>Selected Eazesportz Opposing Team</h3>
				<div class="row">
					<div class="col-xs-5">
						<%= f.input	:opponent, input_html: { value: @opposingteam.title } %>
					</div>
					<div class="col-xs-5">
						<% if @opposingteam.mascot.nil? %>
							<%= f.input :opponent_mascot, label: "Opponent Mascot", input_html: { value: @opposingsport.mascot } %>
						<% else %>
							<%= f.input	:opponent_mascot, label: "Opponent Mascot", input_html: { value: @opposingteam.mascot } %>
						<% end %>
					</div>
				</div>
				<p>
				<div class="row">
					<div class="col-xs-4">
						<% if @opposingteam.team_logo? %>
							<%= image_tag @opposingteam.team_logo.url(:thumb) %>
						<% elsif @opposingsport.sport_logo? %>
							<%= image_tag @opposingsport.sport_logo.url(:thumb) %>
			          	<% else %>
			          		<h5>Opposing team has no logo uploaded.</h5>
			            	<%= image_tag "photo_not_available.png" %>
						<%end %>
					</div>
				</div>
			<% end %>
			<p>
			<div class="row">
				<div class="col-xs-3">
					<%= f.input :startdate, label: "* Start Date", as: :string, input_html: { class: 'datepicker', 
											:value => @gameschedule.try(:gamedate).try(:strftime,'%m/%d/%Y') } %>
					<%= f.input :gamedate, :as => :hidden, :input_html => { :id => 'recorded-at-alt'} %>
					<!--%= f.input :gamedate,  as: :date, start_year: Date.today.year, start_month: Date.today, 
					 			ignore_time: true %-->
				</div>
				<div class="col-xs-1 col-xs-offset-1">
					<%= f.input :league, as: :radio_buttons, label: "League Game?" %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= f.input :homeaway, label: "Home Game?" , collection: [ "Home", "Away" ] %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-11">
					<%= f.input	:starttime, label: "Game Start Time:", as: :time, ignore_date: true, input_html: { style: "width: 50px" } %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h3>Game Location</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-5">
					<%= f.input :location %>
				</div>
				<div class="col-xs-5">
					<%= f.input	:event, hint:	"Senior day, Homecoming, etc.", required: false %>	
				</div>
			</div>
			<p>
			<div class="row">
				<div class="col-xs-2">
					<%= f.input :final, as: :boolean, label: "Mark game as final" %>
				</div>
			</div>
			<p>
			<% if !@gameschedule.opponent.nil? %>
				<div class="row">
					<div class="col-xs-12">
						<h4>Real Time Game Summary:</h4>
					</div>
				</div>
				<p>
				<div class="row">
					<div class="col-xs-11">
						<%= f.input :lastplay, label: "Last Play:" %>
					</div>
				</div>
				<p>
				<% if @sport.sportname == "Football" or @sport.name == "Basketball" %>
					<div class="row">
						<div class="col-xs-4">
							<%= f.input :livegametime, label: "Live Game Time:", as: :time, ignore_date: true, 
										input_html: { style: "width: 50px" } %>
							<!--%= f.input :current_game_time, label: "Game Time", input_html: { style: "width: 50px" } %-->
						</div>
						<div class="col-xs-1 col-xs-offset-1">
							<%= f.input :possession, collection: ["Home", "Opponent"], input_html: { style: "width: 80px" }  %>
						</div>
					</div>
				<% end %>
				<% if @sport.sportname == "Football" %>
					<%= render 'footballform', f: f %>
				<% elsif @sport.sportname == "Basketball" %>
					<%= render 'basketballform', f: f %>
				<% elsif @sport.sportname == "Soccer" %>
					<%= render 'soccerform', f: f %>
				<% end %>
			<% end %>
			<p>
			<div class="col-xs-1 col-xs-offset-5">
				<%= f.button :submit, "Submit", class: "btn btn-sm btn-primary" %>
			</div>
		<% end %>	
	</div>	
</div>
