<div class="row">
	<div class="span10 offset1">
		<%= simple_form_for [@sport, @team, @gameschedule], html: { class: 'form-horizontal' } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.input :startdate, as: :string, input_html: { class: 'datepicker', :value => @gameschedule.try(:gamedate).try(:strftime,'%m/%d/%Y') } %>
			<%= f.input :gamedate, :as => :hidden, :input_html => { :id => 'recorded-at-alt'} %>
			<!--%= f.input :gamedate,  as: :date, start_year: Date.today.year, start_month: Date.today, 
			 			ignore_time: true %-->
			<%= f.input	:starttime, label: "Start Time:", as: :time, ignore_date:  true %>
			<div class="row">
				<div class="span4">
					<%= f.input :homeaway, label: "Home or Away?" %>
				</div>
				<div class="span4">
					<%= f.input	:opponent %>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<%= f.input :location %>
				</div>
				<div class="span5">
					<%= f.input	:event, hint:	"Senior day, Homecoming, etc.", required: false %>	
				</div>
			</div>
			<p>
			<h5>Game Score:</h5>
			<p>
			<div class="row">
				<div class="span1">
					<%= f.input :homeq1, label: "Q1 Score", input_html: { style: "width: 50px" } %>
				</div>
				<div class="span1 offset1">
					<%= f.input :homeq2, label: "Q2 Score", input_html: { style: "width: 50px" } %>
				</div>
				<div class="span1 offset1">
					<%= f.input :homeq3, label: "Q3 Score", input_html: { style: "width: 50px" }%>
				</div>
				<div class="span1 offset1">
					<%= f.input :homeq4, label: "Q4 Score", input_html: { style: "width: 50px" } %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="span4">
					<h4><%= @team.team_name %>: <%= @gameschedule.homeq1 + @gameschedule.homeq2 + @gameschedule.homeq3 + @gameschedule.homeq4 %></h4>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="span1">
					<%= f.input :opponentq1, label: "Q1 Score", input_html: { style: "width: 50px" } %>
				</div>
				<div class="span1 offset1">
					<%= f.input :opponentq2, label: "Q2 Score", input_html: { style: "width: 50px" } %>
				</div>
				<div class="span1 offset1">
					<%= f.input :opponentq3, label: "Q3 Score", input_html: { style: "width: 50px" }%>
				</div>
				<div class="span1 offset1">
					<%= f.input :opponentq4, label: "Q4 Score", input_html: { style: "width: 50px" } %>
				</div>
			</div>
			<p>
			<% if !@gameschedule.opponent.nil? %>
				<div class="row">
					<div class="span4">
						<h4><%= @gameschedule.opponent %>: <%= @gameschedule.opponentq1 + @gameschedule.opponentq2 + @gameschedule.opponentq3 + 
								@gameschedule.opponentq4 %></h4>
					</div>
				</div>
			<% end %>
			<p>
			<div class="span1 offset3">
				<%= f.button :submit, "Submit", class: "btn btn-medium btn-primary" %>
			</div>
		<% end %>	
	</div>	
</div>
