<div class="row">
	<div class="col-xs-12">
		<%= form_for [@sport, @team, @gameschedule], :input_html => { :class => 'form-horizontal' } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="row">
				<div class="col-xs-6">
					<h4>
						<% if @gameschedule.nil? %>
							<%= link_to "Search for Eazesportz Opponent?", findsport_sport_team_gameschedules_path(sport: @sport.name) %>
						<% else %>
							<%= link_to "Search for Eazesportz Opponent?", 
										findsport_sport_team_gameschedules_path(sport: @sport.name, gameschedule_id: @gameschedule.id) %>
						<% end %>
					</h4>
				</div>
			</div>
			<% if @opposingsport.nil? %>
				<div class="row">
					<div class="col-xs-12">
						<h4>You can also enter opposing team information below if you could not find them in Eazesportz</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<%= f.text_field :opponent, placeholder: 'Opponent', class: 'form-control' %>
					</div>
					<div class="col-xs-5">
						<%= f.text_field :opponent_mascot, placeholder: 'Opponent Mascot', class: 'form-control' %>
					</div>
				</div>
				<p>
				<div class="row">
					<div class="col-xs-8">
						We encourage you to upload an image for your opponent if you have one. Looks good on the mobile app.<p>
						<h5>Current opponent image</h5>
						<%= image_tag opponentimage(@gameschedule) %>
						<p>
						<%= f.label 'Opponent Logo' %>
						<%= f.file_field :opponentpic, class: 'form-control' %>
					</div>
				</div>
			<% else %>
				<%= f.hidden_field :opponent_sport_id, value: @opposingsport.id.to_s %>
				<%= f.hidden_field :opponent_team_id, value: @opposingteam.id.to_s %>

				<% if @opposingteam.team_logo? %>
					<%= f.hidden_field :opponentpic, value: @opposingteam.team_logo %>
				<% elsif @opposingsport.sport_logo? %>
					<%= f.hidden_field :opponentpic, value: @opposingsport.sport_logo %>
				<% end %>

				<h3>Selected Eazesportz Opposing Team</h3>
				<div class="row">
					<div class="col-xs-5">
						<%= f.text_field :opponent, value: @opposingteam.title , class: 'form-control'%>
					</div>
					<div class="col-xs-5">
						<% if @opposingteam.mascot.nil? %>
							<%= f.text_field :opponent_mascot, value: @opposingsport.mascot, class: 'form-control' %>
						<% else %>
							<%= f.text_field :opponent_mascot, value: @opposingteam.mascot , class: 'form-control'%>
						<% end %>
					</div>
				</div>
				<p>
				<div class="row">
					<div class="col-xs-4">
						<%= image_tag opponentimage(@gameschedule) %>
					</div>
				</div>
			<% end %>
			<p>
			<div class="row">
				<div class="col-xs-2">
					<%= f.label "Game Date" %>
					<%= f.text_field :startdate, as: :string,  class: 'datepicker form-control', 
											:value => @gameschedule.try(:gamedate).try(:strftime,'%m/%d/%Y')  %>
					<%= f.hidden_field :gamedate, :id => 'recorded-at-alt' %>
				</div>
				<div class="col-xs-2">
					<h4>Game Time:</h4>
				</div>
				<div class="col-xs-1" %>
					<%= label_tag "Hour" %><label id='game_start_hour'></label>		
					<%= select_tag "starthour", options_for_select((01 .. 12), include_blank: false), class: 'form-control' %>
				</div>
				<div class="col-xs-1" %>
					<%= label_tag "Minute" %>
					<%= select_tag "startminutes", options_for_select((00 .. 59), include_blank: false), class: 'form-control' %>
				</div>
				<div class="col-xs-1" %>
					<%= label_tag :ampm, "AMPM" %>
					<!--%= select_tag "ampm", options_for_select(['AM', 'PM'], @gameschedule.starttime.strftime("%p") == "AM" ? "AM" : "PM" ), class: 'form-control' %-->
					<%= select_tag "ampm", options_for_select(['AM', 'PM'], include_blank: false), class: 'form-control' %>
				</div>
				<div class="col-xs-2">
					<%= f.label "League Game" %>
					<%= f.check_box :league %>
				</div>
				<div class="col-xs-2">
					<%= f.label :home_game, "Home Game?" %>
					<%= f.select :homeaway, [ "Home", "Away" ], {}, class: 'form-control' %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="col-xs-6">
					<%= f.label "Game Location" %>
					<%= f.text_field :location, class: 'form-control' %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<%= f.label  "Event" %>
					<%= f.text_field :event, placeholder: "Senior day, Homecoming, etc.", class: 'form-control' %>	
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= f.label "Mark game as final" %>
					<%= f.check_box :final %>
				</div>
			</div>
			<p>
			<div class="col-xs-1 col-xs-offset-5">
				<%= f.submit :submit, class: "btn btn-sm btn-primary" %>
			</div>
		<% end %>	
	</div>	
</div>
<script>
	$('#starthour').find('option').each(function() {
		var $this = $(this);
		if ($this.text() == moment('<%= @gameschedule.starttime.to_s %>').utc().format("h")) {
			$this.attr('selected','selected');
			return false;
		}
	});
	$('#startminutes').find('option').each(function() {
		var $this = $(this);
		if ($this.text() == moment('<%= @gameschedule.starttime.to_s %>').utc().format("m")) {
			$this.attr('selected','selected');
			return false;
		}
	});
	$('#ampm').find('option').each(function() {
		var $this = $(this);
		if ($this.text() == moment('<%= @gameschedule.starttime.to_s %>').utc().format("A")) {
			$this.attr('selected','selected');
			return false;
		}
	});
</script>
