<ul class="nav nav-pills">
    <!--li><%= link_to current_team.mascot + "  Game Schedule", sport_team_gameschedules_path(@sport, current_team) %></li-->
    <li><%= link_to "Standings", sport_team_standings_path(@sport, current_team) %></li>
</ul>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <th>Date</th>
        <th>Opponent</th>
        <th>Score</th>
        <th>W/L</th>
    </thead>
    <% if !gameschedules.nil? %>
        <tbody>
            <% gameschedules.each do |g| %>
                <tr>
                    <td><%= g.gamedate.strftime("%m/%d") %></td>
                    <% if g.homeaway == "Away" %>
                        <td><%= link_to g.league ? "@" + g.opponent_mascot + "*" : "@" + g.opponent_mascot, 
                                sport_team_gameschedule_path(@sport, current_team, g) %></td>
                    <% else %>
                        <td><%= link_to g.league ? g.opponent_mascot + "*" : g.opponent_mascot, 
                                sport_team_gameschedule_path(@sport, current_team, g) %></td>
                    <% end %>
                    <td><%= footballhomescore(@sport, g).to_s + "-" + (g.opponentq1 + g.opponentq2 + g.opponentq3 + g.opponentq4).to_s %></td>
                    <td>
                        <% if g.starttime < Time.now or g.final %>
                            <%= footballhomescore(@sport, g) > (g.opponentq1 + g.opponentq2 + g.opponentq3 + g.opponentq4) ? "W" : 
                                footballhomescore(@sport, g) == (g.opponentq1 + g.opponentq2 + g.opponentq3 + g.opponentq4) ? "T" : "L" %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    <% else %>
        </tbody>
            <tr><td>No Schedule!</td></tr>
        </tbody>
    <% end %>
</table>
<p class="text-info">* Denotes league game</p>
<% if site_owner? %>
    <%= link_to "Add Game", new_sport_team_gameschedule_path(@sport, current_team), class: "btn btn-xs btn-primary" %>
<% end %>
