<table class="table table-bordered">
	<em>
	<thead>
		<th>Player</th>
		<th>Attempts</th>
		<th>Completions</th>
		<th>Comp. Percentage</th>
		<th>Yards</th>
		<th>TD</th>
		<th>Int</th>
		<th>Sacks</th>
		<th>Yards Lost</th>
	</thead>
	</em>
	<tbody>
		<% ath_totals.each do |a| %>
			<% if !a.football_passings.nil? %>
				<tr>
					<td><%= Athlete.find(a.athlete).logname %></td>
					<td><%= a.football_passings.attempts %></td>
					<td><%= a.football_passings.completions %></td>
					<td><%= number_with_precision(a.football_passings.comp_percentage, precision: 2) %></td>
					<td><%= a.football_passings.yards %></td>
					<td><%= a.football_passings.td %></td>
					<td><%= a.football_passings.interceptions %></td>
					<td><%= a.football_passings.sacks %></td>
					<td><%= a.football_passings.yards_lost %></td>
				</tr>
			<% end %>
		<% end %>
		<tr>
			<td><strong>Totals:</strong></td>
			<td><%= passing.passing_attempts %></td>
			<td><%= passing.passing_completions %></td>
			<td><%= number_with_precision(passing.passing_comp_percentage, precision: 2) %></td>
			<td><%= passing.passing_yards %></td>
			<td><%= passing.passing_tds %></td>
			<td><%= passing.passing_int %></td>
			<td><%= passing.passing_sacks %></td>
			<td><%= passing.passing_yards_lost %></td>
		</tr>
	</tbody>
</table>