<table class="table table-bordered">
	<em>
	<thead>
		<th>Player</th>
		<th>FG Attempts</th>
		<th>FG Made</th>
		<th>FG Blocked</th>
		<th>FG Long</th>
		<th>Extra Point Attempts</th>
		<th>Extra Points Made</th>
		<th>Missed</th>
		<th>Blocked</th>
	</thead>
	</em>
	<tbody>
		<% ath_totals.each do |a| %>
			<% if !a.football_kickers.nil? %>
				<tr>
					<td><%= Athlete.find(a.athlete_id.to_s).logname %></td>
					<td><%= a.football_kickers.fgattempts %></td>
					<td><%= a.football_kickers.fgmade %></td>
					<td><%= a.football_kickers.fgblocked %></td>
					<td><%= a.football_kickers.fglong %></td>
					<td><%= a.football_kickers.xpattempts %></td>
					<td><%= a.football_kickers.xpmade %></td>
					<td><%= a.football_kickers.xpmissed %></td>
					<td><%= a.football_kickers.xpblocked %></td>
				</tr>
			<% end %>
		<% end %>
		<tr>
			<td><strong>Totals:</strong></td>
			<td><%= specialteam.kickers_fgattempts %></td>
			<td><%= specialteam.kickers_fgmade %></td>
			<td><%= specialteam.kickers_fgblocked %></td>
			<td><%= specialteam.kickers_fglong %></td>
			<td><%= specialteam.kickers_xpattempts %></td>
			<td><%= specialteam.kickers_xpmade %></td>
			<td><%= specialteam.kickers_xpmissed %></td>
			<td><%= specialteam.kickers_xpblocked %></td>
		</tr>
	</tbody>
</table>
