<table class="table table-bordered">
	<em>
	<thead>
		<th>Player</th>
		<th>Punt Returns</th>
		<th>Return Yards</th>
		<th>Return TD</th>
		<th>Return Long</th>
	</thead>
	</em>
	<tbody>
		<% ath_totals.each do |a| %>
			<% if !a.football_returners.nil? and (a.football_returners.punt_return != 0) %>
				<tr>
					<td><%= Athlete.find(a.athlete_id.to_s).logname %></td>
					<td><%= a.football_returners.punt_return %></td>
					<td><%= a.football_returners.punt_returnlong %></td>
					<td><%= a.football_returners.punt_returntd %></td>
					<td><%= a.football_returners.punt_returnlong %></td>
				</tr>
			<% end %>
		<% end %>
		<tr>
			<td><strong>Totals:</strong></td>
			<td><%= specialteam.returners_punt_return %></td>
			<td><%= specialteam.returners_punt_returnyards %></td>
			<td><%= specialteam.returners_punt_returntd %></td>
			<td><%= specialteam.returners_punt_returnlong %></td>
		</tr>
	</tbody>
</table>
