<div class="row">
	<div class="col-xs-1">
		<%= f.input :homeq1, label: "Q1 Score", input_html: { style: "width: 50px" } %>
	</div>
	<div class="col-xs-1 col-xs-offset-1">
		<%= f.input :homeq2, label: "Q2 Score", input_html: { style: "width: 50px" } %>
	</div>
	<div class="col-xs-1 col-xs-offset-1">
		<%= f.input :homeq3, label: "Q3 Score", input_html: { style: "width: 50px" }%>
	</div>
	<div class="col-xs-1 col-xs-offset-1">
		<%= f.input :homeq4, label: "Q4 Score", input_html: { style: "width: 50px" } %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<h4><%= @team.mascot %> : <%= @gameschedule.homeq1 + @gameschedule.homeq2 + @gameschedule.homeq3 + @gameschedule.homeq4 %></h4>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-1">
		<%= f.input :opponentq1, label: "Q1 Score", input_html: { style: "width: 50px" } %>
	</div>
	<div class="col-xs-1 col-xs-offset-1">
		<%= f.input :opponentq2, label: "Q2 Score", input_html: { style: "width: 50px" } %>
	</div>
	<div class="col-xs-1 col-xs-offset-1">
		<%= f.input :opponentq3, label: "Q3 Score", input_html: { style: "width: 50px" }%>
	</div>
	<div class="col-xs-1 col-xs-offset-1">
		<%= f.input :opponentq4, label: "Q4 Score", input_html: { style: "width: 50px" } %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<h4><%= @gameschedule.opponent_mascot %>: <%= @gameschedule.opponentq1 + @gameschedule.opponentq2 + @gameschedule.opponentq3 + 
				@gameschedule.opponentq4 %></h4>
	</div>
</div>
