<% if @sport.sportname == "Basketball" %>
	<h4>Real Time Game Summary:</h4>
	<h3>
	<div class="row">
		<div class="span2">
			<%= image_tag get_team_logo(@sport, @team) %>
		</div>
		<div class="span1">
			<%= @team.mascot %>
		</div>
		<div class="span3">
		</div>
		<div class="span2">
			<% if @opposingteam %>
				<%= image_tag get_team_logo(@opposingsport, @opposingteam) %>
			<% else %>
				<% if @gameschedule.opponentpic? %>
					<%= image_tag @gameschedule.opponentpic.url(:tiny) %>
				<% else %>
					<%= image_tag 'photo_not_available.png' %>
				<% end %>
				<% if isAdmin? %>
					<%= render 'uploadopponent' %>
				<% end %>
			<% end %>
		</div>
		<div class="span1">
			<%= @gameschedule.opponent_mascot %>
		</div>
	</div>
	</h3>
	<h1><font color="blue">
	<div class="row">
		<div class="span2 offset1">
			<%= basketball_home_score(@gameschedule) %>
		</div>
		<div class="span1 offset1">
			<%= @gameschedule.livegametime.strftime("%I:%M") %>
		</div>
		<div class="span2 offset3">
			<%= @gameschedule.opponentscore %>
		</div>
	</div>
	</font></h1>
	<div class="row">
		<div class="span3">
			<table class="table table-bordered">
				<thead>
					<th>Fouls</th>
					<th>Bonus</th>
					<th>Time Outs</th>
				</thead>
				<tbody>
					<td><%= basketball_home_fouls(@gameschedule) %></td>
					<% if @gameschedule.homebonus %>
						<td><strong><font color="red">Bonus</font></strong></td>
					<% else %>
						<td></td>
					<% end %>
					<td><%= @gameschedule.hometimeouts %></td>
				</tbody>
			</table>
		</div>
		<div class="span1 offset1">
			<table class="table table-bordered">
				<thead>
					<th>Period</th>
				</thead>
				<tbody>
					<td><%= @gameschedule.currentperiod %></td>
				</tbody>
			</table>
		</div>
		<div class="span3 offset2">
			<table class="table table-bordered">
				<thead>
					<th>Fouls</th>
					<th>Bonus</th>
					<th>Time Outs</th>
				</thead>
				<tbody>
					<td><%= @gameschedule.opponentfouls %></td>
					<% if @gameschedule.visitorbonus %>
						<td><strong><font color="red">Bonus</font></strong></td>
					<% else %>
						<td></td>
					<% end %>
					<td><%= @gameschedule.opponenttimeouts %></td>
				</tbody>
			</table>
		</div>
	</div>
	<table class="table table-bordered">
		<thead>
			<th>Game Time</th>
			<th>Possession</th>
			<th>Possession Arrow</th>
		</thead>
		<tbody>
			<td><%= @gameschedule.livegametime.strftime("%I:%M") %></td>
			<td><%= @gameschedule.possession %></td>
			<td><%= @gameschedule.bballpossessionarrow %></td>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<th>Last Play:</th>
		</thead>
		<tbody>
			<td><%= @gameschedule.lastplay %></td>
		</tbody>
	</table>
	<table class="table table-bordered">
		<%= render "basketball_stats/stat_header", name: "Player" %>
		<% @players.each do |a| %>
			<% @thestat = nil %>
			<% @stats.each do |s| %>
				<% if a.id == s.athlete_id %>
					<% @thestat = s %>
					<% break %>
				<% end %>
			<% end %>
			<% if @thestat %>
				<%= render "basketball_stats/stat_body", stat: @thestat, name: "Player" %>
			<% else %>
				<%= render "basketball_stats/stat_body", stat: BasketballStat.new(gameschedule: @gameschedule.id, athlete: a.id), 
							name: "Player" %>					
			<% end %>
		<% end %>
	</table>
	<!--%= render 'basketball_stats/stats', bballstats: @stats, name: "Player" %-->
<% end %>
