<div class="row">
	<div class="col-xs-12">
		<div id="scoreboard_boxscore">
			<%= render 'footballscoreboard' %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
      	<ul class="nav nav-pills">
          	<li><%= link_to "Team", '#', :class => 'team_gametotals' %></li>
          	<li><%= link_to "Offense", '#', :class => 'passing_stats' %></li>
          	<li><%= link_to "Defense", '#', :class => 'defense_gametotals' %></li>
          	<li><%= link_to "Kick", '#', :class => 'kicker_gametotals' %></li>
          	<li><%= link_to "Return", '#', :class => 'returner_gametotals' %></li>
       	</ul>
       	<div id="stattotals">
       		<%= render 'teamfootballtotals' %>
       	</div>
       	<%= link_to "Game Stats", allfootballgamestats_sport_team_gameschedule_path(@sport, current_team, @gameschedule), 
       				class: "btn btn-sm btn-info" %>
	</div>
	<div class="col-xs-6">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<th>Score Log</th>
				<% if site_owner?(@sport) or isTeamManager?(@gameschedule) %>
					<th>Edit</th>
					<th>Delete</th>
				<% end %>
			</thead>
			<tbody>
				<% @gamelogs.each do |g| %>
					<tr>
						<td><%= g.logentrytext %></td>
					 	<% if site_owner?(@sport) or isTeamManager?(@gameschedule) %>
					 		<td><%= link_to "Edit", edit_sport_team_gameschedule_gamelog_path(@sport, @team, @gameschedule, g), 
					 					class: "btn btn-xs btn-warning" %></td>
					 		<td><%= link_to "Delete", [@sport, @team, @gameschedule, g], method: :delete,
					 					class: "btn btn-xs btn-danger", data: { confirm: "You sure?" } %></td>
					 	<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
		<% if site_owner?(@sport) or isTeamManager?(@gameschedule) %>
			<em>Score entries are added automatically when you add scoring stats and automatically computed.</em>
			<h5 class="text-danger">Be careful editing game log data manually. If you create or update a log entry your stats can get out of sync. If you want to edit an existing log entry, it is much better to delete the entry and update the stats for the players involved in the score. The system will automatically generate a new log.</h5>
			<!--%= link_to "New Gamelog", new_sport_team_gameschedule_gamelog_path(@sport, @team, @gameschedule), 
		  					class: "btn btn-sm btn-primary" %-->
				<br>
		<% end %>
	</div>
</div>
<p>
<% if !@gameschedule.lastplay.nil? %>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<th>Last Play:</th>
		</thead>
		<tbody>
			<td><%= @gameschedule.lastplay %></td>
		</tbody>
	</table>
<% end %>
<%= render 'layouts/messagemodal', modalid: 'upgradestatsmodal', modaltitle: 'Upgrade for Stats', 
			messagetext: 'Click on "Manage Game Tracker Package" in Tools menu to upgrade!' %>
