<h4>Real Time Game Summary:</h4>
<h3>
<div class="row">
	<div class="span2">
		<%= image_tag get_team_logo(@sport, @team) %>
	</div>
	<div class="span1">
		<%= @team.mascot %>
	</div>
	<div class="span3">
	</div>
	<div class="span2">
		<% if @opposingteam %>
			<%= image_tag get_team_logo(@opposingsport, @opposingteam) %>
		<% else %>
			<% if @gameschedule.opponentpic? %>
				<%= image_tag @gameschedule.opponentpic.url(:tiny) %>
			<% else %>
				<%= image_tag 'photo_not_available.png' %>
			<% end %>
			<% if isAdmin? %>
				<%= render 'uploadopponent' %>
			<% end %>
		<% end %>
	</div>
	<div class="span1">
		<%= @gameschedule.opponent_mascot %>
	</div>
</div>
</h3>
<h1><font color="blue">
<div class="row">
	<div class="span2 offset1">
		<%= @gameschedule.homescore %>
	</div>
	<div class="span3">
	</div>
	<div class="span2 offset1">
		<%= @gameschedule.opponentscore %>
	</div>
</div>
</font></h1>
<h4>
<div class="row">
	<div class="span1">
		Shots
	</div>
	<div class="span1">
		C/K
	</div>
	<div class="span1">
		Saves
	</div>
	<div class="span1 offset1">
		Period
	</div>
	<div class="span1 offset1">
		Shots
	</div>
	<div class="span1">
		C/K
	</div>
	<div class="span1">
		Saves
	</div>
</div>
</h4>
<h4>
<font color="blue">
<div class="row">
	<div class="span1">
		<%= @soccerhomesog %>
	</div>
	<div class="span1">
		<%= @soccerhomeck %>
	</div>
	<div class="span1">
		<%= @soccerhomesaves %>
	</div>
	<div class="span1 offset1">
		<%= @gameschedule.currentperiod %>
	</div>
	<div class="span1 offset1">
		<%= @gameschedule.socceroppsog %>
	</div>
	<div class="span1">
		<%= @gameschedule.socceroppck %>
	</div>
	<div class="span1">
		<%= @gameschedule.socceroppsaves %>
	</div>
</div>
</font>
</h4>
<h4>Goalie Stats</h4>
<h4>Stats for game <%= @gameschedule.game_name %></h4>
<table class="table table-bordered">
	<%= render "soccers/goalieheader", name: "Player" %>
	<% @goalies.each do |a| %>
		<% @thestat = nil %>
		<% @stats.each do |b| %>
			<% if a.id == b.athlete_id %>
				<% @thestat = b %>
				<% break %>
			<% end %>
		<% end %>
		<% if @thestat and is_soccer_goalie?(a.position) %>
			<%= render "soccers/goaliebody", stat: @thestat, name: "Player" %>
		<% elsif is_soccer_goalie?(a.position) %>
			<%= render "soccers/goaliebody", stat: Soccer.new(gameschedule: @gameschedule.id, athlete: a.id), name: "Player" %>
		<% end %>
	<% end %>
</table>
<h4>Player Stats</h4>
<table class="table table-bordered">
	<%= render "soccers/playerstatsheader", name: "Player" %>
	<% @players.each do |a| %>
		<% @thestat = nil %>
		<% @stats.each do |b| %>
			<% if a.id == b.athlete_id %>
				<% @thestat = b %>
				<% break %>
			<% end %>
		<% end %>
		<% if @thestat and hasSoccerPlayerStats?(@thestat) %>
			<%= render "soccers/playerstatsbody", stat: @thestat, name: "Player" %>
		<% else %>
			<%= render "soccers/playerstatsbody", stat: Soccer.new(gameschedule: @gameschedule.id, athlete: a.id), name: "Player" %>
		<% end %>
	<% end %>
</table>
