<div class="row">
	<div class="span8">
		<h5><font color="red">Home corner kicks and shots on goal are automatically computed from stats</font></h5>
	</div>
</div>
<div class="row">
	<div class="span2">
		<%= label_tag "Home Shots on Goal:" %>
		<%= @soccerhomesog %>
	</div>
	<div class="span2">
		<%= label_tag "Home Corner Kicks:" %>
		<%= @soccerhomeck %>
	</div>
	<div class="span2">
		<%= label_tag "Home Saves:" %>
		<%= @soccerhomeck %>
	</div>
</div>
<div class="row">
	<div class="span2 ">
		<%= f.input :socceroppsog, label: "Opponent Shots on Goal", input_html: { style: "width: 50px" } %>
	</div>
	<div class="span2">
		<%= f.input :socceroppck, label: "Opponent Corner Kicks:", input_html: { style: "width: 50px" } %>
	</div>
	<div class="span2 ">
		<%= f.input :socceroppsaves, label: "Opponent Saves", input_html: { style: "width: 50px" } %>
	</div>
</div>
