<div class="row">
	<div class="col-xs-8">
		<h5><font color="red">Home corner kicks and shots on goal are automatically computed from stats</font></h5>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-2">
		<%= label_tag "Home Shots on Goal:" %>
		<%= @soccerhomesog %>
	</div>
	<div class="col-xs-2">
		<%= label_tag "Home Corner Kicks:" %>
		<%= @soccerhomeck %>
	</div>
	<div class="col-xs-2">
		<%= label_tag "Home Saves:" %>
		<%= @soccerhomeck %>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-2 ">
		<%= f.label "Opponent Shots on Goal" %>
		<%= f.text_field :socceroppsog, class: 'form-control' %>
	</div>
	<div class="col-xs-2">
		<%= f.label "Opponent Corner Kicks" %>
		<%= f.text_field :socceroppck, class: 'form-control' %>
	</div>
	<div class="col-xs-2 ">
		<%= f.label "Opponent Saves" %>
		<%= f.text_field :socceroppsaves, class: 'form-control' %>
	</div>
</div>
