<% provide(:title, current_site.sitename + " " + @sport.sportname + " - Game Schedule") %>
<script>
	function foo(poo) {
		var m = moment(poo).utc().format('hh:mm A')
		var x = document.getElementById("poopoo");
		x.innerHTML=m;
	}
	$('#gamestarttime').ready(function() {
		var $this = $(this);
		var m = moment($this.text()).utc().format("hh:mm A"));
		var x = document.getElementById("poopoo");
		x.innerHTML=m;		
	});
</script>
<div class="row">
  <div class="col-xs-11">
		<table class="table table-hover">
			<thead> 
				<tr>
					<th>Game</th>
					<th>Date</th>
					<th>Home/Away</th>
					<th>Opponent</th>
					<th>Time</th>
					<th>Location</th>
					<th>Event</th>
					<th>Score</th>
					<th>Summary</th>
					<% if user_signed_in? and user_pics_ok? %>
						<th>Photos</th>
					<% end %>
					<% if user_signed_in? and user_videos_ok? %>
						<th>Photos</th>
					<% end %>
				</tr>
			</thead>
	        <% @gameschedules.each_with_index do |g, count| %>
	          	<tbody>
		          	<tr>
		          		<td><%= link_to (count += 1), [@sport, @team, g] %></td>
		          		<td><%= g.gamedate.strftime("%m/%d/%Y") %></td>
		          		<td><%= g.homeaway %></td>
		          		<td><% if g.league? %>
		          				<%= "* " + g.opponent_name %>
		          			<% else %>
		          				<%= g.opponent_name %>
		          			<% end %>
		          		<td><%= div_for(g, class: "gamestarttime") do %><%= g.starttime %><% end %><!--%= g.starttime.strftime("%I:%M%p") %--></td>
		          		<td><%= g.location %></td>
		          		<td><%= g.event %></td>

		          		<% if g.final == true
		          			if footballhomescore(@sport, g) > g.opponentscore
		          				result = "W "
		          		   	else footballhomescore(@sport, g) < g.opponentscore
		          		   		result = "L "
		          		    end 
		          		   else
		          		   	result = ""
		          		   end %>

		          		<td><%= result + footballhomescore(@sport, g).to_s + "-" + g.opponentscore.to_s %></td>
		          		<td><%= link_to "Summary", sport_team_gameschedule_path(@sport, @team, g), class: "btn btn-xs btn-primary" %></td>
						<% if user_signed_in? and user_pics_ok? %>
							<td><%= link_to "Photo", newschedule_sport_photo_path(@sport, g), class: "btn btn-xs btn-primary" %></td>
						<% end %>
						<% if user_signed_in? and user_videos_ok? %>
							<td><%= link_to "Video", newschedule_sport_videoclip_path(@sport, g), class: "btn btn-xs btn-primary" %></td>
						<% end %>
		          	</tr>
		        </tbody>
	        <% end %>
		</table>
		<h5>* - Denotes league game</h5>
	</div>
</div>
<div class="row">
  <div class="center">
		<div class="col-xs-1 col-xs-offset-5">
			<% if site_owner? or isTeamManager?(@gameschedules.first) %>
				<%= link_to "Add", new_sport_team_gameschedule_path(@sport, @team), class: "btn btn-primary" %>	
			<% end %>
		</div>
	</div>
</div>
<div class="row">
	<%= render 'layouts/sponsor' %>
</div>
