<% provide(:title, current_site.sitename + " " + @sport.sportname + " - Game Schedule") %>
<div class="row">
  <div class="span10">
		<table class="table table-hover">
			<thead> 
				<tr>
					<th>Team</th>
					<th>Game</th>
					<th>Date</th>
					<th>Home/Away</th>
					<th>Opponent</th>
					<th>Time</th>
					<th>Location</th>
					<th>Event</th>
					<th>Score</th>
					<th>Details</th>
					<% if user_signed_in? and user_pics_ok? %>
						<th>Photos</th>
					<% end %>
					<% if user_signed_in? and user_videos_ok? %>
						<th>Photos</th>
					<% end %>
				</tr>
			</thead>
	        <% @gameschedules.each_with_index do |g, count| %>
	          	<tbody>
		          	<tr>
		          		<td><%= link_to (@team.title + " " + @team.mascot), [@sport, @team, g] %></td>
		          		<td><%= link_to (count += 1), [@sport, @team, g] %></td>
		          		<td><%= g.gamedate.strftime("%m/%d/%Y") %></td>
		          		<td><%= g.homeaway %></td>
		          		<td><% if g.league? %>
		          				<%= g.opponent_name + " *" %>
		          			<% else %>
		          				<%= g.opponent_name %>
		          			<% end %>
		          		<td><%= g.starttime.strftime("%I:%M%p") %></td>
		          		<td><%= g.location %></td>
		          		<td><%= g.event %></td>

		          		<% if g.final == true
		          			if footballhomescore(@sport, g) > g.opponentscore
		          				result = "W "
		          		   	else footballhomescore(@sport, g) < g.opponentscore
		          		   		result = "L "
		          		    end 
		          		   else
		          		   	result = ""
		          		   end %>

		          		<td><%= result + footballhomescore(@sport, g).to_s + "-" + g.opponentscore.to_s %></td>
		          		<td><%= link_to "Details", sport_team_gameschedule_path(@sport, @team, g), class: "btn btn-mini btn-primary" %></td>
						<% if user_signed_in? and user_pics_ok? %>
							<td><%= link_to "Photo", newschedule_sport_photo_path(@sport, g), class: "btn btn-mini btn-primary" %></td>
						<% end %>
						<% if user_signed_in? and user_videos_ok? %>
							<td><%= link_to "Video", newschedule_sport_videoclip_path(@sport, g), class: "btn btn-mini btn-primary" %></td>
						<% end %>
		          	</tr>
		        </tbody>
	        <% end %>
		</table>
		<h5>* - Denotes league game</h5>
	</div>
</div>
<div class="row">
  <div class="center">
		<div class="span1 offset4">
			<% if isAdmin? or isTeamManager?(@gameschedules.first) %>
				<%= link_to "Add", new_sport_team_gameschedule_path(@sport, @team), class: "btn btn-primary" %>	
			<% end %>
		</div>
	</div>
</div>
<div class="row">
	<%= render 'layouts/sponsor' %>
</div>

