<% provide(:title, current_site.sitename + " " + @sport.name + " - Schedule Details") %>
<p>
<div class="row">
  	<div class="span9 offset1">
  		<table class="table table-bordered">
	  		<% if @sport.name == "Football" %>
	  			<h4>
	           		Date: <%= @gameschedule.gamedate.strftime("%m/%d/%Y") %>
	           		<p>
	         		<%= @team.title + " " + @team.mascot %>
	         		vs.
	          		<%= @gameschedule.opponent %> at 
	          		<em><%= @gameschedule.location %></em>
	          		<p>
	          		Game time: <%= @gameschedule.starttime.strftime("%I:%M%p") %>
	          		<%= @gameschedule.event %>
          		</h4>
          		<p>
  				Game Summary
	  			<thead>
	  				<th>Team</th>
	  				<th>Q1</th>
	  				<th>Q2</th>
	  				<th>Q3</th>
	  				<th>Q4</th>
	  				<th>Final</th>
	  			</thead>
	  			<tbody>
	  				<tr>
		  				<td><%= @team.team_name %></td>
		  				<td><%= @gameschedule.homeq1 %></td>
		  				<td><%= @gameschedule.homeq2 %></td>
		  				<td><%= @gameschedule.homeq3 %></td>
		  				<td><%= @gameschedule.homeq4 %></td>
		  				<td><%= @gameschedule.homeq1 + @gameschedule.homeq2 + @gameschedule.homeq3 + @gameschedule.homeq4 %></td>
		  			</tr>
		  			<tr>
		  				<td><%= @gameschedule.opponent %></td>
		  				<td><%= @gameschedule.opponentq1 %></td>
		  				<td><%= @gameschedule.opponentq2 %></td>
		  				<td><%= @gameschedule.opponentq3 %></td>
		  				<td><%= @gameschedule.opponentq4 %></td>
		  				<td><%= @gameschedule.opponentq1 + @gameschedule.opponentq2 + @gameschedule.opponentq3 + @gameschedule.opponentq4 %></td>
		  			</tr>
	  			</tbody>
	  		<% elsif @sport.name == "Basketball" %>
	  			<thead>
	  				<th>First Half</th>
	  				<th>Second Half</th>
	  			</thead>
	  			<tbody>
	  				<td><%= @gameschedule.h1 %></td>
	  				<td><%= @gameschedule.h2 %></td>
	  			</tbody>
	  		<% else %>
	  		<% end %>
	  	</table>
	  	<% if isAdmin? or isTeamManager?(@gameschedule) %>
	  		<div class="center">
	  			<%= link_to "Edit", edit_sport_team_gameschedule_path(@sport, @team, @gameschedule), 
	  					class: "btn btn-medium btn-warning" %>
	  			<%= link_to "Delete", [@sport, @team, @gameschedule],  method:	:delete, class: "btn btn-medium btn-danger",
	  			 		data: { confirm: "You sure?" } %>
				<%= link_to "Add", new_sport_team_gameschedule_path(@sport, @team), class: "btn btn-primary" %>	
			</div>
		<% end %>	  	
	  	<p>
	  	<h4><em>Game Log</em></h4>
	  	<p>
		<% @gamelogs.each do |g| %>
			<div class="row">
				<div class="span8">
				 	<%= g.period %>:
				 	<%= g.time %> - 
				 	<%= g.logentry %> - 
				 	<%= g.score %>
				 	<% if isAdmin? or isTeamManager?(@gameschedule) %>
				 		<%= link_to "Delete", [@sport, @team, @gameschedule, g], method: :delete,
				 					class: "btn btn-mini btn-danger", data: { confirm: "You sure?" } %>
				 	<% end %>
				 </div>
			</div>
		<% end %>
		<% if isAdmin? or isTeamManager?(@gameschedule) %>
		  	Enter score entry. Scoring entries will be ordered first to last by time.</h6><br/>
	  		<em>Score entries are added automatically when you add scoring stats and automatically computed . You can override the and edit the entries below.
	  		<p>
		  	You can also add opposing team entires here if you choose. You will have to edit the score update above to add the opponents score.</em>
	  		<%= render "gamelogs/gamelog_form" %>
		<% end %>
		<% if !@stats.nil? %>
		  	<p>
		  	<h4><em>Game Statistics</em></h4>
		  	<p>
		  	<h5>Passing</h5>
			<%= render 'passing', passing: @stats, ath_totals: @ath_totals %>
		  	<p>
		  	<h5>Rushing</h5>
			<%= render 'rushing', rushing: @stats, ath_totals: @ath_totals %>
		  	<p>
		  	<h5>Receiving</h5>
			<%= render 'receiving', receiving: @stats, ath_totals: @ath_totals %>
		  	<p>
		  	<h5>Defense</h5>
			<%= render 'defense', defense: @stats, ath_totals: @ath_totals %>
		  	<p>
		  	<h5>Special Teams Placekicking</h5>
			<%= render 'placekicker', specialteam: @stats, ath_totals: @ath_totals %>
		  	<p>
		  	<h5>Special Teams Kickoff</h5>
			<%= render 'kickoff', specialteam: @stats, ath_totals: @ath_totals %>
		  	<p>
		  	<h5>Special Teams Punts</h5>
			<%= render 'punter', specialteam: @stats, ath_totals: @ath_totals %>
		  	<p>
		  	<h5>Special Teams Punt Returns</h5>
			<%= render 'puntreturn', specialteam: @stats, ath_totals: @ath_totals %>
		  	<p>
		  	<h5>Special Teams Kickoff Returns</h5>
			<%= render 'kickoffreturn', specialteam: @stats, ath_totals: @ath_totals %>
		<% end %>
	</div>
</div>