<% provide(:title, current_site.sitename + " " + @sport.sportname + " - Schedule Details") %>
<p>
<div class="row">
  	<div class="span10">
		  <h4>
       		Date: <%= @gameschedule.gamedate.strftime("%m/%d/%Y") %>
       		<p>
     		<%= @team.title + " " + @team.mascot %>
     		vs.
      		<%= @gameschedule.opponent %> at 
      		<em><%= @gameschedule.location %></em>
      		<p>
      		Game time: <%= @gameschedule.starttime.strftime("%H:%M%P") %>
      		<%= @gameschedule.event %>
  		</h4>
  		<% if @sport.sportname == "Basketball" %>
  			<%= render 'show_basketball' %>
  		<% elsif @sport.sportname == "Football" %>
  			<%= render 'show_football' %>
  		<% elsif @sport.sportname == "Soccer" %>
        <%= render 'show_soccer' %>
		<% end %>
		<p>
	  	<% if isAdmin? or isTeamManager?(@gameschedule) %>
	  		<div class="center">
	  			<%= link_to "Edit", edit_sport_team_gameschedule_path(@sport, @team, @gameschedule), 
	  					class: "btn btn-medium btn-warning" %>
	  			<%= link_to "Delete", [@sport, @team, @gameschedule],  method:	:delete, class: "btn btn-medium btn-danger",
	  			 		data: { confirm: "You sure?" } %>
				<%= link_to "Add", new_sport_team_gameschedule_path(@sport, @team), class: "btn btn-primary" %>	
			</div>
		<% end %>	  	
	  	<p>
	</div>
</div>