<% provide(:title, current_site.sitename + " " + @sport.sportname + " - Schedule Details") %>
<p>
<div class="row">
  	<div class="col-xs-11">
		  <h4>Date: <%= @gameschedule.gamedate.strftime("%m/%d/%Y") %></h4>
       		<p>
     	<h4><%= @team.title + " " + @team.mascot %> vs. <%= @gameschedule.opponent %> at <em><%= @gameschedule.location %></em></h4>
      		<p>
      <h4>Game time: <label id='game_start_time'></label></h4>
      <h4><%= @gameschedule.event %></h4>
  		<% if @sport.sportname == "Basketball" %>
  			<%= render 'show_basketball' %>
  		<% elsif @sport.sportname == "Football" %>
  			<%= render 'show_football' %>
  		<% elsif @sport.sportname == "Soccer" %>
        <%= render 'show_soccer' %>
		<% end %>
		<p>
	  	<% if isAdmin? or isTeamManager?(@gameschedule) %>
	  		<div class="center">
	  			<%= link_to "Edit", edit_sport_team_gameschedule_path(@sport, @team, @gameschedule), 
	  					class: "btn btn-sm btn-warning" %>
	  			<%= link_to "Delete", [@sport, @team, @gameschedule],  method:	:delete, class: "btn btn-sm btn-danger",
	  			 		data: { confirm: "You sure?" } %>
				<%= link_to "Add", new_sport_team_gameschedule_path(@sport, @team), class: "btn btn-sm btn-primary" %>	
			</div>
		<% end %>	  	
	  	<p>
	</div>
</div>
<script>
  $('#game_start_time').html(moment('<%= @gameschedule.starttime.to_s %>').utc().format("hh:mm A"));
</script>
