<% provide(:title, current_site.sitename + " " + @sport.sportname + " - Schedule Details") %>
<div id="loadgamescripts">
	<%= render 'show.js' %>
</div>
<p>
<div class="row">
  	<div class="col-xs-11">
  		<div class="row">
  			<div class="col-xs-3">
		  		<h4><p class="text-info"><%= @gameschedule.gamedate.strftime("%m/%d/%Y") %> at <label id='game_start_time'></label></p></h4>  
		  	</div>
		  	<div class="col-xs-8">
     			<h4><p class="text-info"><%= @team.title + " " + @team.mascot %> vs. <%= @gameschedule.opponent_name %> at <%= @gameschedule.location %></P</h4>
     		</div>
      	</div>
      	<div class="row">
      		<div class="col-xs-11">
      			<p class="text-success">All times are in current local time.</p>
      		</div>
      	</div>
      	<% if !@gameschedule.event.nil? and !@gameschedule.event.blank? %>
	      	<div class="row">
	      		<div class="col-xs-1">
	      			<p class="text-info">Event:</p>
	      		</div>
	      		<div class="col-xs-4">
					<p class="text-info"><%= @gameschedule.event %></p>
				</div>
			</div>
		<% end %>
  		<% if @sport.sportname == "Basketball" %>
  			<%= render 'gameschedules/basketball/show_basketball' %>
  		<% elsif @sport.sportname == "Football" %>
  			<%= render 'show_football' %>
  		<% elsif @sport.sportname == "Soccer" %>
        <%= render 'gameschedules/soccer/show_soccer' %>
		<% end %>
		<p>
	  	<% if site_owner? or isTeamManager?(@gameschedule) %>
	  		<div class="center">
	  			<%= link_to "Edit", edit_sport_team_gameschedule_path(@sport, @team, @gameschedule), class: "btn btn-sm btn-warning" %>
	  			<%= link_to "Delete", [@sport, @team, @gameschedule],  method:	:delete, class: "btn btn-sm btn-danger", 
	  									data: { confirm: "You sure?" } %>
				<%= link_to "Add", new_sport_team_gameschedule_path(@sport, @team), class: "btn btn-sm btn-primary" %>	
			</div>
		<% end %>	  	
	  	<p>
	</div>
</div>
<script>
  $('#game_start_time').html(moment('<%= @gameschedule.starttime.to_s %>').utc().format("hh:mm A"));
</script>
