<div class="row">
	<div class="col-xs-12">
    <%= form_for @sport,  html: { multipart: true }, :defaults => { :input_html => { :class => "form-control" } } do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
      <div class="row">
        <div class="col-xs-5">
          <h5>Enter name of site (ex. My School, Laguna Hills Pop Warner)</h5>
        </div>
        <div class="col-xs-5">
          <h5>Mascot will be used for all teams. If your teams have different mascots. Ex: Pee Lions, Jr. Pee Wee Mustangs you will have the opportunity to enter a mascot for that team on the team page</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <%= f.label :site_name, "Site Name" %>
          <%= f.text_field :sitename, class: 'form-control' %>
        </div>
        <div class="col-xs-5">
          <%= f.label :mascot %>
          <%= f.text_field :mascot, class: 'form-control'  %>
        </div>
      </div>
      <p>
      <div class="row">
        <div class="col-xs-3">
          <% if @sport.has_stats? %>
              <h4>Current Sport: <em><font color="red"><%= @sport.sportname %></font></em></h4>
          <!--% elsif @sport.name %-->
              <!--%= f.input :name,  label:  "Sport Name", 
                                  hint: "Enter sport name does not have a stat package but all other features will be available." %-->
          <% else %>
              <h5>Basketball mobile apps are under development. Contact us for a timeline on when development will be completed.</h5>
              <%= f.label :sport_name, "Sport Name" %>
              <%= f.select :sportname, sports_list, include_blank: true, class: 'form-control' %>
          <% end %>
        </div>
        <% if @sport.name == "Basketball" %>
          <div class="col-xs-1 col-xs-offset-1">
            <%= f.label :periods %>
            <%= f.select :periods,["2", "4"], {}, class: 'form-control' %>
          </div>
        <% end %>
      </div>
      <p>
      <div class="row">
        <div class="col-xs-11">
          <h5>Enter location information. If you have a zip, enter it and we will try and derive city and state from it. You can also enter your state/province and city/town. This will be used by fans to find your site on mobile devices. If your zip does not match the state/provice or city/town you enter, then the zip code derived data will be used.</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <%= f.label :country %>
          <%= f.country_select :country, ["United States"], {}, class: 'form-control' %>
        </div>
        <div class="col-xs-2">
            <%= f.label :zip %>
            <%= f.text_field :zip, class: 'form-control' %>
        </div>
      </div>
      <p>
      <div class="row">
        <div class="col-xs-2">
          <%= f.label "State/Province" %>
          <%= f.text_field :state, class: 'form-control' %>
        </div>
        <div class="col-xs-4 col-xs-offset-1">
            <%= f.label :city %>
            <%= f.text_field :city, class: 'form-control' %>
        </div>
      </div>
      <p>
      <div class="row">
  			<div class="col-xs-2">
          <%= f.label :year %>
  				<%= f.text_field :year, class: 'form-control' %>
  			</div>
        <div class="col-xs-2 col-xs-offset-1">
          <%= f.label :season %>
  				<%= f.select :season, ["Fall","Winter","Spring","Summer"], {}, class: 'form-control' %>
  			</div>
      </div>
      <p>
      <div class="row">
          <div class="col-xs-2">
            Allow user managed pics
          </div>
          <div class="col-xs-1">
            <%= f.label :user_pics, "User Pics" %>
            <%= f.check_box :enable_user_pics %>
          </div>
          <div class="col-xs-8">
            If you enable user pics, a user will be able to upload, edit and delete the pics they post. You can leave this unchecked and choose 
            to only have the admin or team manager upload photos. Photos will not be viewable until they are approved if you enable the approval feature.
          </div>
      </div>
      <p>
      <div class="row">
          <div class="col-xs-2">
            Allow user managed videos
          </div>
          <div class="col-xs-1">
            <%= f.label :user_video, "User Video" %>
            <%= f.check_box :enable_user_video %>
          </div>
          <div class="col-xs-8">
            If you enable user videos, a user will be able to upload, edit and delete the vidoes they post. You can leave this unchecked and choose to only have an admin or team manager approve videos. Videos will not be viewable until they are approved if you enable the approval feature.
          </div>
      </div>
      <p>
      <div class="row">
          <div class="col-xs-2">
            Review Photo's and Video's before posting?
          </div>
          <div class="col-xs-1">
            <%= f.label :review_media, "Review Media" %>
            <%= f.check_box :review_media %>
          </div>
          <div class="col-xs-8">
            Check this if you want to review all video and photos before your fans see them. Checking this will result in a delay before your users can post photo's or videos. If you don't check this, you can always review what your fans post as often as you like and delete any material you deem inapproptiate.
          </div>
      </div>
      <div class="row">
        	<div class="col-xs-11">
          		<h4>Current teams:</h4><p>
          		<% if @sport.teams.count >= 1 %>
            		<%= render 'teams/team', sport: @sport, team: @sport.teams %>
          		<% else %>
            		None
          		<% end %><p>
				      <% if !@sport.created_at.nil?%>
          			<%= link_to "Add Team", new_sport_team_path(@sport), class: "btn btn-sm btn-primary" %>
				      <% end %>
       		</div>
      </div>
      <p>
      <div class="row">
        <div class="col-xs-11">
            <h5>Below you will be able to upload your site banner and logo. You will be able to change them at anytime. Recommended sizes for each are:
              <p>
              <ul>
                <li>Banner:     1000x400</li>
                <li>Logo:       150x150</li>
                <!--li>Background: 1600x1200</li-->
              </ul>
            <p>
            You must use jpg/jpeg or png images for the banner and logo. If you do not upload a banner, none will be displayed for your site. Use GIMP, Photoshop or some other image manipulation program to create banners and logos. 
            </h5>
             <p>
            <li><h4><em>LOGO</em></h4><h5>Logo will also be used for mobile displays on iPhones and iPads. If your logo is an image with a size other than 150x150, upload it and it will be automatically be resized. We will resize your logo's to create thumbnails to fit the image format on mobile devices.</h5>
            </li>
            <p>
        </div>
      </div>
      <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                Updating Sport...
            </p>
        </div>
      </div><p>
      <div class="row">
        <div class="col-xs-11">
          <% if !@sport.sport_banner.blank? %>
            <h4>Sport banner image</h4>
            <%= image_tag @sport.sport_banner.url(:medium), class: 'img-responsive' %>
          <% else %>
            <h4>Enter a banner for your site.</h4> 
          <% end %>
        </div>
      </div>
      <p>
      <div class="row">
        <div class="col-xs-4">
          <%= f.file_field  :sport_banner, class: 'form-control' %>
        </div>
      </div>
      <p>
      <div class="row">
        <div class="row">
          <div class="col-xs-3">
            <p class="text-info">Position banner on upper left of page</p>
            <%= f.radio_button :bannerpos, "left" %>
            <%= f.label :left %>
          </div>
          <div class="col-xs-3 col-xs-offset-1">
            <p class="text-info">Position banner on upper center of page</p>
            <%= f.radio_button :bannerpos, "center" %>
            <%= f.label :center %>
          </div>
          <div class="col-xs-3 col-xs-offset-1">
            <p class="text-info">Position banner on upper right of page</p>
            <%= f.radio_button :bannerpos, "right" %>
            <%= f.label :right %>
          </div>
        </div>
      </div>
      <p>
      <div class="row"> 
   			<div class="col-xs-2">
  				<% if !@sport.sport_logo.blank? %>
  					<h4>Current Sport Logo</h4>
  					<%= image_tag @sport.sport_logo.url(:thumb), class: 'img-responsive' %>
          <% else %>
            <h4>Eneter a logo for your sport.</h4>
              <%= image_tag "NotAvailable.jpg", class: 'img-responsive' %>
          <% end %>
        </div>
      </div>
      <p>
      <div class="row">
        <div class="col-xs-4">
  					<%= f.file_field	:sport_logo, class: 'form-control' %>
  			</div>
        <!--div class="col-xs-4 col-xs-offset-1">
            <h4>BACKGROUND. Background for your site pages. Remember, white will be used if not entered.</h4>
            <% if !@sport.background.blank? %>
              Current background:<p>
              <%= image_tag @sport.background.url(:thumb) %>
            <% end %>
            <%= f.file_field :background %>
        </div-->
      </div>
      <p>
      <div class="row">
        <div class="col-xs-11">
          <h4 class="text-info">Select your the theme for your site. This will be the background of your site and will also provide highlights for buttons, menus, etc. All themes are courtesy of Twitter Bootstrap</h4>
        </div>
      </div>
      <p>
      <div class="row">
        <div class="col-xs-2">
          <%= image_tag 'amelia.png', { class: 'img-responsive', width: '100px', height: '100px' } %>
          <%= f.radio_button :cssstyle, "amelia" %> 
          <%= f.label :amelia %>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
          <%= image_tag 'cerulean.png', { class: 'img-responsive', width: '100px', height: '100px' } %>
          <%= f.radio_button :cssstyle, "cerulean" %> 
          <%= f.label :cerulean %>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
          <%= image_tag 'cosmo.png', { class: 'img-responsive', width: '100px', height: '100px' } %>
          <%= f.radio_button :cssstyle, "cosmo" %> 
          <%= f.label :cosmo %>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
          <%= image_tag 'cyborg.png', { class: 'img-responsive', width: '100px', height: '100px' } %>
          <%= f.radio_button :cssstyle, "cyborg" %> 
          <%= f.label :cyborg %>
        </div>
      </div>
      <p>
      <div class="row">
        <div class="col-xs-2">
          <%= image_tag 'flatly.png', { class: 'img-responsive', width: '100px', height: '100px' } %>
          <%= f.radio_button :cssstyle, "flatly" %> 
          <%= f.label :flatly %>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
          <%= image_tag 'journal.png', { class: 'img-responsive', width: '100px', height: '100px' } %>
          <%= f.radio_button :cssstyle, "journal" %> 
          <%= f.label :journal %>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
          <%= image_tag 'readable.png', { class: 'img-responsive', width: '100px', height: '100px' } %>
          <%= f.radio_button :cssstyle, "readable" %> 
          <%= f.label :readble %>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
          <%= image_tag 'simplex.png', { class: 'img-responsive', width: '100px', height: '100px' } %>
          <%= f.radio_button :cssstyle, "simplex" %> 
          <%= f.label :simplex %>
        </div>
      </div>
      <p>
      <div class="row">
        <div class="col-xs-2">
          <%= image_tag 'slate.png', { class: 'img-responsive', width: '100px', height: '100px' } %>
          <%= f.radio_button :cssstyle, "application" %> 
          <%= f.label :slate %>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
          <%= image_tag 'spacelab.png', { class: 'img-responsive', width: '100px', height: '100px' } %>
          <%= f.radio_button :cssstyle, "spacelab" %> 
          <%= f.label :spacelab %>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
          <%= image_tag 'united.png', { class: 'img-responsive', width: '100px', height: '100px' } %>
          <%= f.radio_button :cssstyle, "united" %> 
          <%= f.label :united %>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
          <%= image_tag 'yeti.png', { class: 'img-responsive', width: '100px', height: '100px' } %>
          <%= f.radio_button :cssstyle, "yeti" %> 
          <%= f.label :yeti %>
        </div>
      </div>
<%
=begin %>
      <div class="row">
        <div class="col-xs-11">
          <h4 class="text-success">If your sport supports live streaming, you can adjust your settings below. You can change these settings also from the broadcast control application used for streaming.</h4>
          <h5 class="text-info">Select the streaming quality that best supports your upload bandwidth.</h5>
          <h5 class="text-warning">Be careful selecting the all streams option. Selecting this option will result in a Low, Medium and High stream being uploaded for your fans. This provides a fans device to select the stream best suited to their connection. However, it requires more upstream bandwidth to upload the three video streams. Make sure your internet connection can support the upload.</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <%= f.label :streamquality, "Streaming Quality" %>
          <%= f.select :streamquality, ["Low","Medium","High"], {}, class: 'form-control' %>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
          <%= f.label :allstreams, "All Streams" %>
          <%= f.check_box :allstreams, class: 'form-control' %>
        </div>
        <div class="col-xs-1 col-xs-offset-1">
          <%= f.label :sdhdhighlights, "Highlights" %>
          <%= f.select :sdhdhighlights, ["SD", "HD"], {}, class: "form-control" %>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
          <%= f.label :enablelive, "Enable Live Streaming" %>
          <%= f.check_box :enablelive, class: "form-control" %>
        </div>
      </div>
<%
=end %>
      <p>
      <div class="row">
        <div class="col-xs-1 col-xs-offset-5">
				  <%= f.submit :submit, class:	"btn btn-md btn-primary", id: "submitbtn" %>
        </div>
			</div>
		<% end %>	
	</div>	
</div>
