<div class="row">
	<div class="col-xs-12">
    <%= form_for @sport,  html: { multipart: true }, :defaults => { :input_html => { :class => "form-control" } } do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
      <div class="row">
        <div class="col-xs-5">
          <h5>Enter name of site (ex. My School, Laguna Hills Pop Warner)</h5>
          <%= f.label :site_name, "Site Name" %>
          <%= f.text_field :sitename, class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-11">
          <h5>Mascot will be used for all teams. If your teams have different mascots. Ex: Pee Lions, Jr. Pee Wee Mustangs you will have the opportunity to enter a mascot for that team on the team page</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <%= f.label :mascot %>
          <%= f.text_field :mascot, class: 'form-control'  %>
        </div>
      </div>
      <p>
      <div class="row">
        <div class="col-xs-3">
          <% if @sport.has_stats? %>
              <h4>Current Sport: <em><font color="red"><%= @sport.sportname %></font></em></h4>
          <!--% elsif @sport.name %-->
              <!--%= f.input :name,  label:  "Sport Name", 
                                  hint: "Enter sport name does not have a stat package but all other features will be available." %-->
          <% else %>
              <h5>Basketball mobile apps are under development. Contact us for a timeline on when development will be completed.</h5>
              <%= f.label :sport_name, "Sport Name" %>
              <%= f.select :sportname, sports_list, include_blank: true, class: 'form-control' %>
          <% end %>
        </div>
        <% if @sport.name == "Basketball" %>
          <div class="col-xs-2 col-xs-offset-1">
            <%= f.label :periods %>
            <%= f.select :periods,["2", "4"], {}, class: 'form-control' %>
          </div>
        <% end %>
      </div>
      <p>
      <div class="row">
        <div class="col-xs-2">
            <%= f.label :zip %>
            <%= f.text_field :zip, class: 'form-control' %>
        </div>
  			<div class="col-xs-2 col-xs-offset-1">
          <%= f.label :year %>
  				<%= f.text_field :year, class: 'form-control' %>
  			</div>
        <div class="col-xs-2 col-xs-offset-1">
          <%= f.label :season %>
  				<%= f.select :season, ["Fall","Winter","Spring","Summer"], {}, class: 'form-control' %>
  			</div>
      </div>
      <p>
      <div class="row">
          <div class="col-xs-2">
            Allow user managed pics
          </div>
          <div class="col-xs-1">
            <%= f.label :user_pics, "User Pics" %>
            <%= f.check_box :enable_user_pics %>
          </div>
          <div class="col-xs-8">
            <strong>Web Site Only!.</strong> If you enable user pics, a user will be able to upload, edit and delete the pics they own. You can leave this unchecked and choose 
            to only have the admin or team manager approve pics. This is a great feature for engaging your fan base in your program. If you check this and assign a user to review pics, then users will be able to upload pics but they will not be viewable until the admin or a user you designate as site reviewer approves them.
          </div>
      </div>
      <p>
      <div class="row">
          <div class="col-xs-2">
            Allow user managed videos
          </div>
          <div class="col-xs-1">
            <%= f.label :user_video, "User Video" %>
            <%= f.check_box :enable_user_video %>
          </div>
          <div class="col-xs-8">
            <strong>Web Site Only!.</strong>If you enable user videos, a user will be able to upload, edit and delete the vidoes they own. You can leave this unchecked and choose 
            to only have an admin or team manager approve videos. This is a great feature for engaging your fan base in your program. If you check this and assign a user to review videos, then users will be able to upload videos but they will not be viewable until the admin or a user you designate as site reviewer approves them.
          </div>
      </div>
      <p>
      <div class="row">
          <div class="col-xs-2">
            Review Photo's and Video's before posting?
          </div>
          <div class="col-xs-1">
            <%= f.label :review_media, "Review Media" %>
            <%= f.check_box :review_media %>
          </div>
          <div class="col-xs-8">
            <strong>Web Site Only!.</strong>Check this if you want to review all video and photos before your fans see them. Checking this will result in a delay before your users can post photo's or videos. If you are looking for an active fan base, you may not want to check this. You can always review what your fans post as often as you like and delete any material you deem inapproptiate. This is how large sites that alllow video uploading work. It does impose a burden on the admin or team manager to pay attention to what your users are uploading.
          </div>
      </div>
      <div class="row">
        	<div class="col-xs-11">
          		<h4>Current teams:</h4><p>
          		<% if @sport.teams.count >= 1 %>
            		<%= render 'teams/team', sport: @sport, team: @sport.teams %>
          		<% else %>
            		None
          		<% end %><p>
				      <% if !@sport.created_at.nil?%>
          			<%= link_to "Add Team", new_sport_team_path(@sport), class: "btn btn-sm btn-primary" %>
				      <% end %>
       		</div>
      </div>
      <p>
      <div class="row">
        <div class="col-xs-11">
            <h5>Below you will be able to upload your site banner, logo and background color. You will be able to change them at anytime. Recommended sizes for each are:
              <ul>
                <li>Banner:     300x750</li>
                <li>Logo:       150x150</li>
                <!--li>Background: 1600x1200</li-->
              </ul>
            <p>
            You must use jpg/jpeg or png images for the banner and logo. If you do not upload a banner, none will be displayed for your site. You can use a jpg or png for background. You can use GIMP, Photoshop or some other image manipulation program to create banners and logos. 
            </h5>
             <p>
            <li><h4><em>LOGO</em></h4><h5>Logo will also be used for mobile displays on iPhones and iPads. If your logo is an image with a size other than 150x150, upload it and it will be automatically be resized. We will resize your logo's to create thumbnails to fit the image format on mobile devices.</h5>
            </li>
            <p>
        </div>
      </div>
      <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                Updating Sport...
            </p>
        </div>
      </div><p>
      <div class="row">
        <div class="col-xs-11">
          <% if !@sport.sport_banner.blank? %>
            <h4>Sport banner image</h4>
            <%= image_tag @sport.sport_banner.url(:medium), class: 'img-responsive' %>
          <% else %>
            <h4>Enter a banner for your site.</h4> 
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <%= f.file_field  :sport_banner, class: 'form-control' %>
        </div>
      </div>
      <p>
      <div class="row"> 
   			<div class="col-xs-1">
  				<% if !@sport.sport_logo.blank? %>
  					<h4>Current Sport Logo</h4>
  					<%= image_tag @sport.sport_logo.url(:thumb), class: 'img-responsive' %>
          <% else %>
            <h4>Eneter a logo for your sport.</h4>
              <%= image_tag "NotAvailable.jpg", class: 'img-responsive' %>
          <% end %>
        </div>
      </div>
      <p>
      <div class="row">
        <div class="col-xs-4">
  					<%= f.file_field	:sport_logo, class: 'form-control' %>
  			</div>
        <!--div class="col-xs-4 col-xs-offset-1">
            <h4>BACKGROUND. Background for your site pages. Remember, white will be used if not entered.</h4>
            <% if !@sport.background.blank? %>
              Current background:<p>
              <%= image_tag @sport.background.url(:thumb) %>
            <% end %>
            <%= f.file_field :background %>
        </div-->
      </div>
      <p>
      <div class="row">
        <div class="col-xs-11">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-1 col-xs-offset-5">
				  <%= f.submit :submit, class:	"btn btn-sm btn-primary", id: "submitbtn" %>
        </div>
			</div>
		<% end %>	
	</div>	
</div>
