<% provide(:title, 'About Us') %>
<p>
<div class="row">
	<div class="col-xs-12">
		<% if !current_site? or current_site.about_filename_url.nil? %>
			<h1>About EazeSportz</h1>
			<p>
			<div class="row">
		    	<div class="col-xs-4">
		      		<%= image_tag "FootballGameStats.png", class: 'img-responsive' %>
		    	</div>
				<div class="col-xs-4 col-xs-offset-1">
		      		<%= image_tag "BasketballGameStats.png", class: 'img-responsive' %>
		    	</div>
		    </div>
			<div class="row">
				<div class="col-xs-10">
					Eazesportz specializes in providing mobile solutions to 
					athletic programs allowing them to make their sports programs content available via mobile devices. We currently have apps available for Football and Basketball. You can use our iPad apps to manage your program while your fans will use the iPhone apps to consume what you post in the cloud. We provide you with the capability to post live stats, photos, video clips, etc.
					<p>
					When you work with us, you will reach your fan base on mobile devices and other connected devices.
					<p>
					You own the site and the product. We provide the technology. The rest is up to you!
					<p>
					Thanks for looking at us and considering our solution for your needs.
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10">
					<h2>Technology Platform</h2>
					<h5>The Eazesportz cloud infrastructure is designed and built using Ruby on Rails and MongoDB.</h5>
				</div>
			</div>
			<div class = "row">
				<div class="col-xs-2">
					<%= image_tag "rails.jpg", class: 'img-responsive' %>
				</div>
				<div class="col-xs-8">
					<h5>Rails provide an excellent platform for building a highly scalable cloud platform that can support millions of users while supporting high peak volumes. But we especially love Rails for its excellent mobile support! Rails allows us to provide our users with web support in addition to making it easier for us to integrate our mobile applictions.</h5>
					<p>
					<h5>In the future, our product will provide support for additional connected devices in addition to live video support to help you reach a wider fan base.</h5>
				</div>
			</div>
			<% if isAdmin? and !current_site.nil?%>
				<h4>You can enter your own About page to replace this one that is customized for your site.</h4>
				<h4><em><%= link_to "Click here to create your own about page!", updateabout_sport_path(current_site) %></em></h4>
				<h4>You will be required to enter a jpg. If you do not want to enter a new about page the text above will be displayed.</h4>
			<% end %>
		<% else %>
			<h1>About <%= current_site.sitename %></h1>
				<%= image_tag current_site.about_filename_url %><p>
				<div class="row">
					<div class="col-xs-2 col-xs-offset-2">
						<%= link_to "Update Page", updateabout_sport_path(current_site), class: "btn btn-sm btn-primary" %>
					</div>
				</div>
			<p>
		<% end %>
	</div>
</div>
