<% provide(:title, "Easy Sports Football - Mobile Sports Football") %>
<p>
<div class="row">
	<div class="col-xs-12">
		<h2>Eazesportz Soccer iPad</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-5">
		<h5>
		iPad Management Features</p>
		<ul>
			<li>Update live stats for every game!</li>
			<li>Automated scoring computed from stats.</li>
			<li>Upload Photo's and Video's of your team during the game</li>
			<li><strong>Tag Photo's and Video clips by Game, Player!</strong></li>
			<li>Create and manage individual player metadata and roster</li>
			<li>Browse and Manage Game Stats after the game</li>
			<li>Monitor and Mangage your fans live Blog. You never know what they will enter...</li>
			<li>Manage your programs news feed</li>
			<li>Manage your teams Coaches</li>
			<li>Much, much more ......</li>
		</ul>
		</h5>
		<p class="text-info">Click on the image to the right to learn more!</p>
		<div class="row">
			<div class="col-xs-4">
				<h5>Get the app - iTunes!</h5>
			</div>
			<div class="col-xs-2">
				<%= link_to image_tag("Soccer-Icon-Small-50.png", class: 'img-responsive'), 
										"https://itunes.apple.com/us/app/eazesportz-soccer/id748838917?mt=8#" %>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<%= link_to (image_tag "EazeSoccerLiveStats.png", class: 'img-responsive'), info_path %>
	</div> 
</div>
<div class="row">
	<div class="col-xs-12">
		<h4>What your fans can do:</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-5">
		<h5>
		Your fans use our iPhone app to access what you create:<p>
		<ul>
			<li>Follow live game updates</li>
			<li>Access live game stats</li>
			<li>Access live game photos and videos</li>
			<li>Track season stats</li>
			<li>Follow players and receive score/stat alerts</li>
			<li>Live blog support</li>
			<li>Much, much more ....</li>
		</ul>
		</h5>
		<p class="text-info">Click on the image to the right to learn more!</font><p>
		<div class="row">
			<div class="col-xs-4">
				<h5>Fans use this app!</h5>
			</div>
			<div class="col-xs-2">
				<%= link_to image_tag("Soccer-Icon-Small-50.png", class: 'img-responsive'), 
									"https://itunes.apple.com/us/app/eazesportz-futbol/id754538889?mt=8#" %>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<%= link_to (image_tag "EazeFutbolPhotos-640-960.png", class: 'img-responsive'), mobileinfo_path %>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h4><em><p class="text-info">Don't have an iPad app. Use our web site! 
		<%= link_to "Web Site", websiteinfo_path, class: "btn btn-sm btn-primary" %></p></em></h4>
	</div>
</div>
