<% provide(:title, "Easy Sports Mobile - Football, Basketball and Soccer") %>
<p>
<div class="row">
	<div class="col-xs-11">
		<h1>Welcome to Eazesportz Mobile!</h1>
		<p>
		<h4>Easzesportz provides mobile applications and mobile web site support to manage your sports program.</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		Manage your program from your iPad .... or use our mobile optimized web site
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<h5 class="text-info"><em>iPad Football</em></h5>
	</div>
	<div class="col-xs-3 col-xs-offset-1">
		<h5 class="text-info"><em>Football Web...</em></h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<%= link_to (image_tag "FootballGameStats.png", class: 'img-responsive'), eazefootball_path  %>
	</div>
	<div class="col-xs-3 col-xs-offset-1">
		<%= link_to (image_tag "footballwebhome.png", class: 'img-responsive'), websiteinfo_path %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<h4 class="text-info">We support Football, Basketball and Soccer. More sports are comming soon .....</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
		<h5><em><p class="text-info">iPad Football</p></em></h5>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<h5><em><p class="text-info">iPad Basketball</p></em></h5>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<h5><em><p class="text-info">iPad Soccer</p></em></h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
		<%= link_to (image_tag "FootballGameStats.png", class: 'img-responsive'), eazefootball_path  %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<%= link_to (image_tag "BasketballGameStats.png", class: 'img-responsive'), eazebasketball_path %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<%= link_to (image_tag "SoccerLiveStats.png", class: 'img-responsive'), eazesoccer_path %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<p>
		<h2 class="text-info">Keep your fans up to date while the game is in progress!</h2> 
		<p>
		Our apps and web site makes it easy to update and manage all your sports content. Your fans access your content from our Eazesportz iPhone apps or via a branded iPhone app we create for your program! Of course, they can use our mobile optimized web site also. 
		<p>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-11">
		<h4>Pricing</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<h5 class="text-success">
		<div class="row">
			<div class="col-xs-2">
				Basic - Free
			</div>
			<div class= "col-xs-2 col-xs-offset-1">
				Silver - $49/year
			</div>
			<div class="col-xs-2 col-xs-offset-1">
				Gold - $99/year
			</div>
			<div class="col-xs-2 col-xs-offset-1">
				Platinum - Coming soon
			</div>
		</div>
		</h5>
		<div class="well">
			<div class="row">
				<div class="col-xs-2">
					<h6 class="text-info"><%= link_to "Home Page, News, Standings, Schedule, Scores, Roster, Player Profiles", pricing_path %></h6>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<h6 class="text-info"><%= link_to "Live stats, 300MB of storage for Photos and Video, Live Blog Support", pricing_path %></h6>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<h6 class="text-info"><%= link_to "1GB storage for Photos and Video, Sponsor support for your program website", pricing_path %></h6>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<h6 class="text-info"><%= link_to "5GB storage for Photos and Video, Branded iPhone app for your program", pricing_path %></h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<h4><em><%= link_to "Content publishers or media distributors click here for more information.", publisher_path %></em></h4>
	</div>
</div>
<p>

