<% provide(:title, "Easy Sports Mobile - Football, Basketball and Soccer") %>
<p>
<div class="row">
	<div class="col-xs-11">
		<h1>Welcome to Eazesportz Mobile!</h1>
		<p>
		<h4>Easzesportz provides mobile applications and mobile web site support to manage your sports program.</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		Manage your program from your iPad .... or use our mobile optimized web site
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<h5 class="text-info"><em>iPad Football</em></h5>
	</div>
	<div class="col-xs-3 col-xs-offset-1">
		<h5 class="text-info"><em>Football Web...</em></h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<%= link_to (image_tag "FootballGameStats.png", class: 'img-responsive'), eazefootball_path  %>
	</div>
	<div class="col-xs-3 col-xs-offset-1">
		<%= link_to (image_tag "footballwebhome.png", class: 'img-responsive'), websiteinfo_path %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<h4 class="text-info">We support Football, Basketball and Soccer. More sports are comming soon .....</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
		<h5><em><p class="text-info">iPad Football</p></em></h5>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<h5><em><p class="text-info">iPad Basketball</p></em></h5>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<h5><em><p class="text-info">iPad Soccer</p></em></h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
		<%= link_to (image_tag "FootballGameStats.png", class: 'img-responsive'), eazefootball_path  %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<%= link_to (image_tag "BasketballGameStats.png", class: 'img-responsive'), eazebasketball_path %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<%= link_to (image_tag "SoccerLiveStats.png", class: 'img-responsive'), eazesoccer_path %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<p>
		<p class="text-info">Keep your fans up to date while the game is in progress!</p> 
		<p>
		<h5><em><%= link_to "Content publishers or media distributors click here for more information.", publisher_path %></em></h5>
		<p>
		Our apps or web makes it easy update and manage all your sports content. Your fans view the sports content using an iPhone app or they can use our mobile optimized web site. 
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-11">
		<h4><p class="text-warning"><em>
		Currently, we are offering our solution to a controlled set of beta programs and their fans. If you would like to try our solution follow the links below and we will contact you with instructions on how to get set up! Your fans will have access to the upgraded features free of charge.
		</em></p></h4>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-11">
	    <h4>If you are looking for another school or athletic program powered by Eazesportz.com, 
	    	<%= link_to "Click Here", sports_path, class: "btn btn-md btn-primary" %></h4>
	</div>
</div>
<!--/font-->
