<p>
<!--font color="b3f10c"-->
<% if user_signed_in? %>
	<div class="row">
		<div class="span8 offset1">
			<h3>Welcome <%= current_user.name %></h3><p>
			<% if current_user.admin and @admin_sites.any? %>
				<% @admin_sites.each do |s| %>
					Administer:&nbsp
					<%= link_to s.sitename, sitechange_user_path(sport_id: s) %>&nbsp
					<% if current_user.default_site == s.id %>
						<h4><em>Current Default Site</em></h4>
					<% end %>
					<p>
					<%= link_to (image_tag s.banner.url(:medium)), s %>&nbsp
					<% if !(current_user.default_site == s.id) %>
						<%= link_to "Set Default", site_user_path(s), class: "btn btn-mini btn-primary" %>
					<% end %>
					<p>
				<% end %>
				<p>
			<% end %>
			<%= link_to "Create New Site", new_sport_path, class: "btn btn-medium btn-primary" %>
		</div>
	</div>
<% else %>
	<div class="row">
		<div class="span10">
			<h1>Welcome to Easy Sports Mobile!</h1>
			<p>
			<h2>Who we are:</h2>
			<p>
			<h4>Easy Sports provides mobile applications for you to manage your sports program. Our initial offerings are targeted to support your football and basketball programs.</h4>
			<p>
			<em><font color="blue">More apps are planned to support other sports including Soccer, Hockey, etc. Check back if you are looking for apps for those sports.</font></em>
			<p>
			<h4><font color="red">Our apps are currently under review by Apple. Feel free to contact us in the interim. Links will be added when the apps become available in iTunes.</font></h4>
			<p>
			You can use our iPad app to update and manage all the sports content you want your fans to see. Your fans can view the your programs content via our iPhone app. There is no charge for you to use our iPad app to manage your sports program. If you do not have an iPad, you can use our web site to manage your sports program.
			<p>
			<h4>Click on the images below to learn more about our iPad apps.</h4>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<h4><em>iPad Eazesportz Football Console</em></h4>
		</div>
		<div class="span4 offset1">
			<h4><em>iPad Eazesportz Basketball Console</em></h4>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<%= link_to (image_tag "FC_OffenseStatsPortrait.png"), eazefootball_sports_path %>
		</div>
		<div class="span4 offset1">
			<%= link_to (image_tag "BasketballConsoleLiveStats.png"), eazebasketball_sports_path %>
		</div>
	</div>
	<div class="row">
		<div class="span10">
			<h2>How it works and what's in it for your program:</h2>
			<h5>You use our iPad app or the web site to manage your program. Your fans can use our iPhone app to follow your program. Features that are free to your users include:
				<ul>
					<li>Program News</li>
					<li>Game Schedule</li>
					<li>Roster</li>
					<li>Coaches</li>
				</ul>
				Your fans can access the upgraded features by paying $3.00. For every fan that upgrades to access the advanced app features, $1.00 will be refunded back to your program. This allows your program to monetize your content. Use it as a fundraising device. After all, your players and your league, school, club, etc. are the ones creating the content. We just help you make it available to your fans. 
				<p>
				Features your fans have access to after they upgrade the app include:
				<ul>
					<li>Live game summary and stats</li>
					<li>Photos</li>
					<li>Videos</li>
					<li>Blogging</li>
					<li>And much more .....</li>
				</ul>
			</h5>
			<font color="red"><em>
			Currently, we are offering our solution to a controlled set of beta programs and their fans. If you would like to try our solution sign up below and we will contact you with instructions on how to get set up! Your fans will have access to the upgraded features free of charge.
			</em></font>
		</div>
	</div>
	<p>
	<div class="row">
		<div class="span4">
			<h4>Click here to sign up!</h4>
		</div>
		<div class="span2 offset1">
		  	<%= link_to "Sign Up", info_path, class: "btn btn-medium btn-primary" %>
	    </div>
	</div>
	<div class="row">
	    <div class="span5">
			<h4>Already managing a program? Sign in above</h4>
		</div>
	</div>
<% end %>
<div class="row">
	<div class="span10">
		<% if user_signed_in? %>
			<% if !current_user.mysites.nil? %>
				List of sites you are registered for:&nbsp
				<% current_user.mysites.keys.each do |k| %>
					<%= link_to current_user.mysites[k], site_path(id: k) %>&nbsp
					<% if current_user.default_site == k %>
						<em>Default Site!</em>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	    <h4>If you are looking for another school or athletic program powered by Eazesportz.com, click below.</h4>
	  	<%= link_to "Search", sports_path, class: "btn btn-medium btn-primary" %>
	</div>
</div>
<!--/font-->
