<p>
<!--font color="b3f10c"-->
<% if user_signed_in? %>
	<div class="row">
		<div class="span8 offset1">
			<h3>Welcome <%= current_user.name %></h3><p>
			<% if current_user.admin and @admin_sites.any? %>
				<% @admin_sites.each do |s| %>
					Administer:&nbsp
					<%= link_to s.sitename, site_path(id: s) %>&nbsp
					<% if current_user.default_site == s.id %>
						<h4><em>Current Default Site</em></h4>
					<% end %>
					<p>
					<%= link_to (image_tag s.banner.url(:medium)), s %>&nbsp
					<% if !(current_user.default_site == s.id) %>
						<%= link_to "Set Default", site_user_path(s), class: "btn btn-mini btn-primary" %>
					<% end %>
					<p>
				<% end %>
				<p>
			<% end %>
			<%= link_to "Create New Site", new_sport_path, class: "btn btn-medium btn-primary" %>
		</div>
	</div>
<% else %>
	<div class="row">
		<div class="span10">
			<h1>Welcome to Eazesportz.com!</h1>
			<p>
			<h2>Who we are:</h2>
			<p>
			Eazesportz.com provides mobile applications for you to manage your sports program. Our current offering includes an iPad app that can
			be used to update and manage all content you want your fans to see. Your fans will view the your programs content via our iPhone app. There
			is no charge for you to use our iPad app to manage your program or teams news and information. If you do not have an iPad, you can use our web 
			site to manage your teams content.
			<p>
			<h4>What you can do with our iPad app:</h4>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<h5>
			iPad Management Features
			<ul>
				<li>Update live scores for every game</li>
				<li>Upload Photo's and Video's of your team during the game</li>
				<li>Select and follow your favorite players</li>
				<li>Browse and Manage Game Stats</li>
				<li>Monitor and Mangage your fans live Blog</li>
				<li>Manage your programs news feed</li>
				<li>Manage your teams Roster</li>
				<li>Manage your teams Coaches</li>
				<li>Manage Season Stats</li>
			</ul>
			</h5>
		</div>
		<div class="span4 offset1">
			<%= link_to (image_tag "FC_Live_Stats.png"), info_path %>
		</div> 
	</div>
	<div class="row">
		<div class="span10">
			<h4>What your fans can do:</h4>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<h5>
			Your fans use our iPhone app to access what you create:
			<ul>
				<li>Follow live game updates</li>
				<li>Access live game stats</li>
				<li>Access live game photos and videos</li>
				<li>Track historical season stats</li>
				<li>Follow players and receive score/stat alerts</li>
				<li>Live blog support</li>
			</ul>
			</h5>
		</div>
		<div class="span4 offset1">
			<%= link_to (image_tag "ios_LiveGame.png"), mobileinfo_path %>
		</div>
	</div>
	<div class="row">
		<div class="span10">
			<h4>We also provide a web site for you to use to manage your program. Your fans are also welcome to access the site content via the web site.
			<p>
			<h5>Click here to learn more about the web site</h5>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<h4>Click here to sign up!</h4>
		</div>
		<div class="span2 offset1">
		  	<%= link_to "Sign Up", info_path, class: "btn btn-medium btn-primary" %>
	    </div>
	</div>
	<div class="row">
	    <div class="span5">
			<h4>Already managing a site? Sign in above</h4>
		</div>
	</div>
<% end %>
<div class="row">
	<div class="span10">
		<% if user_signed_in? %>
			<% if !current_user.mysites.nil? %>
				List of sites you are registered for:&nbsp
				<% current_user.mysites.keys.each do |k| %>
					<%= link_to current_user.mysites[k], site_path(id: k) %>&nbsp
					<% if current_user.default_site == k %>
						<em>Default Site!</em>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	    <h4>If you are looking for another school or athletic program powered by Eazesportz.com, click below to find that site.</h4>
	  	<%= link_to "Search", sports_path, class: "btn btn-medium btn-primary" %>
	</div>
</div>
<!--/font-->
