<% provide(:title, "Game Tracker - Mobile Apps for Football, Basketball and Soccer") %>
<p>
<div class="row">
	<div class="col-xs-12" style="background-color:#ffffff;">
		<h1 class="text-success text-center">Welcome to Game Tracker - Live Sports!</h1>
		<p>
		<h3 class="text-success text-center">Mobile solutions for Live Stats, Photos, Videos and more all while the game is on!</h3>
		<%= image_tag "fanapp/GameTrackerIntro.jpg", class: "img-responsive" %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<h2 class="text-center text-danger">Supported Sports! More on the way ....</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-4">
				<%= link_to (image_tag "fanapp/FootballButton.png", class: "img-responsive"), football_path %>
			</div>
			<div class="col-xs-4">
				<%= link_to (image_tag "fanapp/BasketballButton.png", class: "img-responsive"), basketball_path %>
			</div>
			<div class="col-xs-4">
				<%= link_to (image_tag "fanapp/SoccerButton.png", class: "img-responsive"), soccer_path %>
			</div>
		</div>
		<p>
 	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-4">
				<%= link_to (image_tag "fanapp/Lacrossebutton.png", class: "img-responsive"), lacrosse_path %>
			</div>
		</div>
		<p>
 	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h2 class="text-center text-danger">Use our mobile apps to raise funds for your program. Sell ads on your site!</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-3">
				<%= link_to (image_tag "fanapp/banner_ad_pic2.png", class: "img-responsive"), adinfo_sports_path %>
			</div>
			<div class="col-xs-9">
				<div class="well">
					<h3 class="text-info">How it works</h43>
					<h5 class="text-success">
					<ul>
						<li>Fans can purchase ads to sponsor your program from the GameTracker app or on the web!</li><p>
						<li>Administrators can create ad inventory for their program!</li><p>
						<li>Fans and sponsors can select from available ad inventory.</li><p>
						<li>You collect the ad revenue from your sposors.</li><p>
					</ul>
					</h5>
					<h3 ><%= link_to "Click here form more info!", adinfo_sports_path %></h3>
				</div>
			</div>
		</div>
	</div>
</div>
<p>
<!--div class="row">
	<div class="col-xs-5">
		<h3 class="text-danger">Coming soon - Live Broadcast app</h3>
		<%= link_to (image_tag "clientapps/BroadcastWindow.png", class: "img-responsive"), broadcastinfo_path %>
	</div>
</div-->
<p>
<div class="row">
	<div class="col-xs-12">
		<h4><em><%= link_to "Content publishers or media distributors click here for more information.", publisher_path %></em></h4>
	</div>
</div>
<p>

