<% provide(:title, "Game Tracker - Mobile Apps for Football, Basketball and Soccer") %>
<p>
<div class="row">
	<div class="col-xs-11" style="background-color:#ffffff;">
		<h1 class="text-success text-center">Welcome to Game Tracker - Live Sports!</h1>
		<p>
		<h3 class="text-success text-center">Mobile solutions for Live Stats, Photos, Videos and more all while the game is on!</h3>
		<%= image_tag "fanapp/GameTrackerIntro.jpg", class: "img-responsive" %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11" style="background-color:#fffff0;">
		<h2 class="text-center text-danger">Supported Sports! More on the way ....</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-11" style="background-color:#fffff0;">
		<div class="row">
			<div class="col-xs-4">
				<%= link_to (image_tag "fanapp/FootballButton.png", class: "img-responsive"), eazefootball_path %>
			</div>
			<div class="col-xs-4">
				<%= link_to (image_tag "fanapp/BasketballButton.png", class: "img-responsive"), eazebasketball_path %>
			</div>
			<div class="col-xs-4">
				<%= link_to (image_tag "fanapp/SoccerButton.png", class: "img-responsive"), eazesoccer_path %>
			</div>
		</div>
		<p>
 	</div>
</div>
<div class="row">
	<div class="col-xs-11" style="background-color:#ffffff;">
		<h2 class="text-center text-danger">Use our mobile apps to raise funds for your program. Sell ads on your site!</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-11" style="background-color:#ffffff;">
		<div class="row">
			<div class="col-xs-3">
				<%= image_tag "fanapp/banner_ad_pic2.png", class: "img-responsive" %>
			</div>
			<div class="col-xs-9">
				<h3 class="text-danger">Create a log in and select the "Ads and Sponsors" tab for more information!</h3>
			</div>
		</div>
		<div class="row">
			<h5 class="text-success">Use our site to monetize your content and raise funds for your program!</h5>
		</div>
	</div>
</div>
<p>
<!--div class="row">
	<div class="col-xs-5">
		<h3 class="text-danger">Coming soon - Live Broadcast app</h3>
		<%= link_to (image_tag "clientapps/BroadcastWindow.png", class: "img-responsive"), broadcastinfo_path %>
	</div>
</div-->
<p>
<div class="row">
	<div class="col-xs-11">
		<h4><em><%= link_to "Content publishers or media distributors click here for more information.", publisher_path %></em></h4>
	</div>
</div>
<p>

