<% provide(:title, "Game Tracker - Mobile Apps for Football") %>
<p>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Coming Soon</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link href="tools/style.css" rel="stylesheet" type="text/css" />
<link href="tools/960.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> 
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/Clarendon_LT_Std_700.font.js"></script>
<script type="text/javascript">
	Cufon.replace('h1,h3', {fontFamily: 'Clarendon LT Std', hover:true})
</script>
</head>
<body>
<div id="shim"></div>
<div id="content">
	<div class="logo_box"><h1>GameTrackerPro</h1></div>          
	<div class="main_box">
		<h2>Our website is coming soon.<br/><!-- span>In the mean time connect with us with the information below</span--></h2>
		
		<!-- ul class="info">
			<li>
				<h3>P</h3>
				<p>866-599-5350<br/>403-926-8331</p>
			</li>
			<li>
				<h3>A</h3>
				<p>301 Clematis. Suite 3000<br/>West Palm Beach, FL 33401</p>
			</li>
			<li>
				<h3>S</h3>
				<p class="social">
					<a href="#" class="tw"></a>
					<a href="#" class="fb"></a>				
					<a href="#" class="li"></a>
				</p>
			</li>
		</ul-->
		
	</div>
</div>

</body>
</html><!-- div class="row">
	<div class="col-xs-12" style="background-color:#ffffff;">
		<h1 class="text-success text-center">Welcome to Game Tracker - Live Sports!</h1>
		<p>
		<h3 class="text-success text-center">Mobile solutions for Live Stats, Photos, Videos and more all while the game is on!</h3>
		<%= image_tag "fanapp/GameTrackerIntro.jpg", class: "img-responsive" %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<h2 class="text-center text-danger">Supported Sports! More on the way ....</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-4">
				<%= link_to (image_tag "fanapp/FootballButton.png", class: "img-responsive"), football_path %>
			</div>
			<div class="col-xs-4">
				<%= link_to (image_tag "fanapp/BasketballButton.png", class: "img-responsive"), basketball_path %>
			</div>
			<div class="col-xs-4">
				<%= link_to (image_tag "fanapp/SoccerButton.png", class: "img-responsive"), soccer_path %>
			</div>
		</div>
		<p>
 	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-4">
				<%= link_to (image_tag "fanapp/Lacrossebutton.png", class: "img-responsive"), lacrosse_path %>
			</div>
			<div class="col-xs-4">
				<%= link_to (image_tag "fanapp/WaterPoloButton.png", class: "img-responsive"), waterpolo_path %>
			</div>
			<div class="col-xs-4">
				<%= link_to (image_tag "fanapp/HockeyButton.png", class: "img-responsive"), waterpolo_path %>
			</div>
		</div>
		<p>
 	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h2 class="text-center text-danger">Use our mobile apps to raise funds for your program. Sell ads on your site!</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-3">
				<%= link_to (image_tag "fanapp/banner_ad_pic2.png", class: "img-responsive"), adinfo_sports_path %>
			</div>
			<div class="col-xs-9">
				<div class="well">
					<h3 class="text-info">How it works</h43>
					<h5 class="text-success">
					<ul>
						<li>Fans can purchase ads to sponsor your program from the GameTracker app or on the web!</li><p>
						<li>Administrators can create ad inventory for their program!</li><p>
						<li>Fans and sponsors can select from available ad inventory.</li><p>
						<li>You collect the ad revenue from your sposors.</li><p>
					</ul>
					</h5>
					<h3 ><%= link_to "Click here form more info!", adinfo_sports_path %></h3>
				</div>
			</div>
		</div>
	</div>
</div>
<p-->
<!--div class="row">
	<div class="col-xs-5">
		<h3 class="text-danger">Coming soon - Live Broadcast app</h3>
		<%= link_to (image_tag "clientapps/BroadcastWindow.png", class: "img-responsive"), broadcastinfo_path %>
	</div>
</div-->
<p>
<!--div class="row">
	<div class="col-xs-12">
		<h4><em><%= link_to "Content publishers or media distributors click here for more information.", publisher_path %></em></h4>
	</div>
</div-->
<p>

