<p>
<div class="row">
	<div class="span10" style="background-color:#ffffff;position:relative;top:0">
		<h2>Easy Sports Mobile - Manage your Basketball program!</h2>
		<p>
		<h4>Below are some screen shots providing some examples of what you can do with our iPad Basketball management console. Be sure to check out 
			the links below on how you can use our iPad app during a live game to enter stats, photo's and videos in real time.</h4>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h5>Manage Teams</h5>
	</div>
	<div class="span4 offset1">
		<h5>Manage Player</h5>
	</div>
</div>
<div class="row">
	<div class="span4">
		<%= image_tag "Screenshot_Teams.png" %>
	</div>
	<div class="span4 offset1">
		<%= image_tag "Screenshot_Roster.png" %>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h5>Monitor Blog</h5>
	</div>
	<div class="span4 offset1">
		<h5>Manage Photos</h5>
	</div>
</div>
<div class="row">
	<div class="span4">
		<%= image_tag "Screenshot_MonitorBlog.png" %>
	</div>
	<div class="span4 offset1">
		<%= image_tag "Screenshot_Photos.png" %>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h5>Upload Video Clips</h5>
	</div>
	<div class="span4 offset1">
		<h5>Live Stats!</h5>
	</div>
</div>
<div class="row">
	<div class="span4">
		<%= image_tag "Screenshot_NewVideo.png" %>
	</div>
	<div class="span4 offset1">
		<%= image_tag "BasketballConsoleLiveStats.png" %>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h5>Manage Program News Feed</h5>
	</div>
	<div class="span4 offset1">
		<h5>Manage Coaches</h5>
	</div>
</div>
<div class="row">
	<div class="span4">
		<%= image_tag "Screenshot_NewsFeed.png" %>
	</div>
	<div class="span4 offset1">
		<%= image_tag "Screenshot_Coaches.png" %>
	</div>
</div>
<div class="row">
	<div class="span10">
		<!--h4>Click here for an example of how you might want to use our iPad Management console:</h4-->
		<!--%= link_to "Example", ipadexample_path, class: "btn btn-medium btn-primary" %-->
	</div>
</div>
<div class="row">
	<div class="span10">
		<h4>You can also use our web site to manage your program in addition to our iPad app. Click here for more info: </h4>
	</div>
</div>
<div class="row">
	<div class="span2">
		<%= link_to "Web Site Info", webbballinfo_sports_path, class: "btn btn-medium btn-primary" %>
	</div>
</div>
<p>
<div class="row" style="background-color:#ffffff;position:relative;top:0">
	<div class="span10">
		<div class="row">
			<div class="span5">	
				<h5><em>Click here to see how your fans will use our mobile apps!</em></h5>
				<%= link_to "Continue", mobileinfo_sports_path, class: "btn btn-medium btn-primary" %>
			</div>
		    <div class="span4 offset1">
			    <h5>If you are looking for a site powered by Eazesportz.com, click below to find the site.</h5><p>
				<%= link_to "Search", sports_path, class: "btn btn-medium btn-primary" %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h4>Click here to sign up!</h4>
	</div>
</div>
<div class="row">
	<div class="span2">
	  	<%= link_to "Sign Up", admininfo_path, class: "btn btn-medium btn-primary" %>
    </div>
</div>
