<% provide(:title, "Easzesportz Football -  iPad Mobile Sports Football Management Console") %>
<p>
<div class="row">
	<div class="col-xs-12">
		<h2>Game Tracker Mobile - Manage your Football program!</h2>
		<p>
		<h5>Create and manage your program in the cloud and make your programs content avaiable to your fans via our mobile app!<br>
			Check out the links below for an example of how to use the iPad app to enter stats, photo's and videos during a game.</h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h4><em><p class="text-info">Don't have an iPad app. Use our web site! 
		<%= link_to "Web Site", websiteinfo_path, class: "btn btn-sm btn-primary" %></p></em></h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<h5>Live Game Support</h5>
	</div>
	<div class="col-xs-4 col-xs-offset-1">
		<h5>Live Game Stats Support</h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<%= image_tag "FootballGameStats.png", class: 'img-responsive' %>
	</div>
	<div class="col-xs-4 col-xs-offset-1">
		<%= image_tag "FootballLiveGameStats.png", class: 'img-responsive' %>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<h5>Manage your game schedules</h5>
	</div>
	<div class="col-xs-4 col-xs-offset-1">
		<h5>Manage game photos/h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<%= image_tag "FootballGameSchedule.png", class: 'img-responsive' %>
	</div>
	<div class="col-xs-4 col-xs-offset-1">
		<%= image_tag "FootballPhotos.png", class: 'img-responsive' %>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<h5>Manage video clips</h5>
	</div>
	<div class="col-xs-4 col-xs-offset-1">
		<h5>Manage your roster</h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<%= image_tag "FootballVideos.png", class: 'img-responsive' %>
	</div>
	<div class="col-xs-4 col-xs-offset-1">
		<%= image_tag "FootballRoster.png", class: 'img-responsive' %>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<h5>Watch what your users are saying...</h5>
	</div>
	<div class="col-xs-4 col-xs-offset-1">
		<h5>And much, much more .......</h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<%= image_tag "FootballBlog.png", class: 'img-responsive' %>
	</div>
	<div class="col-xs-4 col-xs-offset-1">
		<ul>
			<li>Manage News feed ...</li>
			<li>Manage coaches ...</li>
			<li>League Standings support ....</li>
			<li>Manage your users ......</li>
			<li>Everything you can do from our web site you can do on your iPad</li>
		</ul>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-12">
		<h4><%= link_to "Click here", ipadexample_path, class: "btn btn-sm btn-primary" %> for an example of how to use our iPad app during a game</h4>	
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h4><em><p class="text-info">Don't have an iPad app. Use our web site!
		<%= link_to "Web Site", websiteinfo_path, class: "btn btn-sm btn-primary" %></p></em></h4>
	</div>
</div>
<p>
<div class="col-xs-12">
	<div class="row">
		<h4><em><%= link_to "Fans App!", mobileinfo_path, class: "btn btn-sm btn-primary" %></em> Click here to see how your fans will use our mobile apps</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h4>If you are looking for a site powered by Game Tracker.com, click here:
			<%= link_to "Find Site.", sports_path, class: "btn btn-sm btn-primary" %></h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<p class="text-success">Click here to sign up!
	  	<%= link_to "Sign Up", pricing_path, class: "btn btn-sm btn-primary" %></p>
    </div>
</div>

