<% provide(:title, "Easzesportz Basketball - iPad Mobile Sports Basketball Management Console") %>
<p>
<div class="row">
	<div class="span10" style="background-color:#ffffff;position:relative;top:0">
		<h2>Easy Sports Mobile - Manage your Basketball program!</h2>
		<p>
		<h4>Below are some screen shots providing some examples of what you can do with our iPad Basketball management console. Be sure to check out 
			the links below on how you can use our iPad app during a live game to enter stats, photo's and videos in real time.</h4>
	</div>
</div>
<div class="row">
	<div class="span10">
		<h4><em><font color="blue">Don't have an iPad app. Use our web site!</font></em>
		<%= link_to "Click here for more info: ", webbballinfo_path %></h4>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h5>Live Game Support</h5>
	</div>
	<div class="span4 offset1">
		<h5>Live Game Stats Support</h5>
	</div>
</div>
<div class="row">
	<div class="span4">
		<%= image_tag "BasketballLiveGameStats.png" %>
	</div>
	<div class="span4 offset1">
		<%= image_tag "BasketballLiveGameStats.png" %>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h5>Manage your game schedules</h5>
	</div>
	<div class="span4 offset1">
		<h5>Manage game photos</h5>
	</div>
</div>
<div class="row">
	<div class="span4">
		<%= image_tag "BasketballGameschedule.png" %>
	</div>
	<div class="span4 offset1">
		<%= image_tag "BasketballPhotos.png" %>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h5>Manage video clips</h5>
	</div>
	<div class="span4 offset1">
		<h5>Manage your roster</h5>
	</div>
</div>
<div class="row">
	<div class="span4">
		<%= image_tag "Screenshot_NewVideo.png" %>
	</div>
	<div class="span4 offset1">
		<%= image_tag "BasketballRoster.png" %>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h5>Watch what your users are saying...</h5>
	</div>
	<div class="span4 offset1">
		<h5>And much, much more .......</h5>
	</div>
</div>
<div class="row">
	<div class="span4">
		<%= image_tag "BasketballBlog.png" %>
	</div>
	<div class="span4 offset1">
		<ul>
			<li>Manage News feed ...</li>
			<li>Manage coaches ...</li>
			<li>League Standings support ....</li>
			<li>Manage your users ......</li>
			<li>Everything you can do from our web site you can do on your iPad</li>
		</ul>
	</div>
</div>
<p>
<div class="row">
	<div class="span10">
		<h4>You can also use our web site to manage your program in addition to our iPad app.
		<%= link_to " Click here for more info: ", webbballinfo_sports_path %></h4>
	</div>
</div>
<p>
<div class="row">
	<div class="span10">
		<h4><em><font color="blue">Don't have an iPad app. Use our web site!
		<%= link_to " Click here for more info: ", webbballinfo_path %></font></em></h4>
	</div>
</div>
<p>
<div class="span10">
	<div class="row">
		<h4><em>Click here to see how your fans will use our mobile apps!
		<%= link_to "Continue", iphone_basketball_path %></h4>
	</div>
</div>
<div class="row">
	<div class="span10">
	    <h4>If you are looking for a site powered by Eazesportz.com, <%= link_to " click below to find the site.", sports_path %></h4><p>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h4>Click here to sign up!</h4>
	</div>
</div>
<div class="row">
	<div class="span2">
	  	<%= link_to "Sign Up", admininfo_path, class: "btn btn-medium btn-primary" %>
    </div>
</div>
