<% provide(:title, "Easzesportz Basketball - iPhone Mobile Sports Basketball") %>
<p>
<div class="row">
	<div class="col-xs-11">
		<h2>Game Tracker Basketball - Fans iPhone mobile app</h2>
		<p>
		<h5>Below are some examples of what your fans will see when they access your content from our iPhone app. Our mobile apps
			can provide your fans with access to real time stats in addition to being able to follow players and comment on your program. Remember, the ad free version require an upgrade which we will split with your program.
		</h5>
		<p>
		<div class="row">
			<div class="col-xs-2">
				<%= link_to "Get Started Now!", admininfo_path, class: "btn btn-sm btn-primary" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5><em>Live Game:</em></h5>
				<%= image_tag "Bball_iPhone_Screenshot-Game-Clock.png", class: 'img-responsive' %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5><em>Game Stats</em></h5>
				<%= image_tag "Bball_iPhone_Screenshot-Game-Stats.png", class: 'img-responsive' %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5><em>Individual Player Stats:</em></h5>
				<%= image_tag "Bball_iPhone_Screenshot-Player-Stats.png", class: 'img-responsive' %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5><em>Player Bio's:</em></h5>
				<%= image_tag "Bball_iPhone_Screenshot-Player-Info.png", class: 'img-responsive' %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5><em>Game Schedule:</em></h5>
				<%= image_tag "Bball_iPhone_Screenshot_Game Schedule.png", class: 'img-responsive' %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5>Fan Blog Support:</h5>
				<%= image_tag "Bball_IPhone_Screenshot-Blog.png", class: 'img-responsive' %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5><em>Team Photos:</em></h5>
				<%= image_tag "Bball_iPhone_Screenshot-Photos.png", class: 'img-responsive' %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5>Team Videos:</h5>
				<%= image_tag "Bball_iPhone_Screenshot-Search_Video.png", class: 'img-responsive' %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5><em>Player Alerts:</em></h5>
				<%= image_tag "Bball_iPhone_Screenshot-Player-Alerts.png", class: 'img-responsive' %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5><em>And much, much more .......</em></h5>
			</div>
		</div>
		<p>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-4">
				<%= link_to "Get Started Now!", admininfo_path, class: "btn btn-sm btn-primary" %>
			</div>
		</div>
	</div>
</div>
