<% provide(:title, "Easzesportz Basketball - iPhone Mobile Sports Basketball") %>
<p>
<div class="row">
	<div class="span10">
		<h2>Eazesportz Basketball - Fans iPhone mobile app</h2>
		<p>
		<h5>Below are some examples of what your fans will see when they access your content from our iPhone app. Our mobile apps
			can provide your fans with access to real time stats in addition to being able to follow players and comment on your program. Remember, the ad free version require an upgrade which we will split with your program.
		</h5>
		<p>
		<div class="row">
			<!--div class="span5 offset1">
				Click here for customized options including your own mobile app
				<%= link_to "Features", pricing_path, class: "btn btn-medium btn-primary" %>
			</div-->
			<div class="span2">
				<%= link_to "Get Started Now!", admininfo_path, class: "btn btn-medium btn-primary" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>Live Game:</em></h4>
				<%= image_tag "Bball_iPhone_Screenshot-Game-Clock.png" %>
			</div>
			<div class="span4 offset1">
				<h4><em>Game Stats</em></h4>
				<%= image_tag "Bball_iPhone_Screenshot-Game-Stats.png" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>Individual Player Stats:</em></h4>
				<%= image_tag "Bball_iPhone_Screenshot-Player-Stats.png" %>
			</div>
			<div class="span4 offset1">
				<h4><em>Player Bio's:</em></h4>
				<%= image_tag "Bball_iPhone_Screenshot-Player-Info.png" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>Game Schedule:</em></h4>
				<%= image_tag "Bball_iPhone_Screenshot_Game Schedule.png" %>
			</div>
			<div class="span4 offset1">
				<h4>Fan Blog Support:</h4>
				<%= image_tag "Bball_IPhone_Screenshot-Blog.png" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>Team Photos:</em></h4>
				<%= image_tag "Bball_iPhone_Screenshot-Photos.png" %>
			</div>
			<div class="span4 offset1">
				<h4>Team Videos:</h4>
				<%= image_tag "Bball_iPhone_Screenshot-Search_Video.png" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>Player Alerts:</em></h4>
				<%= image_tag "Bball_iPhone_Screenshot-Player-Alerts.png" %>
			</div>
			<div class="span4 offset1">
				<h4><em>And much, much more .......</em></h4>
			</div>
		</div>
		<p>
		<div class="row">
			<div class="span2 offset4">
				<%= link_to "Get Started Now!", admininfo_path, class: "btn btn-medium btn-primary" %>
			</div>
		</div>
	</div>
</div>
