<p>
<!--font color="#b3f10c"-->
<div class="row">
	<div class="span10">
		<h2>Eazesportz.com fans mobile app</h2>
		<p>
		<h5>Below are some examples of what your fans will see when they access your content from our iPhone app. Our mobile apps
			can provide your fans with access to real time stats in addition to being able to follow players and comment on your program. Remember, the ad free version require an upgrade which we will split with your program.
		</h5>
		<p>
		<div class="row">
			<!--div class="span5 offset1">
				Click here for customized options including your own mobile app
				<%= link_to "Features", pricing_path, class: "btn btn-medium btn-primary" %>
			</div-->
			<div class="span2">
				<%= link_to "Sign up now!", admininfo_path, class: "btn btn-medium btn-primary" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>Live Game:</em></h4>
				<%= image_tag "ios_LiveGame.png" %>
			</div>
			<div class="span4 offset1">
				<h4>Game Summary</h4>
				<%= image_tag "ios_GameSummary.png" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>News Feed:</em></h4>
				<%= image_tag "ios_NewsFeed.png" %>
			</div>
			<div class="span4 offset1">
				<h4>Blog Support:</h4>
				<%= image_tag "ios_blog.png" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>Team Game Schedule:</em></h4>
				<%= image_tag "ios_GameSchedule.png" %>
			</div>
			<div class="span4 offset1">
				<h4>Team Roster:</h4>
				<%= image_tag "ios_Roster.png" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>Team Photos:</em></h4>
				<%= image_tag "ios_photo.png" %>
			</div>
			<div class="span4 offset1">
				<h4>Team Videos:</h4>
				<%= image_tag "ios_Videos.png" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>Passing Stats:</em></h4>
				<%= image_tag "ios_PassingStats.png" %>
			</div>
			<div class="span4 offset1">
				<h4>Rushing Stats:</h4>
				<%= image_tag "ios_RushingStats.png" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>Receiving Stats:</em></h4>
				<%= image_tag "ios_ReceivingStats.png" %>
			</div>
			<div class="span4 offset1">
				<h4>Defensive Stats:</h4>
				<%= image_tag "ios_DefenseStats.png" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>Special Team Stats:</em></h4>
				<%= image_tag "ios_SpecialTeamStats.png" %>
			</div>
			<div class="span4 offset1">
				<h4><em>Team Coaches:</em></h4>
				<%= image_tag "ios_coachlist.png" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>And much, much more .......</em></h4>
			</div>
		</div>
		<p>
		<div class="row">
			<div class="span2 offset4">
				<%= link_to "Sign Up Now!", admininfo_path, class: "btn btn-medium btn-primary" %>
			</div>
		</div>
	</div>
</div>