<% provide(:title, "Game Tracker - Mobile Sports") %>
<p>
<div class="row">
	<div class="col-xs-11">
		<h2 class="text-center">Game Tracker</h2>
		<p>
		<h3 class="text-info">Game Tracker Mobile allows your fans access to real time stats, follow players and comment on your program. No login is required if your fans just want to follow the action. Login is required to post comments or upload media if the site administrator enables user media uploads.</h3> 
		<p>
		<div class="row">
			<div class="col-xs-4">
				<h5 class="text-success"><em>Game Tracker Home</em></h5>
				<%= image_tag "fanapp/iPhoneHome.png", class: "img-responsive" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5 class="text-success"><em>Select Sport</em></h5>
				<%= image_tag "fanapp/EazeSelectSport.png", class: "img-responsive" %>
			</div>
		</div>
		<p>
		<div class="row">
			<div class="col-xs-11">
				<h4>Follow a football game .........</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5 class="text-success"><em>Fans Follow Football live!</em></h5>
				<%= image_tag "fanapp/EazeFootballGameSummary.png", class: "img-responsive" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5 class="text-success"><em>Live Player Stats - Football</em></h5>
				<%= image_tag "fanapp/EazeFootballPlayerStats.png", class: "img-responsive" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-11">
				<h3>Follow a basketball game ........</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5 class="text-success"><em>Fans can follow Basketball live:</em></h5>
				<%= image_tag "fanapp/EazeBasketballGameSummary.png", class: "img-responsive" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5 class="text-success"><em>Live Player stats - Basketball!</em></h5>
				<%= image_tag "fanapp/EazeBasketballPlayerStats.png", class: "img-responsive" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-11">
				<h3>Follow a soccer game ........</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5 class="text-success"><em>Fans can follow Soccer live:</em></h5>
				<%= image_tag "fanapp/iPhoneSoccerGameSummary.png", class: "img-responsive" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5 class="text-success"><em>Live Player stats - Soccer!</em></h5>
				<%= image_tag "fanapp/iPhoneSoccerPlayerStats.png", class: "img-responsive" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-11">
				<h4>Regardless of the sport you are following, your fans have access to game schedules, roster, coaches information, standings, news for your program, blog, and much more .......</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5 class="text-success"><em>Access your game schedule:</em></h5>
				<%= image_tag "fanapp/EazeGameSchedule.png", class: "img-responsive" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5 class="text-success"><em>Access your roster and follow players:</em></h5>
				<%= image_tag "fanapp/EazeRoster.png", class: "img-responsive" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5 class="text-success"><em>Team Photos:</em></h5>
				<%= image_tag "fanapp/EazeTeamPhotos.png", class: "img-responsive" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5 class="text-success"><em>Team Videos:</em></h5>
				<%= image_tag "fanapp/EazeVideos.png", class: "img-responsive" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5 class="text-success"><em>Blog support!</em></h5>
				<%= image_tag "fanapp/EazeBlog.png", class: "img-responsive" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5 class="text-success"><em>Team News!</em></h5>
				<%= image_tag "fanapp/iPhoneNewsFeed.png", class: "img-responsive" %>
			</div>
		</div>
		<h4>And much, much more .......</h4>
		<p>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-4">
				<%= link_to "Get Started Now!", pricing_path, class: "btn btn-sm btn-primary" %>
			</div>
		</div>
	</div>
</div>