<% provide(:title, "Easzesportz Football - iPhone Mobile Sports Football") %>
<p>
<div class="row">
	<div class="col-xs-11">
		<h2>Eazesportz Football - Fans mobile app</h2>
		<p>
		<h5>Below are some examples of what your fans will see when they access your content from our iPhone app. Our mobile apps
			can provide your fans with access to real time stats in addition to being able to follow players and comment on your program. Remember, the ad free version require an upgrade which we will split with your program.
		</h5>
		<p>
		<div class="row">
			<div class="col-xs-2">
				<%= link_to "Get Started Now!", admininfo_path, class: "btn btn-sm btn-primary" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5><em>Live Game:</em></h5>
				<%= image_tag "FB_GameScore_IOS7.png", width: "200", height: "300" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5><em>Game Summary</em></h5>
				<%= image_tag "FB_GameSummary_IOS7.png", width: "200", height: "300" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5><em>News Feed:</em></h5>
				<%= image_tag "FB_NewsFeed_IOS7.png", width: "200", height: "300" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5><em>Blog Support:</em></h5>
				<%= image_tag "FB_Blog_IOS7.png", width: "200", height: "300" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5><em>Team Game Schedule:</em></h5>
				<%= image_tag "FB_GameSchedule_IOS7.png", width: "200", height: "300" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5><em>Team Roster:</em></h5>
				<%= image_tag "FB_Roster_IOS7.png", width: "200", height: "300" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5><em>Team Photos:</em></h5>
				<%= image_tag "FB_Photos_IOS7.png", width: "200", height: "300" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5><em>Team Videos:</em></h5>
				<%= image_tag "FB_Videos_IOS7.png", width: "200", height: "300" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5><em>Passing Stats:</em></h5>
				<%= image_tag "FB_PassingStats_IOS7.png", width: "200", height: "300" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5><em>Rushing Stats:</em></h5>
				<%= image_tag "FB_RushingStats_IOS7.png", width: "200", height: "300" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5><em>Receiving Stats:</em></h5>
				<%= image_tag "FB_ReceivingStats_IOS7.png", width: "200", height: "300" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5><em>Defensive Stats:</em></h5>
				<%= image_tag "FB_DefensiveStats_IOS7.png", width: "200", height: "300" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5><em>Special Team Stats:</em></h5>
				<%= image_tag "FB_ReturnerStats_IOS7.png", width: "200", height: "300" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5><em>Player Stats:</em></h5>
				<%= image_tag "FB_PlayerStats_IOS7.png", width: "200", height: "300" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5><em>And much, much more .......</em></h5>
			</div>
		</div>
		<p>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-4">
				<%= link_to "Get Started Now!", admininfo_path, class: "btn btn-sm btn-primary" %>
			</div>
		</div>
	</div>
</div>