<% provide(:title, "Game Tracker - New iPhone Mobile App") %>
<p>
<div class="row">
	<div class="col-xs-11">
		<h2 class="text-center">Game Tracker iPhone App Now supports all Game Tracker Editing Functions</h2>
		<p>
		<h5 class="text-info">Now you can use our iPhone app to create and manage your sports content. As an administrator of your program, team or players site, you can also allow your fans to upload photos and videos!</h5> 
		<h5 class="text-info">The app supports live stat updates for football, basketball and soccer. Below are some screen shots of what the app can do.</h5>
		<div class="row">
			<div class="col-xs-6">
				<h5 class="text-warning">If you would like to see what the app can do, download it and create a site.</h5> 
			</div>
			<div class="col-xs-2">
				<%= link_to image_tag("EazesportziTunesArtwork.png", class: 'img-responsive'), "#" %>
			</div>
		</div>
		<h5 class="text-danger">If you purchase a platinum package, there will be no ads. Your sponsors will be displayed instead!</h5>
		<p>
		<div class="row">
			<div class="col-xs-11">
				<h3>Here are some screenshots of the app when posting live stats during a football game</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5 class="text-success"><em>Post Football Stats live!</em></h5>
				<%= image_tag "fanapp/iPhoneEditGame.png", class: "img-responsive" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5 class="text-success"><em>Live Player Stats - Football</em></h5>
				<%= image_tag "fanapp/iPhoneStats.png", class: "img-responsive" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-11">
				<h3>Here are some screenshots of the app when posting live stats during a basketball game</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5 class="text-success"><em>Post Basketball Stats live:</em></h5>
				<%= image_tag "fanapp/iPhoneBasketballGameEdit.png", class: "img-responsive" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5 class="text-success"><em>Live Player stats - Basketball!</em></h5>
				<%= image_tag "fanapp/iPhoneBasketballStats.png", class: "img-responsive" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-11">
				<h3>Here are some screenshots of the app when posting live stats during a soccer game</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h5 class="text-success"><em>Post Soccer Stats live:</em></h5>
				<%= image_tag "fanapp/iPhoneSoccerGameEdit.png", class: "img-responsive" %>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<h5 class="text-success"><em>Live Player stats - Soccer!</em></h5>
				<%= image_tag "fanapp/iPhoneSoccerStats.png", class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>
