<% provide(:title, current_site.sitename) %>
<div id="loadscripts">
    <%= render partial: 'show', formats: [:js] %>
</div>
<p>
<div class="row">
  <div class="col-xs-7">
      <ul class="nav nav-pills">
        <% if @sport.teams.count > 1 %>
          <li><a href="#teamselect-responsive" data-toggle="modal">Teams</a></li>
        <% elsif @sport.teams.count == 0 %>
          <script> 
            $(document).ready(function() {
              $('#noteamsmodal').modal('show');
            });
         </script>
        <% end %>
        <!--li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Teams<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% current_site.teams.each do |t| %>
              <li><%= link_to (t.title + " " + t.mascot), selectteam_sport_path(current_site, team_id: t) %></li>
              <li class="divider"></li>
            <% end %> 
          </ul>
        </li-->
        <li><%= link_to "News", sport_path(@sport) %></li>
        <% if current_team? and user_signed_in? and (is_package_enabled?(@sport) or site_owner?) %>
          <li><%= link_to "Blog", sport_blogs_path(current_site, team_id: current_team.id) %></li>
        <% end %>
        <% if current_team? and (is_package_enabled?(@sport) or site_owner?) %>
          <li><%= link_to "Media", photoshome_sport_photos_path(@sport) %></li>
        <% end %>
      </ul>
      <div id="thenews">
        <% if !@thenews.nil? %>
          <%= render 'newsfeeds/newsfeed', newsfeed: @thenews %>
        <% else %>
          <div class="well">
            No News!
          </div>
        <% end %>
      </div>
  </div>
  <div class="col-xs-4">
      <ul class="nav nav-pills">
          <li><a href="#game-responsive" data-toggle="modal">Sort News</a></li>
          <li><%= link_to "Team News", '#', :class => 'all_news' %></li>
          <li><%= link_to "All", sport_newsfeeds_path(@sport) %></li>
       </ul>
      <div class="newsfeed table-responsive" id="thefeed">
        <%= render 'newsfeeds/newslist', newsfeeds: @newsfeeds %>
      </div>
  </div>
</div>
<p>
<% if !current_team.nil? %>
  <div class="row">
    <div class="col-xs-5">
      <%= render 'gameschedules/gamelist', gameschedules: @schedules %>
    </div>
    <div class="col-xs-5 col-xs-offset-1">
      <ul class="nav nav-pills">
        <% if !@followed.nil? and @followed.any? %>
          <li><%= link_to "Following", "#", :class => 'following_players' %></li>
        <% end %>
        <li><%= link_to "Featured", "#", :class => 'featured_players' %></li>
        <li><%= link_to  "Roster", sport_athletes_path(@sport, team_id: current_team.id) %></li>
      </ul>
      <div id="playerlist">
        <% if user_signed_in? and !@followed.nil? and @followed.any? %>
            <%= render 'athletes/playerlist', players: @followed, list: "Following" %>
        <% else %>
          <%= render 'athletes/playerlist', players: @featured, list: "Featured" %>
        <!--% else %-->
          <!--%= render 'athletes/playerlist', players: @players, list: "Roster" %-->
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<p>
<% if site_owner? %>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-3">
      <%= link_to "Edit Sport", edit_sport_path(id: @sport.id), class: "btn btn-md btn-primary" %>
    </div>
    &nbsp
    <div class="col-xs-2">
      <%= link_to "Delete Sport", @sport,  method: :delete, class: "btn btn-md btn-danger", 
              data: { confirm: "You sure? All data, photos, videos, schedules, etc. will be deleted. Do you want to edit or rename the sport?" } %>
    </div>
  </div>
<% end %>
<div class-"row">
  <div class="col-xs-6">
    <div id="game-responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Select Game</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <th>Game</th>
              </thead>
              <tbody>
                <% if !@schedules.nil? %>
                  <% @schedules.each do |s| %>
                    <tr>
                      <td><%= link_to s.game_name, '#', :class => 'sort_news_schedules', :data => {:id => s.id.to_s} %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <th>Player</th>
              </thead>
              <tbody>
                <% if !@players.nil? %>
                  <% @players.each do |p| %>
                    <tr>
                      <td><%= link_to p.numlogname, '#', :class => 'sort_news_players', :data => {:id => p.id.to_s} %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>
<div class-"row">
  <div class="col-xs-4">
    <div id="noplayers-responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">No Players</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="well">
              <p class="text-info">No players featured for this team.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-xs-1">
          <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/teamselectmodal', callbackscript: 'select_team' %>
<%= render 'layouts/messagemodal', modalid: 'noteamsmodal', modaltitle: 'No Teams', messagetext: 'Administrator has added no teams' %>

