<% provide(:title, current_site.sitename) %>
<div id="loadscripts">
    <%= render 'show.js' %>
</div>
<p>
<div class="row">
  <div class="col-xs-7">
      <ul class="nav nav-pills">
        <li><%= link_to "News", sport_path(@sport, photo_mode: "news") %></li>
        <% if current_team? and @photomode == "photos" and current_team? %>
          <li><%= link_to "Photos", sport_photos_path(@sport, team_id: current_team.id) %></li>
          <li><%= link_to "Videos", sport_videoclips_path(@sport, team_id: current_team.id) %></li>
        <% else %>
          <li><%= link_to "Latest Photo's", sport_path(@sport, photo_mode: "photos") %></li>
          <!--li><a href="#photo-responsive" data-toggle="modal">Latest Photo's</a></-->
        <% end %>
      </ul>
      <div id="thenews">
          <%= render 'newsfeeds/newsfeed', newsfeed: @thenews %>
      </div>
  </div>
  <div class="col-xs-4">
      <ul class="nav nav-pills">
          <li><a href="#game-responsive" data-toggle="modal">Sort News</a></li>
          <li><%= link_to "All", '#', :class => 'all_news' %></li>
       </ul>
      <div class="newsfeed table-responsive" id="thefeed">
        <%= render 'newsfeeds/newslist', newsfeeds: @newsfeeds %>
      </div>
  </div>
</div>
<p>
<% if !current_team.nil? %>
  <div class="row">
    <div class="col-xs-5">
      <%= render 'gameschedules/gamelist', gameschedules: @schedules %>
    </div>
    <div class="col-xs-5 col-xs-offset-1">
      <% if user_signed_in? and !@followed.nil? and @followed.any? %>
        <div class="row">
            <ul class="nav nav-pills">
                <li class="disabled"><a href="#" data-toggle="tab">Following Players</a></li>
                <li><%= link_to "Roster", sport_athletes_path(@sport, team_id: current_team) %></li>
            </ul>
        </div>
        <%= render 'athletes/playerlist', players: @followed %>
      <% elsif !@featured.nil? and @featured.any? %>
        <p class="text-info">Featured Players</p>
        <%= render 'athletes/playerlist', players: @featured %>
      <% else %>
        <p class="text-info"><%= current_team.mascot %> Roster</p>
        <% render 'athletes/playerlist', players: @players %>
      <% end %>
    </div>
  </div>
<% end %>
<p>
<div class="row">
  <div class="col-xs-11">        
    <div class="panel panel-primary">
      <div class="panel-heading">
          <h4 class="panel-title"><%= @sport.sitename %> Sponsors</h4>
       </div>
    </div>
  </div>
</div>
<div class="row">
    <% if !(@sponsor = sponsorad(@sport)).nil? %>
        <div class="col-xs-3 col-xs-offset-1">
            <%= image_tag @sponsor.sponsorpic.url(:medium), class: 'img-responsive' %></td>
        </div>
     <% end %>
    <% if !(@sponsor = sponsorad(@sport)).nil? %>
        <div class="col-xs-3">
            <%= image_tag @sponsor.sponsorpic.url(:medium), class: 'img-responsive' %></td>
        </div>
     <% end %>
    <% if !(@sponsor = sponsorad(@sport)).nil? %>
        <div class="col-xs-3">
            <%= image_tag @sponsor.sponsorpic.url(:medium), class: 'img-responsive' %></td>
        </div>
     <% end %>
</div>
<p>
<% if site_owner? %>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-4">
      <%= link_to "Edit Sport", edit_sport_path(id: @sport.id), class: "btn btn-md btn-primary" %>
      <p>
      <% if @sport.teams.blank? %>
        <strong>No teams entered.</strong> Click Edit Sport to add teams!
      <% end %>
    </div>
    &nbsp
    <div class="col-xs-2">
      <%= link_to "Delete Sport", @sport,  method: :delete, class: "btn btn-md btn-danger", 
              data: { confirm: "You sure? All data, photos, videos, schedules, etc. will be deleted. Do you want to edit or rename the sport?" } %>
    </div>
  </div>
<% end %>
<div class-"row">
  <div class="col-xs-6">
    <div id="game-responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Select Game</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <th>Game</th>
              </thead>
              <tbody>
                <% if !@schedules.nil? %>
                  <% will_paginate @schedules %>
                  <% @schedules.each do |s| %>
                    <tr>
                      <td><%= link_to s.game_name, '#', :class => 'sort_news_schedules', :data => {:id => s.id.to_s} %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <th>Player</th>
              </thead>
              <tbody>
                <% if !@players.nil? %>
                  <% will_paginate @players %>
                  <% @players.each do |p| %>
                    <tr>
                      <td><%= link_to p.number.to_s + " " + p.logname, '#', :class => 'sort_news_players', :data => {:id => p.id.to_s} %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>
<div class-"row">
  <div class="col-xs-4">
    <div id="photo-responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Select Game</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="well">
              <p class="text-info">Coming Soon!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>

