<% provide(:title, "Eazesportz Basketball Web Site Example") %>
<div class="row">
	<div class="col-xs-11">
		<h2>Eazesportz.com Basketball Web site</h2>
		<p>
		You can use our web site to also manage your Basketball program. You can also upload a banner if you choose to use the web site for users to also access 
		your programs contant via the web. There is no charge for using the web site although we will serve ads to your users in the future.
		<p>
		We focus on mobile applications to assist you in managing your sports basketball program. You are free to use the web site as your programs page if you choose let
		your fans know where to bookmark the page. Keep in mind that the url for the site will be eazesportz.com. When your fans log in they will have access to  all your programs content.
		<p>
		We can map your URL to your landing page if you so desire. There is a cost of $99 to do so. If you are comfortable with your fans accessing your programs content from this web site, they can do so free of charge!
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<h5>News Feed</h5>
		<strong>Your fans landing page.</strong>
		<p>
		This example has no banner uploaded. This is what your fans will see if you choose to not upload your own banner. We suggest uploading one to give your page a customized look and feel. See the video page example below for an example of an uploaded banner.
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-11">
		<%= image_tag "BB_news_feed.jpeg", width: "700", height: "800" %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<h5>Game Scoring Summary</h5>
		Our website provides a live game summary. You can use the website to enter the scoring information as the action happens just as you do with our iPad Management Console. Your fans will still get the updates on their iPhones.
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-11">
		<%= image_tag "BBallScheduleWeb.jpg", width: "700", height: "800" %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<h5>Roster</h5>
		Your fans can follow your players to get alerts. Scoring alerts are sent to the iPhone. Your fans can also access the alerts from the web site.
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-11">
		<%= image_tag "BB_Roster.jpeg", width: "700", height: "800" %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<h5>Blog support</h5>
		All blogging features available to your fans on our mobile apps are also available on the web site. As administrator, you will also be able to manage the blog and keep track of what your fans are saying.
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-11">
		<%= image_tag "BB_blog.jpeg", width: "700", height: "800" %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<h5>Photo support</h5>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-11">
		<%= image_tag "BBallPhotosWeb.jpg", width: "700", height: "800" %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<h5>Video support</h5>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-11">
		<%= image_tag "FB_videos.png", width: "700", height: "800" %>
	</div>
</div>
<p>
<h5>and much more .......</h5>
<div class="row">
	<div class="col-xs-4">
		<p class="text-success">Click here to sign up!
	  	<%= link_to "Sign Up", admininfo_path, class: "btn btn-sm btn-primary" %></p>
    </div>
</div>