<%= hidden_field_tag "livestats", value=@live %>
<%= hidden_field_tag "gameschedule_id", value=@punter.gameschedule_id.to_s %>
<h4>Punts</h4>
<div class="row">
	<div class="span2">
        <%= label_tag "Punts: " %>
        <%= check_box_tag "punts", 1 %>
	</div>
	<div class="span2 offset1">
        <%= label_tag "Blocked: " %>
        <%= check_box_tag 'punts_blocked', 1 %>
	</div>
	<div class="span2 offset1">
        <%= label_tag "Punt Yards: " %>
        <%= text_field_tag 'punts_yards', '0' %>
	</div>
</div>
<div class="row">
	<div class="span1 offset4">
		<%= submit_tag 'Submit', class:	"btn btn-medium btn-primary" %>
	</div>
</div>
