<%= hidden_field_tag "livestats", value=@live %>
<%= hidden_field_tag "gameschedule_id", value=@punter.gameschedule_id.to_s %>
<h4>Punts</h4>
<div class="row">
	<div class="col-xs-2">
		<h5>Punt Totals: <font color="blue"><%= @punter.punts %></font></h5>
        <%= label_tag "Remove a punt: " %>
        <%= check_box_tag "punts", 1 %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<h5>Punts Blocked: <font color="blue"><%= @punter.punts_blocked %></font></h5>
        <%= label_tag "Adjust Punts Blocked: " %>
        <%= check_box_tag 'punts_blocked', 1 %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<h5>Punt yards: <font color="blue"><%= @punter.punts_yards %></font></h5>
        <%= label_tag "Adjust Punt Yards: " %>
        <%= text_field_tag 'punts_yards', '0', class: 'form-control' %>
	</div>
</div>
<div class="row">
	<div class="col-xs-1 col-xs-offset-4">
		<%= submit_tag 'Submit', class:	"btn btn-sm btn-primary" %>
	</div>
</div>
