<div class-"row">
  <div class="col-xs-8">
    <div id="punter-responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Live Punter Stat</h4>
      </div>
      <div class="modal-body">
        <div class="well">
          <div class="row">
            <div class="col-xs-2">
              <%= link_to image_tag(player.pic.url(:thumb), class: 'img-responsive'), sport_athlete_path(@sport, player) %>
            </div>
            <div class="col-xs-6">
              <h4>Update Live Punter Stats for <%= link_to(player.full_name, sport_athlete_path(@sport, player)) %></h4>
            </div>
          </div>
          <p>
          <div class="row">
            <div class="col-xs-8">
              <div class="row">
                <div class="col-xs-2">
                    <button href="#livepunter-responsive" data-dismiss="modal"
                            data-toggle="modal" class="btn btn-md btn-primary">Live</button>
                </div>
                <div class="col-xs-2 col-xs-offset-1">
                    <button href="#totalpunter-responsive" data-dismiss="modal"
                            data-toggle="modal" class="btn btn-md btn-primary">Totals</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-xs-1">
          <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class-"row">
  <div class="col-xs-8">
    <div id="livepunter-responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Live Stats</h4>
      </div>
      <div class="modal-body">
        <div class="well">
          <div class="row">
            <div class="col-xs-2">
              <%= link_to image_tag(player.pic.url(:thumb)), sport_athlete_path(@sport, player) %>
            </div>
            <div class="col-xs-6">
              <h4>Update Live Defensive Scoring stat for <%= link_to(player.full_name, sport_athlete_path(@sport, player)) %></h4>
            </div>
          </div>
          <p>
          <div class="row">
            <div class="col-xs-11">
              <%= form_for [@sport, player, stat], :input_html => { :class => 'form-horizontal' } do |f| %>
                <%= hidden_field_tag "livestats", value="Live" %>
                <%= hidden_field_tag "gameschedule_id", value=@gameschedule.id %>
                <div class="row">
                  <div class="col-xs-2">
                        <%= label_tag "Punt" %>
                        <%= check_box_tag "punts", 1 %>
                  </div>
                  <div class="col-xs-2 col-xs-offset-1">
                        <%= label_tag "Blocked" %>
                        <%= check_box_tag 'punts_blocked', 1 %>
                  </div>
                  <div class="col-xs-1 col-xs-offset-1">
                        <%= label_tag "Yards" %>
                        <%= text_field_tag 'punts_yards', '0', class: 'form-control' %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2 col-xs-offset-2">
                    <%= submit_tag 'Submit', class: "btn btn-md btn-primary" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-xs-1">
          <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class-"row">
  <div class="col-xs-8">
    <div id="totalpunter-responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Live Stats</h4>
      </div>
      <div class="modal-body">
        <div class="well">
          <div class="row">
            <div class="col-xs-2">
              <%= link_to image_tag(getimage(player, 'thumb'), class: 'img-responsive'), sport_athlete_path(@sport, player) %>
            </div>
            <div class="col-xs-9">
              <h4>Update Live Stats for <%= link_to(player.full_name, sport_athlete_path(@sport, player)) %></h4>
            </div>
          </div>
          <p>
          <div class="row">
            <div class="col-xs-11">
              <%= form_for [@sport, player, stat], :input_html => { :class => 'form-horizontal' } do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>
                  <%= f.hidden_field :livestats, value: "Totals" %>
                  <%= f.hidden_field :gameschedule_id, value: @gameschedule.id %>
                  <div class="row">
                    <div class="col-xs-1">
                      <%= f.label :punts %>
                      <%= f.text_field :punts, class: 'form-control' %>
                    </div>
                    <div class="col-xs-1 col-xs-offset-1">
                      <%= f.label :yards %>
                      <%= f.text_field :punts_yards, class: 'form-control' %>
                    </div>
                    <div class="col-xs-1 col-xs-offset-1">
                      <%= f.label :long %>
                      <%= f.text_field :punts_long, class: 'form-control' %>
                    </div>
                    <div class="col-xs-1 col-xs-offset-1">
                      <%= f.label :blocked %>
                      <%= f.text_field :punts_blocked, class: 'form-control' %>
                    </div>
                  </div>
                  <p>
                  <div class="row">
                    <div class="col-xs-2 col-xs-offset-3">
                      <%= f.submit "Submit", class:  "btn btn-md btn-primary" %>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-xs-1">
          <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
