<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<script>
  	$(document).ready(function() {
	    $(window).load(function() {
		   $('#punter-responsive').modal('show')
		});
	});	
</script>
<div class="row">
	<div class="col-xs-2">
		<%= link_to image_tag(getimage(@athlete, 'thumb'), class: 'img-responsive'), sport_athlete_path(@sport, @athlete) %>
	</div>
	<div class="col-xs-6">
		<h4>Punter game statistics for <%= link_to(@athlete.full_name, sport_athlete_path(@sport, @athlete)) %></h4>
	</div>
	<div class="col-xs-1 col-xs-offset-2">
        <button href="#punter-responsive" data-dismiss="modal" data-toggle="modal" class="btn btn-sm btn-primary">Update</button>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-11">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<th>PUNTS</th>
				<th>BLOCKED</th>
				<th>YDS</th>
				<th>LONG</th>
			</thead>
			<tbody>
				<td><%= @punter.punts %></td>
				<td><%= @punter.punts_blocked %></td>
				<td><%= @punter.punts_yards %></td>
				<td><%= @punter.punts_long %></td>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<%= render "layouts/sponsor" %>
</div>
<%= render 'puntermodal', stat: @punter, player: @athlete %>
