<%= hidden_field_tag "livestats", value=@live %>
<%= hidden_field_tag "gameschedule_id", value=@rushing.gameschedule_id.to_s %>
<div class="row">
	<div class="span2">
        <%= label_tag "Quarter: " %>
		<%= select_tag "quarter", options_for_select(quarters) %>
	</div>
	<div class="span4 offset1">
        <%= label_tag "Game Time (Needed for scoring summary only): " %>
        <%= text_field_tag "time", '00:00' %>
	</div>
</div>
<p>
<div class="row">
	<div class="span2">
        <%= label_tag "Yards: " %>
        <%= text_field_tag "yards", '0' %>
	</div>
	<div class="span2 offset1">
        <%= label_tag "Click for Touchdown: " %>
        <%= check_box_tag 'td', '1' %>
	</div>
</div>
<p>
<div class="row">
	<div class="span2">
        <%= label_tag "Fumble: " %>
        <%= text_field_tag "fumble", '0' %>
	</div>
	<div class="span2 offset1">
        <%= label_tag "Two Point Conversion: " %>
        <%= check_box_tag "two", '1' %>
	</div>
</div>
<p>
<div class="row">
	<div class="span2">
        <%= label_tag "Fumble Lost: " %>
        <%= text_field_tag "fumble_lost", '0' %>
	</div>
	<div class="span2 offset1">
        <%= label_tag "First Downs: " %>
        <%= check_box_tag "fd", '1' %>
	</div>
</div>
<p>
<div class="row">
	<div class="span1 offset2">
		<%= submit_tag 'Submit', class:	"btn btn-medium btn-primary" %>
	</div>
</div>
