<tbody>
	<% if name.kind_of?(Athlete) %>
		<td><%= link_to name.logname, [@sport, name] %></td>
	<% elsif name.kind_of?(Gameschedule) %>
		<td><%= link_to ("vs " + name.opponent), [@sport, @sport.teams.find(name.team_id), name] %></td>
	<% else %>
		<td><%= name %></td>
	<% end %>
	<td><%= stat.attempts %></td>
	<td><%= stat.yards %></td>
	<td><%= number_with_precision(stat.average, precision: 2) %></td>
	<td><%= stat.td %></td>
	<td><%= stat.firstdowns %></td>
	<td><%= stat.fumbles %></td>
	<td><%= stat.fumbles_lost %></td>
	<td><%= stat.twopointconv %></td>
	<% if FootballRushing.find(stat.id).nil? and site_owner? or isTeamManager?(player) and name != "Totals" %>
		<td><%= link_to "Edit", new_sport_athlete_football_rushing_path(@sport, player, gameschedule_id: stat.gameschedule_id), class: "btn btn-xs btn-primary"%></td>
	<% elsif name != "Totals" %>
		<td><%= link_to "Edit", edit_sport_athlete_football_rushing_path(@sport, player, stat), class: "btn btn-xs btn-primary"%></td>
	<% else %>
		<td></td>
	<% end %>
</tbody>
