<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span8 offset2">
		<em>Add Rushing Carry for: <%= link_to @athlete.full_name, sport_athlete_path(@sport, @athlete) %>  for 
			<%= @stat.gameschedule.game_name %></em>
		<p>
		<%= form_tag addcarry_sport_athlete_football_stat_football_rushings_path(sport_id: @sport, athlete_id: @athlete, 
								football_stat_id: @stat, football_rushing_id: @rushing), class: "form-horizontal", method: 'get' do %>
			<%= render 'shared/error_messages', object: @rushing %>
			<div class="row">
				<div class="span2">
		            <%= label_tag "Quarter: " %>
					<%= select_tag "quarter", options_for_select(quarters) %>
				</div>
				<div class="span4 offset1">
		            <%= label_tag "Game Time (Needed for scoring summary only): " %>
		            <%= text_field_tag "time", '00:00' %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="span2">
		            <%= label_tag "Yards: " %>
		            <%= text_field_tag "yards", '0' %>
				</div>
				<div class="span2 offset1">
		            <%= label_tag "Click for Touchdown: " %>
		            <%= check_box_tag 'td', '1' %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="span2">
		            <%= label_tag "Fumble: " %>
		            <%= text_field_tag "fumble", '0' %>
				</div>
				<div class="span2 offset1">
		            <%= label_tag "Two Point Conversion: " %>
		            <%= check_box_tag "two", '1' %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="span2">
		            <%= label_tag "Fumble Lost: " %>
		            <%= text_field_tag "fumble_lost", '0' %>
				</div>
				<div class="span2 offset1">
		            <%= label_tag "First Downs: " %>
		            <%= check_box_tag "fd", '1' %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="span1 offset2">
					<%= submit_tag 'Submit', class:	"btn btn-medium btn-primary" %>
				</div>
			</div>
		<% end %>
	</div>
</div>
