<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span9 offset1">
		<p>
		<!--%= render 'tabs_game' %-->
		<p>
		<h4>Rushing game statistics for <%= link_to @athlete.full_name, [@sport, @athlete] %> for <%= @stat.gameschedule.game_name %></h4>
		<p>
		<table class="table table-bordered">
			<em>
			<thead>
				<th>Rushing Attempts</th>
				<th>Rushing Yards</th>
				<th>Average</th>
				<th>Rushing TD</th>
			</thead>
			</em>
			<tbody>
				<td><%= @rushing.attempts %></td>
				<td><%= @rushing.yards %></td>
				<td><%= number_with_precision(@rushing.average, precision: 2) %></td>
				<td><%= @rushing.td %></td>
			</tbody>
		</table>
		<table class="table table-bordered">
			<thead>
				<th>First Downs</th>
				<th>Fumbles</th>
				<th>Fumbles Lost</th>
				<th>Two Point Conv</th>
			</thead>
			<tbody>
				<td><%= @rushing.firstdowns %></td>
				<td><%= @rushing.fumbles %></td>
				<td><%= @rushing.fumbles_lost %></td>
				<td><%= @rushing.twopointconv %></td>
			</tbody>
		</table>
		<% if isAdmin? or isTeamManager?(@athlete) %>
			Select <strong>Add Carry</strong> below to enter real time stats during a game. You can still use this page to add stats that have already been totalled. Use this page to make adjustments to the totals.
			<p>
			<div class="span4 offset2">
				<%= link_to "Add Carry", add_sport_athlete_football_stat_football_rushing_path(@sport, @athlete, @stat, id: @rushing), 
							class: "btn btn-mini btn-primary" %>
				<%= link_to "Edit Game Totals", edit_sport_athlete_football_stat_football_rushing_path(@sport, @athlete, @stat, @rushing), 
							class: "btn btn-mini btn-primary" %>
				<%= link_to "Delete", sport_athlete_football_stat_football_rushing_path(@sport, @athlete, @stat, @rushing), method: :delete, 
							class: "btn btn-mini btn-danger", data: { confirm: "You sure?" } %>
			</div>
		<% end %>
	</div>
</div>
<div class="row">
	<%= render "layouts/sponsor" %>
</div>