<% if !stat.nil? %>
	<tr>
		<% if name == "Game" %>
			<% @game = Gameschedule.find(stat.gameschedule_id.to_s) %>
			<td><%= link_to(@game.game_name, [@sport, @sport.teams.find(@game.team_id), @game]) %></td>
		<% else %>
			<% athlete = Athlete.find(stat.athlete_id.to_s) %>
			<td><%= link_to(athlete.logname, [@sport, athlete]) %></td>
		<% end %>

		<% if is_soccer_goalie?(@athlete.position) %>
			<td><%= stat.goalsagainst %></td>
			<td><%= stat.goalssaved %></td>
			<td><%= stat.shutouts %></td>
			<td><%= stat.minutesplayed %></td>
		<% elsif hasSoccerPlayerStats?(stat) %>
			<td><%= stat.goals %></td>
			<td><%= stat.shotstaken %></td>
			<td><%= stat.assists %></td>
			<td><%= stat.steals %></td>
		<% end %>

		<% if Soccer.find(stat.id).nil? and isAdmin? %>
			<td><%= link_to "Stats", new_sport_athlete_soccer_path(@sport, stat.athlete_id, gameschedule_id: stat.gameschedule_id), 
							class: "btn btn-xs btn-primary" %></td>
		<% elsif isAdmin? %>
			<td><%= link_to "Stats", edit_sport_athlete_soccer_path(@sport, stat.athlete_id, stat, gameschedule_id: stat.gameschedule_id), 
					class: "btn btn-xs btn-primary" %></td>
		<% end %>
	</tr>
<% end %>
