
<div class="row">
	<div class="col-xs-11">
		<%= form_for [@sport, @athlete, @stats],  input_html: { class: 'form-horizontal' } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<% if is_soccer_goalie?(@athlete.position) %>
				<div class="row">
					<div class="col-xs-4 col-xs-offset-3">
						<h4>Goalie Statistics</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-1 col-xs-offset-3">
						<%= f.label :goals_against %>
						<%= f.text_field :goalsagainst, class: 'form-control' %>
					</div>
					<div class="col-xs-1">
						<%= f.label :goals_saved %>
						<%= f.text_field :goalssaved, class: 'form-control' %>
					</div>
					<div class="col-xs-1">
						<%= f.label :shut_outs %>
						<%= f.text_field :shutouts, class: 'form-control' %>
					</div>
				</div>
			<% end %>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-3">
					<h4>Player Statistics</h4>
				</div>
			</div>
			<div class="row">
				<%= f.hidden_field :gameschedule_id, value: @gameschedule.id %>
				<div class="col-xs-1 col-xs-offset-3">
					<%= f.label :goals %>
					<%= f.text_field :goals, class: 'form-control' %>
				</div>
				<div class="col-xs-1">
					<%= f.label :shots %>
					<%= f.text_field :shotstaken, class: 'form-control' %>
				</div>
				<div class="col-xs-1">
					<%= f.label :CK, "CK" %>
					<%= f.text_field :cornerkick, class: 'form-control' %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-1 col-xs-offset-3">
					<%= f.label :assists %>
					<%= f.text_field :assists, class: 'form-control' %>
				</div>
				<div class="col-xs-1">
					<%= f.label :steals %>
					<%= f.text_field :steals, class: 'form-control' %>
				</div>
				<div class="col-xs-1">
					<%= f.label :minutes %>
					<%= f.text_field :minutesplayed, class: 'form-control' %>
				</div>
			</div>
			<p>
		    <div class="row">
				<div class="col-xs-1 col-xs-offset-4">
					<%= f.submit :submit, class: "btn btn-md btn-primary" %>
		        </div>
			</div>
		<% end %>
	</div>
</div>
