<% provide(:title, current_site.sitename + " " + @sport.name + " - Soccer Stats") %>
<p>
<div class="row">
	<div class="col-xs-10">
		<%= link_to image_tag(@athlete.pic.url(:thumb)), sport_athlete_path(@sport, @athlete) %>
	</div>
</div>
<div class="row">
	<div class="col-xs-10">
		<% if !@athlete.nil? and !@gameschedule.nil? %>
			<% if @stats.empty? %>
				<%= render 'layouts/messagemodal', modalid: "nostatsmodal", modaltitle: "No Stats", 
							messagetext: "No stats for " + @athlete.numlogname %>
				<script>
			        $(document).ready(function() {
			          $('#nostatsmodal').modal('show');
			        });
				</script>
			<% else %>
				<h4>Stats for <%= @athlete.logname %> for game <%= @gameschedule.game_name %></h4>
				<% if hasSoccerPlayerStats?(@stats) %>
					<table class="table table-bordered">
						<%= render "playerstatsheader", name: "Game"%>
						<%= render "playerstatsbody", stat: @stats[0], name: "Game" %>
					</table>
				<% end %>
				<% if is_soccer_goalie?(@athlete.position) %>
					<table class="table table-bordered">
						<%= render "goalieheader", name: "Game"%>
						<%= render "goaliebody", stat: @stats[0], name: "Game" %>
					</table>
				<% end %>
			<% end %>
		<% elsif !@athlete.nil? %>
			<% if @stats.empty? %>
				<%= render 'layouts/messagemodal', modalid: "nostatsmodal", modaltitle: "No Stats", 
							messagetext: "No stats for " + @athlete.numlogname %>
				<script>
			        $(document).ready(function() {
			          $('#nostatsmodal').modal('show');
			        });
				</script>
			<% else %>
				<h4>Stats for <%= @athlete.logname %></h4>
				<% if hasSoccerPlayerStats?(@stats) %>
					<table class="table table-bordered">
						<%= render "playerstatsheader", name: "Player" %>
						<% @gameschedules.each do |g| %>
							<% @thestat = nil %>
							<% @stats.each do |b| %>
								<% if g.id == b.gameschedule_id %>
									<% @thestat = b %>
									<% break %>
								<% end %>
							<% end %>
							<% if @thestat %>
								<%= render "playerstatsbody", stat: @thestat, name: "Game" %>
							<% else %>
								<%= render "playerstatsbody", stat: Soccer.new(gameschedule: g.id, athlete: @athlete.id), name: "Game" %>
							<% end %>
						<% end %>
					</table>
				<% end %>
				<% if is_soccer_goalie?(@athlete.position) %>
					<h4>Goalie Stats</h4>
					<table class="table table-bordered">
						<%= render "goalieheader", name: "Player" %>
						<% @gameschedules.each do |g| %>
							<% @thestat = nil %>
							<% @stats.each do |b| %>
								<% if g.id == b.gameschedule_id %>
									<% @thestat = b %>
									<% break %>
								<% end %>
							<% end %>
							<% if @thestat %>
								<%= render "goaliebody", stat: @thestat, name: "Game" %>
							<% else %>
								<%= render "goaliebody", stat: Soccer.new(gameschedule: g.id, athlete: @athlete.id), name: "Game" %>
							<% end %>
						<% end %>
					</table>
				<% end %>
			<% end %>
		<% elsif !@gameschedule.nil? %>
			<% if @stats.empty? %>
				<%= render 'layouts/messagemodal', modalid: "nostatsmodal", modaltitle: "No Stats", 
							messagetext: "No stats for " + @athlete.numlogname %>
				<script>
			        $(document).ready(function() {
			          $('#nostatsmodal').modal('show');
			        });
				</script>
			<% else %>
				<h4>Stats for game <%= @gameschedule.game_name %></h4>
				<table class="table table-bordered">
					<%= render "playerstatsheader", name: "Player" %>
					<% @athletes.each do |a| %>
						<% @thestat = nil %>
						<% @stats.each do |b| %>
							<% if a.id == b.athlete_id %>
								<% @thestat = b %>
								<% break %>
							<% end %>
						<% end %>
						<% if @thestat and hasSoccerPlayerStats?(@thestat) %>
							<%= render "playerstatsbody", stat: b, name: "Player" %>
						<% else %>
							<%= render "playerstatsbody", stat: Soccer.new(gameschedule: @gameschedule.id, athlete: a.id), name: "Player" %>
						<% end %>
					<% end %>
				</table>
				<table class="table table-bordered">
					<%= render "goalieheader", name: "Player" %>
					<% @athletes.each do |a| %>
						<% @thestat = nil %>
						<% @stats.each do |b| %>
							<% if a.id == b.athlete_id %>
								<% @thestat = b %>
								<% break %>
							<% end %>
						<% end %>
						<% if @thestat and is_soccer_goalie?(a.position) %>
							<%= render "goaliebody", stat: b, name: "Player" %>
						<% elsif is_soccer_goalie?(a.position) %>
							<%= render "goaliebody", stat: Soccer.new(gameschedule: @gameschedule.id, athlete: a.id), name: "Player" %>
						<% end %>
					<% end %>
				</table>
			<% end %>
		<% end %>
	</div>
</div>