<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="col-xs-2">
		<%= link_to image_tag(@athlete.pic.url(:thumb)), sport_athlete_path(@sport, @athlete) %>
	</div>
	<div class="col-xs-8">
		<h4>Enter new place kicker statistics for <%= link_to @athlete.full_name, [@sport, @athlete] %> for <%= @gameschedule.game_name %></h4>
	</div>
</div>
<p>
<div class="row">
	<% if @live.nil? %>
		<div class="col-xs-3">
			<%= form_tag new_sport_athlete_football_place_kicker_path(@sport, @athlete), class: "form-horizontal", method: 'get' do %>
				<%= hidden_field_tag "gameschedule_id", value=@gameschedule.id %>
				<%= select_tag "livestats", options_for_select(["Play by Play", "Totals"]), class: 'form-control' %>
				<%= submit_tag "Submit", class: "btn btn-sm btn-primary", name: nil %>
		    <% end %>
		</div>
	<% else %>
		<div class="col-xs-10">
			<%= simple_form_for [@sport, @athlete, @placekicker], 
							:defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } } do |f| %>
				<%= render 'shared/error_messages', object: f.object %>
				<% if @live == "Play by Play" %>
					<h5>Entering Stats play by play<h5>
					<%= render 'addlive' %>
				<% else %>
					<h5><font color="red">Entering totals here will not be linked to automatic game log scoring. Use this form only if you do not want to provide that data for your users.</font></h5>
					<%= render 'form', f: f %>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>