<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<script>
  	$(document).ready(function() {
	    $(window).load(function() {
		   $('#placekicker-responsive').modal('show')
		});
	});	
</script>
<div class="row">
	<div class="col-xs-2">
		<%= link_to image_tag(@athlete.pic.url(:thumb)), sport_athlete_path(@sport, @athlete) %>
	</div>
	<div class="col-xs-7">
		<h4>Passing game statistics for <%= link_to(@athlete.full_name, sport_athlete_path(@sport, @athlete)) %></h4>
	</div>
	<div class="col-xs-1 col-xs-offset-2">
        <button href="#placekicker-responsive" data-dismiss="modal" data-toggle="modal" class="btn btn-sm btn-primary">Update</button>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<th>FGA</th>
				<th>FGM</th>
				<th>BLKD</th>
				<th>FG LNG</th>
			</thead>
			<tbody>
				<td><%= @placekicker.fgattempts %></td>
				<td><%= @placekicker.fgmade %></td>
				<td><%= @placekicker.fgblocked %></td>
				<td><%= @placekicker.fglong %></td>
			</tbody>
		</table>
	</div>
</div>
<%= render 'placekickermodal', stat: @placekicker, player: @athlete %>
