<script>
  $(document).ready(function() {
    $('#select_team').change(function() {
      $.ajax({
        url: "<%= updateteams_sport_newsfeeds_path %>",
        data: {
          teamid : $('#select_team').val()
        },
        dataType: "script"
      });
    });
  });
</script>
<div class="row">
	<div class="col-xs-12">
		<h4>News item for sport <%= @sport.sport_name %></h4>
		<%= form_for [@sport, @newsfeed], :input_html => { :class => 'form-horizontal' } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
        <div class="row">
		      <div class="col-xs-6">
            <%= f.label "Title" %>
		          <%= f.text_field :title, class: 'form-control' %>
		      </div>
	        <div class="col-xs-5">
            <%= f.label "External-url" %>
	          <%= f.text_field :external_url, class: 'form-control' %>
	        </div>
		    </div>
		    <div class="row">
  				<div class="col-xs-6">
            <%= f.label "News" %>
  					<%= f.text_area	:news, class: 'form-control' %>
  				</div>
				  <div class="col-xs-4">
    		    <div class="row">
        			<% if current_team? %>
        				<h3><em>News for <%= current_team.mascot %></em></h3>
              <% end %>
              <%= f.label "Team" %>
			    	  <%= f.select :team, @teams.collect{ |t| [t.team_name, t.id] }, {}, { id: "select_team", class: 'form-control' } %>
      			</div>
            <p>
            <div class="row">
                <% if @schedule %>
                  <h3><em>News for schedule <%= @schedule %></em></h3>
                <% end %>
                <%= f.label :game_schedule, "Game Schedule" %>
                <%= f.select :gameschedule, @schedules.collect{ |t| [t.game_name, t.id] }, {}, 
                            { id: "gameschedules_select", class: 'form-control'} %>
            </div>
            <p>
    		    <div class="row">
        			<% if @athlete %>
        				<h3><em>News for <%= @athlete %></em></h3>
              <% end %>
              <%= f.label :athlete %>
			    	  <%= f.select	:athlete, @athletes.collect{ |t| [t.name, t.id] }, {}, { id: "athletes_select", class: 'form-control' } %>
    		    </div>
            <p>
    		    <div class="row">
        			<% if @coach %>
        				<h3><em>News for <%= @coach %></em></h3>
        			<% end %>
              <%= f.label :coach %>
              <%= f.select :coach, @coaches.collect{ |t| [t.full_name, t.id] }, {}, { id: "coaches_select", class: 'form-control' } %>
    		    </div>
            <p>
            <div class="row">
          		<h5>Global site news?</h5>
        		</div>
            <p>
            <div class="row">
            	<%= f.check_box :allsports, class: 'form-control' %>
            </div><p>
      		  <div class="row">
        		  <em>Hint: Checking this box will make this news item available across the entire site.</em>
      		  </div>
          </div><p>
        </div>
        <div class="row">
    			<div class="col-xs-1 col-xs-offset-4">
    				<%= f.submit :submit,  class: "btn btn-sm btn-primary" %>
    			</div>
        </div>
		<% end %>	
	</div>	
</div>