<script>
  $(document).ready(function() {
    $('#select_team').change(function() {
      $.ajax({
        url: "<%= updateteams_sport_newsfeeds_path %>",
        data: {
          teamid : $('#select_team').val()
        },
        dataType: "script"
      });
    });
  });
</script>
<div class="row">
	<div class="col-xs-12">
		<h4>News item for sport <%= @sport.sport_name %></h4>
		<%= form_for [@sport, @newsfeed], :input_html => { :class => 'form-horizontal' } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
        <div class="row">
		      <div class="col-xs-6">
            <%= f.label "Title" %>
		          <%= f.text_field :title, class: 'form-control' %>
		      </div>
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-10">
                <%= f.label "External-url" %>
                <%= f.text_field :external_url, class: 'form-control' %>
              </div>
  	        </div>
            <div class="row">
              <div class="col-xs-10">
                <h6 class="text-info">If you want to create news item that sends your fans to external web page, enter the url in this field. You will
                also be able to add a photo if you like after you create the news item.</h5>
              </div>
            </div>
          </div>
		    </div>
		    <div class="row">
  				<div class="col-xs-6">
            <%= f.label "News" %>
  					<%= f.text_area	:news, class: 'form-control' %>
  				</div>
				  <div class="col-xs-4">
    		    <div class="row">
              <%= f.label "Team" %>
			    	  <%= f.select :team_id, options_for_select(@teams.collect{ |t| [t.team_name, t.id] }, 
                            @newsfeed.team_id.nil? ? current_team.id : @newsfeed.team_id), { include_blank: true }, 
                          { id: "select_team", class: 'form-control' } %>
      			</div>
            <p>
            <div class="row">
                <%= f.label :game_schedule, "Game Schedule" %>
                <%= f.select :gameschedule_id, options_for_select(@schedules.collect{ |t| [t.game_name, t.id] },@newsfeed.gameschedule_id), 
                            { include_blank: true }, { id: "gameschedules_select", class: 'form-control'} %>
            </div>
            <p>
    		    <div class="row">
              <%= f.label :athlete %>
			    	  <%= f.select	:athlete_id, options_for_select(@athletes.collect{ |t| [t.full_name, t.id] }, @newsfeed.athlete_id), {
                             include_blank: true }, { id: "athletes_select", class: 'form-control' } %>
    		    </div>
            <p>
    		    <div class="row">
              <%= f.label :coach %>
              <%= f.select :coach_id, options_for_select(@coaches.collect{ |t| [t.full_name, t.id] }, @newsfeed.coach_id), { include_blank: true }, 
                          { id: "coaches_select", class: 'form-control' } %>
    		    </div>
            <p>
            <div class="row">
          		<h5>Global site news?</h5>
        		</div>
            <p>
            <div class="row">
              <div class="col-xs-12">
                <%= f.label "Program News" %>
              	<%= f.check_box :allsports %>
              </div>
            </div><p>
      		  <div class="row">
              <p class="text-info">Program news is displayed when users first visit the site. Once a team is selected, news for a particular team will be displayed. Use program news for welcome messages, global site messages, etc. Make sure your welcome news has no team tags.</p>
      		  </div>
          </div><p>
        </div>
        <div class="row">
    			<div class="col-xs-1 col-xs-offset-4">
    				<%= f.submit :submit,  class: "btn btn-sm btn-primary" %>
    			</div>
        </div>
		<% end %>	
	</div>	
</div>
