<div class="well">
    <div class="row">
      <p class="text-success"><%= newsfeed.title %></p>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <% if !newsfeed.athlete.blank? or !newsfeed.coach.blank? %>
          <% if !newsfeed.athlete.nil? and !newsfeed.athlete.blank? %>
            <% athlete = newsfeed.sport.athletes.find(newsfeed.athlete) %>
            <% if athlete.pic.blank? %>
              <%= link_to image_tag("Tiny_Photo_Not_Available.png", class: 'img-responsive'), sport_athlete_path(@sport, athlete) %> 
            <% else %>    
              <%= link_to image_tag(athlete.pic.url(:tiny), class: 'img-responsive'), sport_athlete_path(@sport, athlete) %>
            <% end %>
          <% elsif !newsfeed.coach.nil? and !newsfeed.coach.blank? %>
            <% coach = f.sport.coaches.find(newsfeed.coach) %>
            <% if coach.coachpic.blank? %>
              <%= link_to image_tag("Tiny_Photo_Not_Available.png", class: 'img-responsive'), sport_coach_path(@sport, coach) %> 
            <% else %>    
              <%= link_to image_tag(coach.coachpic.url(:tiny), class: 'img-responsive'), sport_coach_path(@sport, coach) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-8">
        <p class="text-info">
          <% if site_owner? %>
            <%= link_to newsfeed.news, sport_newsfeed_path(@sport, newsfeed) %>
          <% else %>
            <%= newsfeed.news %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10">
            <em>
            <%= link_to newsfeed.sport.name, sport_path(@sport) %>&nbsp
              <% if !newsfeed.team.nil? and !newsfeed.team.blank? %>
                <%= newsfeed.sport.teams.find(newsfeed.team).team_name %>&nbsp
              <% end %>
              <% if !newsfeed.athlete.nil? and !newsfeed.athlete.blank? %>
          Athlete:
                <%= link_to @sport.athletes.find(newsfeed.athlete).full_name, sport_athlete_path(@sport, newsfeed.athlete) %>&nbsp
              <% end %>
              <% if !newsfeed.coach.nil? and !newsfeed.coach.blank? %>
              Coach:
                <%= link_to @sport.coaches.find(newsfeed.coach).full_name, sport_coach_path(@sport, newsfeed.coach) %>
              <% end %>
            </em>
      </div>
    </div>
</div>