<% provide(:title, current_site.sitename + " - All News") %>
<p>
<div class="row">
	<div class="col-xs-12">
		<% if @newsfeeds.any? %>
		    <div class="row">
		      	<div class="col-xs-4">
		  			<%= form_tag sport_newsfeeds_path(@sport), method: :get, class: "form-inline" do %>
		        		<h5>Filter by Player:</h5>
		        		<%= select_tag "player", options_from_collection_for_select(@athletes, "id", "full_name"), :include_blank => true,  
		        						class: 'form-control' %>
		        		<%= submit_tag 'Submit', class:	"btn btn-sm btn-primary" %>
		  			<% end %>
		      	</div>
		      	<div class="col-xs-3">
		  			<%= form_tag sport_newsfeeds_path(@sport), method: :get, class: "form-inline" do %>
			        	<h5>Filter by Coach:</h5>
			        	<%= select_tag "coachname", options_from_collection_for_select(@coaches, "id", "full_name"), :include_blank => true, 
			        					class: 'form-control' %>
			        	<%= submit_tag 'Submit', class:	"btn btn-sm btn-primary" %>
			  		<% end %>
			     </div>
		      	<div class="col-xs-3">
		  			<%= form_tag sport_newsfeeds_path(@sport), method: :get, class: "form-inline" do %>
		        		<h5>Filter by Team:</h5>
		        		<%= select_tag "teamname", options_from_collection_for_select(@sport.teams, "id", "team_name"), :include_blank => true,  class: 'form-control' %>
				        <%= submit_tag 'Submit', class:	"btn btn-sm btn-primary" %>
				  	<% end %>
		      	</div>
		    </div><p>
		<% else %>
			<h4>There are no news items for the entered search criteria.</h4><p>
		<% end %>
	</div>
</div>
<p>
<div class="row">
  <div class="col-xs-12">
    <%= render @newsfeeds %>
  </div>
</div>
<p>
<div class="row">
	<div class="col-xs-2 col-xs-offset-4">
		<% if isAdmin? %>
		  <%= link_to "Add News Item", new_sport_newsfeed_path(@sport), class: "btn btn-sm btn-primary" %>
		<% end %>
	</div>
</div>
<p>
