<% provide(:title, "Edit user profile - " + @user.name) %> 
<p>
<div class="row">
 	<div class="col-xs-11">
		<h4>Update User Profile</h4>
		<%= form_for @user, :input_html => { :class => 'form-horizontal' } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="row">
				<div class="col-xs-2">
					<%= f.label :name, "Username" %>
					<%= f.text_field :name, class: 'form-control' %>
				</div>
				<p>
				<div class="col-xs-2 col-xs-offset-1">
					<% if @user.avatarthumburl.nil? %>
						<%= image_tag 'photo_not_available.png' %>
					<% else %>
						<%= image_tag @user.avatarthumburl %>
					<% end %>
					<p>
					<%= link_to "Delete Image", delete_avatar_user_path(@user), class: "btn btn-sm btn-danger" %>
				</div>
				<div class="col-xs-3 col-xs-offset-1">
					<h5><em>Login Email: <%= @user.email %></em></h5>
				</div>
			</div>
			<p>
			<% if @user.admin and current_site? and @user.adminsite == current_site.id.to_s %>
				<div class="row">
					<div class="col-xs-11">
						<h5 class="text-warning">Paypal email used to deposit your program's ad revenue. If you do not enter a PayPal eaccount mail , there will be no account to deposit revenue from advertisers who advertise on your site. You create ad inventory for advertisors by selecting the Ads and Sponsors tab the tab bar.</h5>
						<%= f.label :paypal_email, "Paypal Email Account" %>
						<%= f.text_field :paypal_email, class: "form-control" %> 
					</div>
				</div>
			<% end %>
	      <p>
			<h4>Athlete Alert Options:</h4>
			<div class="row">
				<div class="col-xs-2">
					<%= f.label :bio_alert, "Athlete Info Alert" %>
					<%= f.check_box :bio_alert, class: 'form-control' %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= f.label :blog_alert, "Blog Alerts" %>
					<%= f.check_box :blog_alert, class: 'form-control' %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= f.label :score_alert, "Score Alerts" %>
					<%= f.check_box :score_alert, class: 'form-control' %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= f.label :media_alert, "Photo and Video" %>
					<%= f.check_box :media_alert, class: 'form-control' %>
				</div>
			</div>
			<p>
		      <div id="loading">
		        <div id="loadingcontent">
		            <p id="loadingspinner">
		                Updating User...
		            </p>
		        </div>
		      </div>
		      <p>
			<p>
			<div class="row">
				<% if isAdmin? and current_user != @user %>
					<div class="col-xs-2 ">
						<%= f.label :teamid, "Team" %>
						<%= f.select :teamid, @teams.collect{ |t| [t.team_name, t.id] }, { include_blank: true }, class: "form-control"  %>
					</div>
				<% end %>
			</div>
			<div class="row">
				<div class="col-xs-2 col-xs-offset-4">
					<%= f.submit 'Update Profile', class: "btn btn-md btn-primary", id: "submitbtn" %>
				</div>
			</div>
		<% end %>
		<p>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<% if current_site? and (@user.default_site != current_site.id.to_s) %>
					Currently viewing site <em><strong><%= current_site.sitename %></em></strong>. Click here to set as default site on login?<br/>
					<%= link_to "Default Site", sport_path(current_site), class: "btn btn-sm btn-primary" %>
				<% else %>
					Click here to go back to <em><strong><%= link_to current_site.sitename, sport_path(current_site) %></strong></em><br/>
				<% end %>
			</div>
		</div>
	</div>
</div>