<% provide(:title, "Edit user profile - " + @user.name) %> 
<p>
<div class="row">
 	<div class="span10" id="backcolor">
		<div class="row">
			<div class="span8 offset2">
	 			<h4>Update User Profile</h4>
				<%= simple_form_for @user, html: { multipart: true, class: 'form-horizontal' } do |f| %>
					<%= render 'shared/error_messages', object: f.object %>
					<div class="row">
						<div class="span2">
							<%= f.input :name %>
						</div>
						<p>
						<div class="span4 offset1">
							<% if @user.avatar_file_name.nil? %>
								<%= image_tag 'photo_not_available.png' %>
							<% else %>
								<%= image_tag @user.avatar.url(:thumb) %>
							<% end %>
							<%= f.input	:avatar,	label: 	"Avatar Picture" %>
						</div>
					</div>
					<p>
					<div class="row">
						<div class="span2">
							<h5><em>Email: <%= @user.email %></em></h5>
						</div>
						<p>
						<div class="span4 offset1">
							<%= f.input :teamid, collection: @teams.collect{ |t| [t.team_name, t.id] }, label: "Manage Team", 
										input_html: {id: "select_team"}  %>
						</div>
					</div>
					<p>
				      <div id="loading">
				        <div id="loadingcontent">
				            <p id="loadingspinner">
				                Updating User...
				            </p>
				        </div>
				      </div><p>
					<div class="row">
						<div class="span4 offset1">
							<%= f.input :is_active, as: :radio_buttons %>
						</div>
					</div>
					<p>
					<div class="row">
						<div class="span2 offset2">
							<%= f.button :submit, 'Update Profile', class: "btn btn-medium btn-primary", id: "submitbtn" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="span8 offset2">
				<% if current_site? and (@user.default_site != current_site.id.to_s) %>
					Currently viewing site <em><strong><%= current_site.sitename %></em></strong>. Click here to set as default site on login?<br/>
					<%= link_to "Default Site", sport_path(current_site), class: "btn btn-medium btn-primary" %>
				<% else %>
					Click here to go back to <em><strong></em>
					<%= link_to current_site.sitename, sport_path(current_site), class: "btn btn-medium btn-primary" %>
					</strong>.<br/>
				<% end %>
			</div>
		</div>
	</div>
</div>