<div class="row">
	<div class="span10 offset1">
		<%= simple_form_for [@sport, @athlete] do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="row">
				<div class="span2">
					<%= f.input :number,	label:	"Jersey number" %>
				</div>
				<div class="span3 offset1">
					<%= f.input	:lastname,	label:	"Last name" %>
				</div>
				<div class="span4">
					<%= f.input :firstname,	label:	"First name" %>
				</div>
			</div>
			<div class="row">
				<div class="span2">
					<%= f.input	:middlename, required: false,	label:	"Middle name" %>
				</div>
				<div class="span2 offset1">
					<div class="input string required"><label class="string required" for="athlete_feet"><abbr title="required">*</abbr> Height Feet:</label>					
					</div>
					<% if !@height.any? %>
						<%= select_tag "feet", options_for_select(height_feet), include_blank: true %>
					<% else %>
						<%= select_tag "feet", options_for_select(height_feet, @height[0]), include_blank: true %>
					<% end %>
				</div>
				<div class="span2 offset1">
					<div class="input string required"><label class="string required" for="athlete_inches"><abbr title="required">*</abbr> Height Inches:</label>					
					</div>
					<% if !@height.any? %>
						<%= select_tag "inches", options_for_select(height_inches), include_blank: true %>
					<% else %>
						<%= select_tag "inches", options_for_select(height_inches, @height[1]), include_blank: true %>
					<% end %>
					<!--%= f.input	:height %-->	
				</div>
			</div>
			<div class="row">
				<%= render 'position', f: f %>
			</div>
			<div class="row">
				<div class="span2">
					<%= f.input	:weight %>
				</div>
				<div class="span2 offset1">
					<%= f.input	:year,	label: "Grade/Age/Class", hint:	"Grade: 10, 11, Age: 7, 8 , Class: Jr., Sr., etc." %>
				</div>
				<div class="span2 offset1">
					<%= f.input	:season %>
				</div>
			</div>
	        <div id="loading">
	          <div id="loadingcontent">
	              <p id="loadingspinner">
	                  Updating Athlete Info ....
	              </p>
	          </div>
	        </div>
			<div class="row">
				<div class="span8">
					<%= f.input	:bio,	as: :text, required: false, hint:	"Some info about the athlete", 
								input_html: { style: 'width: 800px;height: 100px' } %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="span2">
					<div class="row">
		        		<% if !@sport.teams.empty? %>
		          			<div class="span2">
								<!--label class="string required" for="athteam_team"></abbr>Assign to Team:</label-->
								Assigned Team: 
								<% if @athlete.team_id.nil?  %>
									Unassigned
									<!--%= select("", "team", @sport.teams.collect{ |t| [t.team_name, t.id] }, { include_blank: true } ) %-->
								<% else %>
									<%= @sport.teams.find(@athlete.team_id).team_name %>
		            				<!--%= select("athteam", "team", @sport.teams.collect{ |t| [t.team_name, t.id] }, selected: @sport.teams.find(@athlete.team).id ) %-->
								<% end %>
								<%= f.input :team_id, collection: @sport.teams.collect{ |t| [t.team_name, t.id] }, 
											input_html: { include_blank: true } %>
		          			</div>
		        		<% end %>
					</div>
					<!--div class="row">
						<div class="span2">
							<label class="string required" for="unassign"></abbr>Assign to no team:</label>
							<%= check_box_tag :unassign %>
						</div>
					</div-->
				</div>
				<div class="span3 offset1">
					<h4>Current player image</h4>
					<% if !@athlete.pic.blank? %>
						<%= image_tag @athlete.pic.url(:medium) %>
		          	<% else %>
		            	<%= image_tag "Photo_Not_Available.jpg" %>
					<%end %>
					<%= f.input	:pic,	label: "Photo of player:", hint:	"Change photo of the athlete" %>
				</div>
			</div>
			<div class="span8 offset4">
				<%= f.button :submit, 'Submit', class:	"btn btn-medium btn-primary", id: "submitbtn" %>
			</div>
		<% end %>	
	</div>	
</div>
