<% provide(:title, current_site.sitename + " " + @sport.name + " - All Athletes") %>
<p>
<div class="row">
  <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
          <%= form_tag sport_athletes_path(@sport), class: "form-search", method: 'get' do %>
            <div class="row">
              <div class="col-xs-4">
                <%= label_tag "Number: " %>
                <%= text_field_tag  'number', value=params[:number], class: 'form-control' %>
              </div>
              <div class="col-xs-4">
                <%= label_tag "Last Name: " %>
                <%= text_field_tag  'lastname', value=params[:lastname], class: "form-control" %>
              </div>
            </div>
            <p>
            <div class="row">
              <div class="col-xs-2 col-xs-offset-3">
                <%= submit_tag  "Search", class: "btn btn-sm btn-primary", name: nil %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <p>
				<div class="row">
					<div class="col-xs-12">
            <table class="table table-hover">
              <%= render 'athleteheader' %>
              <% @athletes.each do |a| %>
   						  <%= render 'athlete', athlete: a, photos:  Photo.where(athletes: a.id) %>
              <% end %>
            </table>
					</div>
				</div>   
      <% if isAdmin? %>
  			<div class="row">
  				<div class="col-xs-2 col-xs-offset-5">
  					<%= link_to "Add Athlete", new_sport_athlete_path(@sport), class: "btn btn-sm btn-primary" %>
  				</div>
  			</div>
      <% end %>
	</div>
</div>


