<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="col-xs-2">
		<% if @athlete.pic? %> 
			<%= image_tag @athlete.pic.url(:thumb), class: "img-responsive" %>
		<% else %>
			<%= image_tag 'Photo_Not_Available.jpg', class: "img-responsive" %>
		<% end %>
	</div>
	<div class="col-xs-4">
		<em><h4>Display stats for: <%= link_to @athlete.full_name, sport_athlete_path(@sport, @athlete) %></h4></em>
	</div>
</div>
<%
=begin %>
	<% if site_owner?(@sport) or isTeamManager?(@athlete) %>
		<div class="col-xs-4">
			<%= form_tag selectedstat_sport_athlete_path(sport_id: @sport, athlete_id: @athlete), class: "form-horizontal", method: 'put' do %>
				<%= render 'shared/error_messages', object: @athlete %>
			            <%= label_tag "Select Stats: " %>
			            <%= select_tag "selectedstat", options_for_select(@statlist), class: 'form-control' %>
				<p>
				<div class="row">
					<div class="col-xs-1 col-xs-offset-2">
						<%= submit_tag 'Submit', class:	"btn btn-sm btn-primary" %>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
<%
=end %>
<% if isPasser?(@passingtotals) or isRusher?(@rushingtotals) or isReceiver?(@receivingtotals) or isDefense?(@defensivetotals) or 
		isKicker?(@kickofftotals) or isPunter?(@puntertotals) or isPlaceKicker?(@placekickertotals) or isPuntReturner?(@returnertotals) or
		isKOReturner?(@returnertotals) or isKicker?(@kickofftotals) %>
	<div class="row">
		<div class="col-xs-11">
			<% if isPasser?(@passingtotals) or isQB?(@athlete) %>
					<h5>Passing</h5>
					<table class="table table-striped table-bordered table-hover">
					  	<%= render 'football_passings/stat_header', name: "Game" %>

					  	<% @passingstats.each do |p| %>
					  		<% if isPasser?(p) or isQB?(@athlete) %>
								<%= render 'football_passings/stat_body', stat: p, name: "Game" %>
							<% end %>
						<% end %>
						<%= render 'football_passings/stat_body', stat: @passingtotals, name: "Totals" %>
					</table>

				  	<p>
			<% end %>

			<% if isRusher?(@rushingtotals) or isRB?(@athlete) %>
			  	<h5>Rushing</h5>
				<table class="table table-striped table-bordered table-hover">
				  	<%= render 'football_rushings/stat_header', name: "Game" %>

				  	<% @rushingstats.each do |p| %>
					  	<% if isRusher?(p) or isRB?(@athlete) %>
							<%= render 'football_rushings/stat_body', stat: p, name: "Game" %>
						<% end %>
					<% end %>
					<%= render 'football_rushings/stat_body', stat: @rushingtotals, name: "Totals" %>
				</table>

			  	<p>
			<% end %>

			<% if isReceiver?(@receivingtotals) %>
			  	<h5>Receiving</h5>
				<table class="table table-striped table-bordered table-hover">
				  	<%= render "football_receivings/stat_header", name: "Game" %>

				  	<% @receivingstats.each do |p| %>
				  		<% if isReceiver?(p) or isFBRec?(@athlete) %>
							<%= render 'football_receivings/stat_body', stat: p, name: "Game" %>
						<% end %>
					<% end %>
					<%= render 'football_receivings/stat_body', stat: @receivingtotals, name: "Totals" %>
				</table>
				<p>
			<% end %>

			<% if isDefense?(@defensivetotals) %>
			  	<h5>Defense</h5>
				<table class="table table-striped table-bordered table-hover">
				  	<%= render "football_defenses/stat_header", name: "Game" %>

				  	<% @defensivestats.each do |p| %>
				  		<% if isDefense?(p) or isFBDEF?(@athlete) %>
							<%= render 'football_defenses/stat_body', stat: p, name: "Game" %>
						<% end %>
					<% end %>
					<%= render 'football_defenses/stat_body', stat: @defensivetotals, name: "Totals" %>
				</table>
				<p>
			<% end %>

			<% if isPlaceKicker?(@placekickertotals) %>
			  	<h5>Place Kicker Stats</h5>
				<table class="table table-striped table-bordered table-hover">
				  	<%= render "football_place_kickers/fieldgoal_header", name: "Game" %>

				  	<% @placekickerstats.each do |p| %>
					  	<% if isPlaceKicker?(p) or FBPlaceKicker?(@athlete) %>
							<%= render 'football_place_kickers/fieldgoal_body', stat: p, name: "Game" %>
						<% end %>
					<% end %>
					<%= render 'football_place_kickers/fieldgoal_body', stat: @placekickertotals, name: "Totals" %>
				</table>

				<table class="table table-striped table-bordered table-hover">
				   	<%= render "football_place_kickers/extrapoint_header", name: "Game" %>

				  	<% @placekickerstats.each do |p| %>
				  		<% if isPlaceKicker?(p) or FBPlaceKicker?(@athlete) %>
							<%= render 'football_place_kickers/extrapoint_body', stat: p, name: "Game" %>
						<% end %>
					<% end %>
					<%= render 'football_place_kickers/extrapoint_body', stat: @placekickertotals, name: "Totals" %>
				</table>
				<p>
			<% end %>

			<% if isPuntReturner?(@returnertotals) %>
			  	<h5>Punt Returns</h5>
				<table class="table table-striped table-bordered table-hover">
				  	<%= render "football_returners/puntreturn_header", name: "Game" %>

				  	<% @returnerstats.each do |p| %>
				  		<% if isPuntReturner?(p) or FBPuntReturner?(@athlete) %>
							<%= render 'football_returners/puntreturn_body', stat: p, name: "Game" %>
						<% end %>
					<% end %>
					<%= render 'football_returners/puntreturn_body', stat: @returnertotals, name: "Totals" %>
				</table>
				<p>
			<% end %>

			<% if isKOReturner?(@returnertotals) %>
			  	<h5>Kickoff Returns</h5>
				<table class="table table-striped table-bordered table-hover">
				  	<%= render "football_returners/koreturn_header", name: "Game" %>

				  	<% @returnerstats.each do |p| %>
				  		<% if isKOReturner?(p) or FBKickReturner?(@athlete) %>
							<%= render 'football_returners/koreturn_body', stat: p, name: "Game" %>
						<% end %>
					<% end %>
					<%= render 'football_returners/koreturn_body', stat: @returnertotals, name: "Totals" %>
				</table>
				<p>
			<% end %>

			<% if isKicker?(@kickofftotals) %>
			  	<h5>Kickoffs</h5>
				<table class="table table-striped table-bordered table-hover">
				  	<%= render "football_kickers/stat_header", name: "Game" %>

				  	<% @kickoffstats.each do |p| %>
				  		<% if isKicker?(p) or FBKicker?(@athlete) %>
							<%= render 'football_kickers/stat_body', stat: p, name: "Game" %>
						<% end %>
					<% end %>
					<%= render 'football_kickers/stat_body', stat: @kickofftotals, name: "Totals" %>
				</table>
				<p>
			<% end %>

			<% if isPunter?(@puntertotals) %>
			  	<h5>Punters</h5>
				<table class="table table-striped table-bordered table-hover">
				  	<%= render "football_punters/stat_header", name: "Game" %>

				  	<% @punterstats.each do |p| %>
				  		<% if isPunter?(p) or FBPunter?(@athlete) %>
							<%= render 'football_punters/stat_body', name: "Game" %>
						<% end %>
					<% end %>
					<%= render 'football_punters/stat_body', stat: @puntertotals, name: "Totals" %>
				</table>
			<% end %>
		</div>
	</div>
<% else %>
	<%= render 'layouts/messagemodal', modalid: "nostatsmodal", modaltitle: "No Stats", messagetext: "No stats for " + @athlete.numlogname %>
	<script>
        $(document).ready(function() {
          $('#nostatsmodal').modal('show');
        });
	</script>
<% end %>
