<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span2">
		<% if @athlete.pic? %> 
			<%= image_tag @athlete.pic.url(:thumb) %>
		<% else %>
			<%= image_tag 'Photo_Not_Available.jpg' %>
		<% end %>
	</div>
	<div class="span4">
		<em><h4>Display stats for: <%= link_to @athlete.full_name, sport_athlete_path(@sport, @athlete) %></h4></em>
	</div>
	<div class="span2">
		<%= form_tag selectedstat_sport_athlete_path(sport_id: @sport, athlete_id: @athlete), class: "form-horizontal", method: 'put' do %>
			<%= render 'shared/error_messages', object: @athlete %>
			<div class="row">
				<div class="span2 offset1">
		            <%= label_tag "Select Stats: " %>
		            <%= select_tag "selectedstat", options_for_select(@statlist) %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="span1 offset2">
					<%= submit_tag 'Submit', class:	"btn btn-medium btn-primary" %>
				</div>
			</div>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span10">
		<h5>Passing</h5>
		<table class="table table-bordered">
		  	<%= render 'football_passings/stat_header', name: "Player" %>

		  	<% @passingstats.each do |p| %>
		  		<% if p.attempts > 0 %>
					<%= render 'football_passings/stat_body', stat: p, player: @athlete, name: @player %>
				<% end %>
			<% end %>
			<%= render 'football_passings/stat_body', stat: @passingtotals, player: Athlete.find(@passingtotals.athlete_id), name: "Totals" %>
		</table>

	  	<p>

	  	<h5>Rushing</h5>
		<table class="table table-bordered">
		  	<%= render 'football_rushings/stat_header', name: "Player" %>

		  	<% @rushingstats.each do |p| %>
			  	<% if p.attempts > 0 %>
					<%= render 'football_rushings/stat_body', stat: p, player: @athlete, name: @player %>
				<% end %>
			<% end %>
			<%= render 'football_rushings/stat_body', stat: @rushingtotals, player: Athlete.find(@rushingtotals.athlete_id), name: "Totals" %>
		</table>

	  	<p>

	  	<h5>Receiving</h5>
		<table class="table table-bordered">
		  	<%= render "football_receivings/stat_header", name: "Player" %>

		  	<% @receivingstats.each do |p| %>
		  		<% if p.receptions > 0 %>
					<%= render 'football_receivings/stat_body', stat: p, player: @athlete, name: @player %>
				<% end %>
			<% end %>
			<%= render 'football_receivings/stat_body', stat: @receivingtotals, player: Athlete.find(@receivingtotals.athlete_id), name: "Totals" %>
		</table>

	  	<h5>Defense</h5>
		<table class="table table-bordered">
		  	<%= render "football_defenses/stat_header", name: "Player" %>

		  	<% @defensivestats.each do |p| %>
		  		<% if p.tackles > 0 or p.assists > 0 or p.pass_defended > 0 or p.sacks > 0 or p.interceptions > 0 or p.fumbles_recovered > 0 or 
		  			p.safety > 0 %>
					<%= render 'football_defenses/stat_body', stat: p, player: @athlete, name: @player %>
				<% end %>
			<% end %>
			<%= render 'football_defenses/stat_body', stat: @defensivetotals, player: Athlete.find(@defensivetotals.athlete_id), name: "Totals" %>
		</table>

	  	<h5>Place Kicker Stats</h5>
		<table class="table table-bordered">
		  	<%= render "football_place_kickers/fieldgoal_header", name: "Player" %>

		  	<% @placekickerstats.each do |p| %>
			  	<% if p.fgattempts > 0 %>
					<%= render 'football_place_kickers/fieldgoal_body', stat: p, player: @athlete, name: @player %>
				<% end %>
			<% end %>
			<%= render 'football_place_kickers/fieldgoal_body', stat: @placekickertotals, player: Athlete.find(@placekickertotals.athlete_id), name: "Totals" %>
		</table>

		<table class="table table-bordered">
		   	<%= render "football_place_kickers/extrapoint_header", name: "Player" %>

		  	<% @placekickerstats.each do |p| %>
		  		<% if p.xpattempts > 0 %>
					<%= render 'football_place_kickers/extrapoint_body', stat: p, player: @athlete, name: @player %>
				<% end %>
			<% end %>
			<%= render 'football_place_kickers/extrapoint_body', stat: @placekickertotals, player: Athlete.find(@placekickertotals.athlete_id), name: "Totals" %>
		</table>

	  	<h5>Punt Returns</h5>
		<table class="table table-bordered">
		  	<%= render "football_returners/puntreturn_header", name: "Player" %>

		  	<% @returnerstats.each do |p| %>
		  		<% if p.punt_return > 0 %>
					<%= render 'football_returners/puntreturn_body', stat: p, player: @athlete, name: @player %>
				<% end %>
			<% end %>
			<%= render 'football_returners/puntreturn_body', stat: @returnertotals, player: Athlete.find(@returnertotals.athlete_id), name: "Totals" %>
		</table>

	  	<h5>Kickoff Returns</h5>
		<table class="table table-bordered">
		  	<%= render "football_returners/koreturn_header", name: "Player" %>

		  	<% @returnerstats.each do |p| %>
		  		<% if p.koreturns > 0 %>
					<%= render 'football_returners/koreturn_body', stat: p, player: @athlete, name: @player %>
				<% end %>
			<% end %>
			<%= render 'football_returners/koreturn_body', stat: @returnertotals, player: Athlete.find(@returnertotals.athlete_id), name: "Totals" %>
		</table>

	  	<h5>Kickoffs</h5>
		<table class="table table-bordered">
		  	<%= render "football_kickers/stat_header", name: "Player" %>

		  	<% @kickoffstats.each do |p| %>
		  		<% if p.koattempts > 0 %>
					<%= render 'football_kickers/stat_body', stat: p, player: @athlete, name: @player %>
				<% end %>
			<% end %>
			<%= render 'football_kickers/stat_body', stat: @kickofftotals, player: Athlete.find(@kickofftotals.athlete_id), name: "Totals" %>
		</table>

	  	<h5>Punters</h5>
		<table class="table table-bordered">
		  	<%= render "football_punters/stat_header", name: "Player" %>

		  	<% @punterstats.each do |p| %>
		  		<% if p.punts > 0 %>
					<%= render 'football_punters/stat_body', stat: p, player: @athlete, name: @player %>
				<% end %>
			<% end %>
			<%= render 'football_punters/stat_body', stat: @puntertotals, player: Athlete.find(@puntertotals.athlete_id), name: "Totals" %>
		</table>
	</div>
</div>
