<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">   
  <div class="col-xs-11">
		<%= render 'shared/error_messages', object:	@athlete %>
	</div>
</div>
<div class="row">
  <%= render 'athletes/photo', athlete: @athlete %>
  <div class="col-xs-7">
    <ul class="nav nav-pills">
      <% if @sport.sportname == "Football" %>
        <li><%= link_to "Stats", playerstats_sport_athlete_path(@sport, @athlete) %></li>
      <% elsif @sport.sportname == "Basketball" %>
        <li><%= link_to "Stats", sport_athlete_basketball_stats_path(@sport, @athlete) %></li>
      <% elsif @sport.sportname == "Soccer" %>
        <li><%= link_to "Stats", sport_athlete_soccers_path(@sport, @athlete)%></li>
      <% end %>
      <% if Photo.where(players: @athlete.id.to_s).any? %>
        <!--li><%= link_to "Photos", sport_photos_path(@sport, athlete: { id: @athlete.id } ) %></li-->            
        <li><%= link_to "Photos", sport_photos_path(@sport, athlete_id: @athlete.id ) %></li>            
      <% end %>
      <% if Videoclip.where(players: @athlete.id.to_s).any? %>
        <li><%= link_to "Videos", sport_videoclips_path(@sport, athlete_id: @athlete.id ) %></li>           
      <% end %>
      <% if !is_package_enabled?(@sport) and site_owner? %>
        <% if Photo.where(players: @athlete.id.to_s).any? %>
          <li><%= link_to "Photos", "#upgrademediamodal", data: { toggle: "modal" } %></li>            
        <% end %>
        <% if Videoclip.where(players: @athlete.id.to_s).any? %>
          <li><%= link_to "Videos", "#upgrademediamodal", data: { toggle: "modal" } %></li>           
        <% end %>
      <% end %>
    </ul>
    <p>
    <table class="table">
    	<thead> 
        <tr>
    			<th>Number</th>
    			<th>Last Name</th>
    			<th>First Name</th>
    			<th>Middle Name</th>
    			<th>Position</th>
        </tr>
      </thead>
      <tbody>
    		<tr>
    			<td><%= @athlete.number %></td>
    			<td><%= link_to @athlete.lastname, [@sport, @athlete] %></td>
    			<td><%= link_to @athlete.firstname, [@sport, @athlete] %></td>
    			<td><%= @athlete.middlename %></td>
    			<td><%= @athlete.position %></td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
    			<th>Height</th>
    			<th>Weight</th>
    			<th>Year</th>
    			<th>Roster</th>
          <th>Photos</th>
          <th>Videos</th>              
    		</tr>
    	</thead>
    	<tbody>
        <tr>
    			<td><%= @athlete.height %></td>
    			<td><%= @athlete.weight %></td>
      			<td><%= @athlete.year %></td>
  				<% if @team.nil? %>
  					<td>Unassinged</td>
  				<% else %>
      				<td><%= @team.team_name %></td>
  				<% end %>
     		</tr>
    	</tbody>
    </table>
    <p>
    <div class="well">
    	<h5>Athletes Bio:</h5>
    	<p class="text-info"><%= @athlete.bio %><p>
    </div>
  </div>
</div>
<p>
<div class="row">
  <div class="col-xs-7 col-xs-offset-3">
    <% if user_signed_in? and (user_pics_ok? or site_owner? or isTeamManager?(@athlete)) and !@athlete.team_id.nil? %>
      <% if is_package_enabled?(@sport) %>
		    <%= link_to	"Add Photo", newathlete_sport_photos_path(@sport, athlete_id: @athlete), class:	"btn btn-sm btn-primary" %>
      <% elsif !is_package_enabled?(@sport) and site_owner? %>
        <%= link_to "Add Photo", "#upgrademediamodal", data: { toggle: "modal" }, class:  "btn btn-sm btn-primary" %>
      <% end %> 
    <% end %>
    <% if user_signed_in? and (user_videos_ok? or site_owner? or isTeamManager?(@athlete)) and !@athlete.team_id.nil? %>
      <% if is_package_enabled?(@sport) %>
		    <%= link_to	"Add Video", newathlete_sport_videoclips_path(@sport, athlete_id: @athlete), class:	"btn btn-sm btn-primary" %>  
      <% elsif !is_package_enabled?(@sport) and site_owner? %>
        <%= link_to "Add Video", "#upgrademediamodal", data: { toggle: "modal" }, class:  "btn btn-sm btn-primary" %>
      <% end %> 
    <% end %>
    <% if site_owner? or isTeamManager?(@athlete) %>
      	<%= link_to "Edit", edit_sport_athlete_path(@sport, @athlete),  class: "btn btn-sm btn-warning" %>&nbsp;
        <%= link_to "Add News", new_sport_newsfeed_path(@sport),  class: "btn btn-sm btn-info" %>&nbsp;
    <% end %>
    <% if site_owner? %>
			 <%= link_to "Delete", sport_athlete_path(@sport, @athlete),  method:	:delete,  class: "btn btn-sm btn-danger", data: { confirm: "You sure?" } %>&nbsp;
		<% end %>
  </div>
</div>
<p>
<%= render 'layouts/messagemodal', modalid: 'upgradestatsmodal', modaltitle: 'Upgrade for Stats', 
            messagetext: 'Click on "Manage Eazesportz Package" in Tools menu to upgrade!' %>
<%= render 'layouts/messagemodal', modalid: 'upgrademediamodal', modaltitle: 'Upgrade for Photos/Videos', 
            messagetext: 'Click on "Manage Eazesportz Package" in Tools menu to upgrade!' %>

