<% provide(:title, current_site.sitename + " " + @sport.sportname + " - Standings") %>
<div class="row">
  	<div class="col-xs-11">
  		<% if user_signed_in? and site_owner? %>
	  		<h4>You can import records from other Eazesportz programs. Hopefully, they keep their data up to date!</h4>
		<% end %>
		<table class="table table-hover">
			<thead> 
				<th>Team</th>
				<th>League Wins</th>
				<th>League Losses</th>
				<th>League Ties</th>
				<th>Total Wins</th>
				<th>Total Losses</th>
				<th>Total Ties</th>
				<% if isAdmin? %>
					<th>Eazesport User</th>
					<th>Edit</th>
				<% end %>
			</thead>
			<tbody>
				<% @gamerecords.each do |g| %>
					<tr>
						<% if g.oppimageurl %>
							<td><%= image_tag(g.oppimageurl) %><%= g.teamname + " " + g.mascot %></td>
						<% else %>
							<td><%= image_tag("photo_not_available.png") %><%= g.teamname + " " + g.mascot %></td>
						<% end %>

						<td><%= g.leaguewins %></td>
						<td><%= g.leaguelosses %></td>
						<td><%= g.leagueties %></td>
						<td><%= g.nonleaguewins + g.leaguewins %></td>
						<td><%= g.nonleaguelosses + g.leaguelosses %></td>
						<td><%= g.nonleagueties + g.leagueties %></td>
						<% if isAdmin? %>
							<% if !g.sportid.nil? %>
								<td><%= link_to g.teamname + " " + g.mascot, sport_path(Sport.find(g.sportid)) %></td>
							<% else %>
								<td></td>
							<% end %>
							<% if g.gameschedule_id.nil? %>
								<td></td>
							<% else %>
								<td><%= link_to "Edit", addgamerecord_sport_team_standings_path(@sport, @team, gameschedule_id: g.gameschedule_id), 
													class: "btn btn-xs btn-primary" %></td>
							<% end %>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
