<div class="row">
	<div class="col-xs-11">
		<%= simple_form_for [@sport, @event], 
                            :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
            <div class="row">
                <div class="col-xs-2">
                    <%= f.input :date_string, as: :string, label: "Start", input_html: { class: 'datepicker', 
                                :value => @event.try(:start_time).try(:strftime,'%m/%d/%Y') } %>
                    <%= f.input :start_time, :as => :hidden, :input_html => { :id => 'recorded-at-alt'} %>
                </div>
            </div>
            <div class="row">
                 <div class="col-xs-2">
                    <%= f.input :string_date, as: :string, label: "End", input_html: { class: 'enddatepicker', 
                                :value => @event.try(:end_time).try(:strftime,'%m/%d/%Y') } %>
                    <%= f.input :end_time, :as => :hidden, :input_html => { :id => 'recorded-at-alt-end'} %>
                 </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <%= f.input :name, label: "Event Name:" %>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                    <%= f.input :desc, as: :text, label: "Event Description", input_html: { style: 'width: 400px;height: 200px' } %>
                </div>
            </div>
            <%= f.input :user, as: :hidden, input_html: { value: current_user.id.to_s } %>
            <p>
            <% if !@team.nil? %>
                Event for team: <em><strong><%= @team.team_name %></strong></em>
                <%= f.input :team_id, as: :hidden, input_html: { value: @team.id } %>
            <% end %>
            <div class="row">
  			    <div class="col-xs-1 col-xs-offset-3">
                    <%= f.button :submit, "Submit", class: "btn btn-sm btn-primary" %>
  			    </div>
            </div>
		<% end %>	
	</div>	
</div>