<div class="row">
	<div class="col-xs-11">
		<%= form_for [@sport, @event], :input_html => { :class => 'form-horizontal' } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
            <div class="row">
                <div class="col-xs-2">
                    <%= f.label :start %>
                    <%= f.text_field :date_string, as: :string, class: 'datepicker form-control', 
                                :value => @event.try(:start_time).try(:strftime,'%m/%d/%Y') %>
                    <%= f.hidden_field :start_time, :id => 'recorded-at-alt' %>
                </div>
            </div>
            <div class="row">
                 <div class="col-xs-2">
                    <%= f.label :end %>
                    <%= f.text_field :string_date, as: :string, class: 'enddatepicker form-control', 
                                :value => @event.try(:end_time).try(:strftime,'%m/%d/%Y') %>
                    <%= f.hidden_field :end_time, :id => 'recorded-at-alt-end' %>
                 </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <%= f.label :event_name, "Event Name" %>
                    <%= f.text_field :name, class: 'form-control' %>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                    <%= f.label :event_description, "Event Description" %>
                    <%= f.text_area :desc, class: 'form-control' %>
                </div>
            </div>
            <%= f.hidden_field :user, value: current_user.id.to_s %>
            <p>
            <% if !@team.nil? %>
                Event for team: <em><strong><%= @team.team_name %></strong></em>
                <%= f.hidden_field :team_id, value: @team.id %>
            <% end %>
            <div class="row">
  			    <div class="col-xs-1 col-xs-offset-3">
                    <%= f.submit :submit, class: "btn btn-sm btn-primary" %>
  			    </div>
            </div>
		<% end %>	
	</div>	
</div>