<% provide(:title, @sport.sport_name + " - Event Info") %>
<p>
<div class="row">
	<div class="span10 offset1">
		<h4><em><%= link_to "Go To Calendar", sport_events_path(@sport) %></em></h4>
		<p>
        <div class="row">
            <div class="span4">
            	<h5>Start Time: </h5>
                <%= @event.start_time.strftime("%m/%d/%Y") %>
            </div>
            <div class="span4 offset1">
            	<h5>End Time: </h5>
                <%= @event.end_time.strftime("%m/%d/%Y") %>
            </div>
		</div>
		<p>
		<div class="row">
			<div class="span4">
				<h5>Event Description:</h5><p>
				<%= @event.name %>
			</div>
            <div class="span4 offset1">
            	<h5>Event Description:</h5><p>
                <%= @event.desc %>
            </div>
        </div>
	</div>
</div>
<% if isAdmin? or isTeamManager?(@event) %>
    <div class="row">
    	<div class="span2 offset4">
            <%= link_to "Edit", edit_sport_event_path(@sport, @event), class: "btn btn-medium btn-primary" %>
            <%= link_to "Delete", sport_event_path(@sport, @event), method: :delete, class: "btn btn-medium btn-danger" %>
        </div>
    </div>
<% end %>