<%= render 'shared/error_messages', object: f.object %>
<% if !@sponsor.sharepaid and current_user.godmode %>
	<div class="row">
		<div class="col-xs-9">
			<h5>This add failed to process the revenue share correctly. Click to clear the error once fixed</h5>
		</div>
		<div class="col-xs-3">
			<%= f.label :sharepaid, "Clear failed revenue share" %>
			<%= f.check_box :sharepaid, class: "form-control" %>
		</div>
	</div>
<% end %>
<div class="row">
	<div class="col-xs-12">
		<%= f.hidden_field :user_id, value: current_user.id.to_s %>

		<% if @playerad %>
			<%= hidden_field_tag "playerad", @playerad %>
			<%= f.label :name, "Sponsor Name of Message" %>
		<% else %>
			<%= f.label :name, "Sponsor Name" %>
		<% end %>

		<%= f.text_field :name, class: 'form-control' %>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-2">
		<%= f.label :number %>
		<%= f.text_field :addrnum, class: 'form-control' %>
	</div>
	<div class="col-xs-5">
		<%= f.label :street %>
		<%= f.text_field :street, class: 'form-control' %>
	</div>
	<div class="col-xs-5">
		<%= f.label :city, "City - city is computed from zip." %>
		<!--%= f.text_field :city, class: 'form-control' %-->
		<h4 class="text-info"><%= @sponsor.city %></h4>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-4">
		<%= f.label :state, "State - state is computed from zip." %>
		<!--%= f.select :state, us_states, { include_blank: true }, class: 'form-control' %-->
		<h4 class="text-info"><%= @sponsor.state %></h4>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<%= f.label :zip %>
		<%= f.text_field :zip, class: 'form-control' %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<%= f.label :phone %>
		<%= f.text_field :phone, class: 'form-control' %>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-2">
		<%= f.label :fax %>
		<%= f.text_field :fax, class: 'form-control' %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<%= f.label :mobile %>
		<%= f.text_field :mobile, class: 'form-control' %>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-12">
		<%= f.label :sponsors_url, "Sponsors URL" %>
		<%= f.text_field :adurl, class: 'form-control' %>
	</div>
</div>
<div id="loading">
  <div id="loadingcontent">
      <p id="loadingspinner">
          Updating Sponsor Info ....
      </p>
  </div>
</div>
<p>
<div class="row">
	<div class="col-xs-4">
		<%= f.label :contact_email, "Contact Email" %>
		<%= f.text_field :contactemail, class: 'form-control' %>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-3">
		<h4>Current Sponsor image</h4>
		<% if @sponsor.sponsorpic? %>
			<%= image_tag @sponsor.sponsorpic.url(:medium) %>
      	<% else %>
        	<%= image_tag "Photo_Not_Available.jpg" %>
		<%end %>

  		<% if @sponsor.name.blank? %>
  			<h6 class="text-info">New sponsor info must be submitted before uploading pic!</h6>
  		<% end %>
	</div>
	<% if @playerad %>
		<div class="col-xs-2 ">
			<%= f.label :athlete, "Athlete" %>
			<%= f.select :athlete, @sport.athletes.asc(:number).collect { |t| [t.numlogname, t.id] }, { include_blank: true }, 
						class: "form-control" %>
		</div>
	<% end %>
	<div class="col-xs-2 col-xs-offset-1">
		<%= f.label :select_team, "Select Team" %>
		<%= f.select :team_id, @sport.teams.collect { |t| [t.team_name, t.id] }, {}, class: "form-control" %>
	</div>
	<div class="col-xs-3 col-xs-offset-1">
		<% if isAdmin? and @sponsor.sportadinv_id.nil? %>
			<p class="text-info">Non advertiser sale inventory<p>
			<%= f.label :sportadinv_id, "Sponsor Level" %>
			<%= f.select :sportadinv_id, @sport.sportadinvs.where(active: false).collect { |s| [s.adlevelname, s.id] }, 
										{ include_blank: true }, class: 'form-control' %>
			<%= f.hidden_field :adminentered, value: true %>
		<% else %>
			<% if @sponsor.sportadinv_id.nil? %>
				<p class="text-info">Ad inventory for general sale.<p>
				<p class="text-info">Select the ad level to advertise on <%= @sport.sitename %><p>
			<% end %>
			<%= f.hidden_field :adminentered, value: false if @sponsor.sportadinv_id.nil? %>
		<% end %>

		<% if @sponsor.sportadinv_id.nil? %>
			<%= f.label :sportadinv_id, "Ad Level" %>
			<%= f.select :sportadinv_id, @sport.sportadinvs.where(active: true).asc(:price).collect { |s| [s.adlevelname + " - $" + s.price.to_s, s.id] }, { include_blank: true }, class: 'form-control' %>
		<% else %>
			<h5>Ad Inventory - <%= link_to @sponsor.sportadinv.adlevelname + " - $" + @sponsor.sportadinv.price.to_s, 
								sport_sportadinv_path(@sport, id: @sponsor.sportadinv_id) %></h5>
		<% end %>
		<p>
	</div>
</div>
<div class="row">
	<div class="col-xs-2 col-xs-offset-4">
		<%= f.submit :submit, class:	"btn btn-md btn-primary", id: "submitbtn" %>
	</div>
</div>
