<table class="table table-hover">
	<thead> 
		<tr>
      		<th>Ad Image</th>
			<th>Name</th>
			<th>Address</th>
			<th>City</th>
			<th>State</th>
			<th>Zip</th>
			<th>Phone</th>
			<th>Expiration</th>
			<th>Price</th>
			<th>Player</th>
			<th>Owner</th>
		</tr>
	</thead>
	<tbody>
		<% sponsors.each do |s| %>
			<tr>
        		<td><% if s.sponsorpic.blank? %>
              		<%= link_to image_tag('Tiny_Photo_Not_Available.png'), [@sport, s] %>
            	<% else %>
              		<%= link_to image_tag(s.sponsorpic.url(:thumb)), [@sport, s] %>
            	<% end %>
				<td><%= link_to s.name, [@sport, s] %></td>
				<td><%= s.addrnum.nil? || s.street.nil? ? "" : s.addrnum.to_s + " " + s.street %></td>
				<td><%= s.city %></td>
				<td><%= s.state %></td>
				<td><%= s.zip %></td>
				<td><%= s.phone %></td>
				<% if s.adminentered %>
					<td>None</td>
				<% else %>
					<td><%= s.adpayment.expiration.strftime("%m/%d/%Y") if s.adpayment %></td>
				<% end %>
				<td><%= s.sportadinv.nil? ? s.ios_client_ad.price : s.sportadinv.price %></td>
				<td><%= @sport.athletes.find(s.athlete_id).numlogname if s.athlete_id %></td>
				<td><%= User.find(s.user_id).email if s.user_id %></td>
			</tr>
		<% end %>
		<%= will_paginate %>
	</tbody>
</table>

