<% provide(:title, current_site.sitename + " " + @sport.name + " - Ad Sponsors") %>
<p>
<% if !User.find(@sport.adminid).paypal_email %>
	<div class="row">
		<div class="col-xs-12">
			<h3 class="text-warning"><%= current_site.sitename %> does not support user purchased advertising. Please contact the site administrator with questions.</h3>
		</div> 
	</div>
	<p>
	<div class="row">
		<div class="col-xs-12">
			<% if site_owner?(@sport) %>
				<%= link_to "Set Up Sport for Ads", user_path(current_user), class: "btn btn-lg btn-danger" %>
			<% end %>
		</div>
	</div>
<% end %>
<p>
<% if site_owner?(@sport) %>
	<div class="row">
	  	<div class="col-xs-4">
			<h4 class="text-info">Sort ad sales .... <%= link_to "Sort", "#", data: { toggle: "modal", target: '#sortsponsors-responsive' }, class: "btn btn-md btn-primary" %></h4>		
	  	</div>
	  	<div class="col-xs-8">
	  		<p>
				Download:
				<%= link_to "Excel", sport_sponsors_path(@sport, format: "xls") %>
			</p>
		</div>
	</div>
	<p>
<% end %>

<% if !@inapsponsors.nil? %>
	<div class="row">
	  	<div class="col-xs-12">
			<h4 class="text-success">List of advertisers who purchased ads using the GameTracker app.</h4>		
			<%= render 'sponsors', sponsorlist:  @inapsponsors %>
	  	</div>
	</div>

	<p>
	<% if isAdmin? and site_owner?(@sport) %>
		<div class="row">
			<div class="col-xs-4">
				<h4 class="text-success">GameTracker app ad sales: </h4>
			</div>
			<div class="col-xs-1">
				<h4 class="text-danger"><%= @inaptotals %></h4>
			</div>
		</div>
	<% end %>
<% end %>

<p>
<div class="row">
  	<div class="col-xs-12">
		<% if !@websponsors.nil? %>
			<h4 class="text-success">List of advertisers using your web sales inventory.			
				<% if user_signed_in? %>
					<%= link_to "My Ads", sport_sponsors_path(@sport, user: current_user.id), class: "btn btn-md btn-primary" %>
				<% end %>
			</h4>

			<div class="row">
				<div class="col-xs-12">
					<%= render 'sponsors', sponsorlist:  @websponsors %>
				</div>
			</div>

			<% if isAdmin? and site_owner?(@sport) %>
				<div class="row">
					<div class="col-xs-4">
						<h4 class="text-success">Total web ad sales: </h4>
					</div>
					<div class="col-xs-1">
						<h4 class="text-danger"><%= @webtotals %></h4>
					</div>
				</div>
			<% end %>

			<% if isAdmin? and site_owner?(@sport) %>
				<div class="row">
					<div class="col-xs-4">
						<h4 class="text-success">Total ad sales: </h4>
					</div>
					<div class="col-xs-1">
						<h4 class="text-danger"><%= @totals %></h4>
					</div>
				</div>
			<% end %>

		<% end %>
		<div class="row">
      		<div class="col-xs-2 col-xs-offset-5">
      			<% if isAdmin? and site_owner?(@sport) %>
					<%= link_to "Add Sponsor", new_sport_sponsor_path(@sport), class: "btn btn-sm btn-primary" %>
				<% else %>
					<%= link_to "Add Sponsor", add_sport_sponsors_path(@sport), class: "btn btn-sm btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<%= render 'sponsors/sortsponsorsmodal' %>
