<% provide(:title, current_site.sitename + " " + @sport.name + " - Sponsors") %>
<p>
<% if !User.find(@sport.adminid).paypal_email and isAdmin? %>
	<div class="row">
		<div class="col-xs-11">
			<h3 class="text-warning"><%= current_site.sitename %> does not support advertising. Please contact the site administrator with questions.</h3>
		</div>
	</div>
<% end %>
<p>
<div class="row">
  <div class="col-xs-11">
		<h4 class="text-success">List of advertisers you have entered.</h4>
		<div class="row">
			<div class="col-xs-12">
				<%= render 'sponsors', sponsors:  @sponsors %>
			</div>
		</div>
		<% if isAdmin? and site_owner?(@sport) %>
			<div class="row">
				<div class="col-xs-3">
					<h4 class="text-danger">Total ad sales to date: </h4>
				</div>
				<div class="col-xs-1">
					<h4 class="text-danger"><%= @totals %></h4>
				</div>
			</div>
		<% end %>
		<div class="row">
      		<div class="col-xs-2 col-xs-offset-5">
      			<% if isAdmin? and site_owner?(@sport) %>
					<%= link_to "Add Sponsor", new_sport_sponsor_path(@sport), class: "btn btn-sm btn-primary" %>
				<% else %>
					<%= link_to "Add Sponsor", add_sport_sponsors_path(@sport), class: "btn btn-sm btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
</div>


