<% provide(:title, 'Become a sponsor for ' + @sport.sitename) %>
<p>
<div class="row">
	<div class="col-xs-12">
		<h4 class="text-info">Welcome to <%= @sport.sitename %>. We thank you for your interest in buying ad space on our mobile app and web site.</h4>
		<p>
		<h4 class="text-success">Higher priced ads appear more often than lower priced ads. Choose the level of ad that best fits the exposure you want on <strong><%= @sport.sitename %> <%= @sport.name %></strong>.</h4>
		<h4 class="text-success">We thank you for advertising on <strong><%= @sport.sitename %> <%= @sport.name %></strong>.</h4>
		<h5 class="text-info"><em><%= @sport.sitename %></em> currently has <%= @sportadinvs.count.to_s %> ad level for you to choose from. Select one to advertise!</h5>

		<div class="row">
			<div class="col-xs-6">
				<table class="table able-striped table-bordered table-hover">
					<thead>
						<th>Ad Level</th>
						<th>Ad Price</th>
					</thead>
					<tbody>
						<% if !@sportadinvs.nil? %>
						 	<% @sportadinvs.each do |s| %>
						 		<tr>
						 			<% if user_signed_in? %>
							 			<% if s.playerad %>
											<td><%= link_to s.adlevelname, new_sport_sponsor_path(@sport, sportadinv_id: s.id,
													 playerad: true) %></td>
											<td><%= link_to s.price, new_sport_sponsor_path(@sport, sportadinv_id: s.id, 
													playerad: true) %></td>
										<% else %>
											<td><%= link_to s.adlevelname, new_sport_sponsor_path(@sport, sportadinv_id: s.id) %></td>
											<td><%= link_to s.price, new_sport_sponsor_path(@sport, sportadinv_id: s.id) %></td>
										<% end %>
									<% else %>
										<td><%= link_to s.adlevelname %></td>
										<td><%= link_to s.price %></td>
									<% end %>
								</tr>
					 		<% end %>
					 	<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<h5 class="text-info">Remember, the higher the price of the ad level the more often your ad will appear.</h5>
		<p>
		<% if @sport.sportadinvs.where(playerad: true).count > 0 %>
			<h5 class="text-warning">Player ads are attached to a particular player. The ad will appear when fans visit the players ino and bio page. This is a great way to show support for your favorite player and to support the team!</h5>
		<% end %>
		<% if !user_signed_in? %>
			<h4 class="text-danger">You will need to login to advertise on <%= @sport.sitename %>. If you do not have a login, select "Sign Up" on the login page.</h4>
		<% end %>
		<p>
	</div>
</div>