<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @sponsor.name) %>
<p>
<div class="row">   
  <div class="col-xs-10">
		<%= render 'shared/error_messages', object:	@sponsor %>
	</div>
</div>
<div class="row">
  <div class="col-xs-4">
    <% if @sponsor.processing %>
      <h4><em><font color="red">Processing Replacement Photo ...</font></em></h4>
    <% end %>
    <h4>Change Sponsor Image:</h4>
    <h5 class="text-info">If you do not enter an image for your ad, the team logo will appear as the ad copy!</h5>
    <% if @sponsor.sponsorpic? %> 
      <%= image_tag @sponsor.sponsorpic.url(:medium), class: 'img-responsive' %>
    <% else %>
      <%= image_tag 'Photo_Not_Available.jpg', class: 'img-responsive' %>
    <% end %>
    <% if isAdmin? or @sponsor.user_id == current_user.id %>
      <%= s3_uploader_form callback_url: createphoto_sport_sponsors_path, callback_param: "sponsor[image_url]", 
                 key: "uploads/sponsorsphotos/#{@sponsor.id}/${filename}", id:  "myS3Uploader" do %>
          <%= file_field_tag :file %>
      <% end %>

      <script id="template-upload" type="text/x-tmpl">
        <div id="file-{%=o.unique_id%}" class="upload">
          {%=o.name%}
          <div class="progress"><div class="bar" style="width: 0%"></div></div>
        </div>
      </script> 
    <% end %>   
  </div>
  <div class="col-xs-6">
    <div class="row">
      <table class="table">
      	<thead> 
          <tr>
      			<th>Name</th>
      			<th>Email</th>
            <th>Team?</th> 
            <th>Admin Entered</th>          
         </tr>
        </thead>
        <tbody>
      		<tr>
      			<td><%= @sponsor.name %></td>
      			<td><%= @sponsor.contactemail %></td>
            <% if !@sponsor.team_id.nil? %>
              <td><%= @sport.teams.find(@sponsor.team_id).team_name %></td>
            <% else %>
              <td>None</td>
            <% end %>
            <td><%= @sponsor.adminentered if isAdmin? %></td>
         </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
      			<th>Address</th>
      			<th>City</th>
      			<th>State</th>
      			<th>Phone</th>
            <th>Fax</th>
            <th>Mobile</th>  
      		</tr>
      	</thead>
      	<tbody>
          <tr>
      			<td><%= @sponsor.addrnum.to_s + " " + @sponsor.street %></td>
      			<td><%= @sponsor.city %></td>
        		<td><%= @sponsor.state %></td>
        		<td><%= @sponsor.phone %></td>
            <td><%= @sponsor.fax %></td>
            <td><%= @sponsor.mobile %></td>
      		</tr>
      	</tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th>Ad Target URL</th>
            <th>Owner</th>
            <th>Expiration</th>
          </tr>
        </thead>
        <tbody>
          <td><%= @sponsor.adurl %></td>
          <td><%= User.find(@sponsor.user_id).email if @sponsor.user_id %></td>
          <% if @sponsor.adminentered %>
            <td>None</td>
          <% else %>
            <td><%= @sponsor.adpayment.expiration.strftime("%m/%d/%Y")  %></td>
          <% end %>
        </tbody>
      </table>
  	</div>
  </div>
  <p>
</div>
<div class="row">
  <div class="col-xs-4">
    <% if @sponsor.processing %>
      <h4><em><font color="red">Processing Replacement Photo ...</font></em></h4>
    <% end %>
    <h4>Change Sponsor Banner:</h4>
    <% if @sponsor.sponsorpic? %> 
      <%= image_tag @sponsor.adbanner.url(:medium), class: 'img-responsive' %>
    <% else %>
      <%= image_tag 'Tiny_Photo_Not_Available.png', class: 'img-responsive' %>
    <% end %>
    <% if isAdmin? or @sponsor.user_id == current_user.id %>
      <%= form_for [@sport, @sponsor], :input_html => { :class => 'form-horizontal' } do |f| %>
        <div class= "row">
          <div class="col-xs-11">
            <%= f.file_field  :adbanner, class: 'form-control' %>
          </div>
        </div>
        <p>
        <div class="row">
          <div class="col-xs-2">
            <%= f.submit :submit, class:  "btn btn-sm btn-primary", id: "submitbtn" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <h5 class="text-info">You can upload a banner ad for display on our mobile app. Banner ads should be 320x50 pixels. If you choose not download a banner ad the default banner ad will be displayed. The default banner will use the ad copy above in addition to your sponsor name. Here is an example of the default banner ad.</h5>
    <%= image_tag "fanapp/iPhoneBannerAd.png" %>
    <h5>The mobile app will automatically use the default banner if you choose not to upload one.</h5>
  </div>
</div>
<p>
<% if @sponsor.sportadinv.playerad %>
  <div class="row">
    <div class="col-xs-11">
      <% if @sponsor.athlete_id.nil? %>
        <%= form_for [@sport, @sponsor], :input_html => { :class => 'form-horizontal' } do |f| %>
          <div class="row">
            <div class="col-xs-4">
              <%= f.label :athlete_id, "This is a player ad. Please select the player you want the ad displayed on. Your player ad will not be displayed until you attach the ad to a player." %>
              <%= f.select :athlete_id, @sport.athletes.all.asc(:number).collect { |a| [a.numlogname, a.id] }, { include_blank: true }, 
                          class: "form-control" %>
            </div>
          </div>
          <p>
          <div class="row">
            <div class="col-xs-2 col-xs-offset-1">
              <%= f.submit "Attach Player to Ad", class:  "btn btn-sm btn-primary", id: "submitbtn" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3 class="text-success">This Player Advertisement attached to number <%= @sport.athletes.find(@sponsor.athlete_id).numlogname %></h3>
      <% end %>
     </div>
  </div>
<% end %>
<p>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
  </div>
</div>
<p>
<% if (user_signed_in? and @sponsor.user_id.to_s == current_user.id.to_s) or isAdmin? %>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <%= link_to "Edit", edit_sport_sponsor_path(@sport, @sponsor),  class: "btn btn-sm btn-warning" %>&nbsp;
    		<%= link_to "Delete", sport_sponsor_path(@sport, @sponsor),  method:	:delete,  class: "btn btn-sm btn-danger", 
                    data: { confirm: "You sure?" } if user_signed_in? %>
    </div>
  </div>
<% end %>

