<div class="row">
	<div class="col-xs-8">
		<%if site_owner?(@sport) or isTeamManager?(@gameschedule) %>
			<ul class="nav nav-pills">
				<li><%= link_to "Update Scoreboard", soccerform_sport_team_gameschedule_path(@sport, @team, @gameschedule) %></li>
			</ul>
		<% end %>
		<div class="well">
			<h3 class="text-center">
			<div class="row">
				<div class="col-xs-2">
					<%= image_tag get_tiny_team_logo(@sport, @team) %>
				</div>
				<div class="col-xs-1">
					<%= @team.mascot %>
				</div>
				<div class="col-xs-3">
				</div>
				<div class="col-xs-1">
					<%= @gameschedule.opponent_mascot %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= image_tag opponentimage(@gameschedule) %>
					<% if site_owner?(@sport) or isTeamManager?(@gameschedule) %>
						<%= render 'uploadopponent' %>
					<% end %>
				</div>
			</div>
			</h3>
			<h1 class="text-danger text-center">
			<div class="row">
				<div class="col-xs-2 col-xs-offset-1">
					<%= @gameschedule.EditHomeScore ? @gameschedule.homescore : soccer_home_score(@sport, @gameschedule) %>
				</div>
				<div class="col-xs-3">
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= @gameschedule.opponentscore %>
				</div>
			</div>
			</font></h1>
			<h4 class="text-center">
			<div class="row">
				<div class="col-xs-1">
					Shots
				</div>
				<div class="col-xs-1">
					C/K
				</div>
				<div class="col-xs-1">
					Saves
				</div>
				<div class="col-xs-1 col-xs-offset-1">
					Period
				</div>
				<div class="col-xs-1 col-xs-offset-1">
					Shots
				</div>
				<div class="col-xs-1">
					C/K
				</div>
				<div class="col-xs-1">
					Saves
				</div>
			</div>
			</h4>
			<h4 class="text-danger text-center">
			<div class="row">
				<div class="col-xs-1">
					<%= @totals.shotstaken %>
				</div>
				<div class="col-xs-1">
					<%= @totals.cornerkick %>
				</div>
				<div class="col-xs-1">
					<%= @totals.goalssaved %>
				</div>
				<div class="col-xs-1 col-xs-offset-1">
					<%= @gameschedule.currentperiod %>
				</div>
				<div class="col-xs-1 col-xs-offset-1">
					<%= @gameschedule.socceroppsog %>
				</div>
				<div class="col-xs-1">
					<%= @gameschedule.socceroppck %>
				</div>
				<div class="col-xs-1">
					<%= @gameschedule.socceroppsaves %>
				</div>
			</div>
			</font>
			</h4>
		</div>
	</div>
	<div class="col-xs-3">
		<h4>Game Score Log</h4>
		<table class="table-striped table-bordered table-hover">
			<thead>
				<th>Period</th>
				<th>Player</th>

				<% if site_owner?(@sport) or isTeamManager?(@gameschedule) %>
					<th>Edit</th>
					<th>Delete</th>
				<% end %>
			</thead>
			<tbody>
				<% @gamelogs.each do |g| %>
					<td><%= g.period %></td>
					<td><%= g.logentrytext %></td>
					
				 	<% if site_owner?(@sport) or isTeamManager?(@gameschedule) %>
				 		<td><%= link_to "Edit", edit_sport_team_gameschedule_gamelog_path(@sport, @team, @gameschedule, g), 
				 					class: "btn btn-xs btn-warning" %></td>
				 		<td><%= link_to "Delete", [@sport, @team, @gameschedule, g], method: :delete,
				 					class: "btn btn-xs btn-danger", data: { confirm: "You sure?" } %></td>
				 	<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<th>Last Play:</th>
			</thead>
			<tbody>
				<td><%= @gameschedule.lastplay %></td>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
	    <% if Time.now > @gameschedule.starttime + 5.hours or @gameschedule.final and isAdmin? %>
	      	<h4 class="text-warning">Game is past end time. Turn of mobile alerts?</h4>
	      	<p class="text-danger">If you update scoreing stats with alerts enabled after the games end and your fans have scoreing alerts enabled, they will get a scoring alert notification sent to their mobile device.</p>
	        <%= form_for [@sport, @team, @gameschedule], url: mobilealerts_sport_team_gameschedule_path(@sport, @team, @gameschedule), 
	                method: :put, html: { class: 'form-inline' }  do |f| %>
	            <%= f.label :mobilealerts, "Mobile Alerts" %>
	            <%= f.check_box :mobilealerts %>
	            <%= f.submit :submit %>
	        <% end %>
	        <p class="text-danger">Click to turn on or off</p>
	    <% end %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
			<h4>Goalie Stats</h4>
			<h4>Stats for game <%= @gameschedule.game_name %></h4>
			<table class="table table-striped table-bordered table-hover">
				<%= render "soccers/goalieheader", name: "Player" %>
				<% @goalies.each do |a| %>
					<% @thestat = nil %>
					<% @stats.each do |b| %>
						<% if a.id.to_s == b.athlete_id.to_s %>
							<% @thestat = b %>
							<% break %>
						<% end %>
					<% end %>
					<% if @thestat and is_soccer_goalie?(a.position) %>
						<%= render "soccers/goaliebody", stat: @thestat, name: "Player" %>
					<% elsif is_soccer_goalie?(a.position) %>
						<%= render "soccers/goaliebody", stat: Soccer.new(gameschedule: @gameschedule.id, athlete: a.id), name: "Player" %>
					<% end %>
				<% end %>
				<%= render "soccers/goaliebody", stat: @totals, name: "Totals" %>
			</table>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
			<h4>Player Stats</h4>
			<table class="table table-striped table-bordered table-hover">
				<%= render "soccers/playerstatsheader", name: "Player" %>
				<% @players.each do |a| %>
					<% @thestat = nil %>
					<% @stats.each do |b| %>
						<% if a.id.to_s == b.athlete_id.to_s %>
							<% @thestat = b %>
							<% break %>
						<% end %>
					<% end %>
					<% if @thestat %>
						<%= render "soccers/playerstatsbody", stat: @thestat, name: "Player" %>
					<% else %>
						<%= render "soccers/playerstatsbody", stat: Soccer.new(gameschedule: @gameschedule.id, athlete: a.id), name: "Player" %>
					<% end %>
				<% end %>
				<%= render 'soccers/playerstatsbody', stat: @totals, name: "Totals" %>
			</table>
	</div>
</div>
<%= render 'layouts/messagemodal', modalid: 'upgradestatsmodal', modaltitle: 'Upgrade for Stats', 
            messagetext: 'Click on "Manage Game Tracker Package" in Tools menu to upgrade!' %>

