<div class="row">
	<div class="col-xs-2">
		<%= f.input :livestats, as: :hidden, :input_html => { :value => "Totals" } %>
		<%= f.input :tackles %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<%= f.input :assists %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<%= f.input :sacks %>
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
		<%= f.input :sackassists %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<%= f.input :interceptions %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<%= f.input :int_yards, label: "Return Yards" %>
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
		<%= f.input :int_long, label: "Interception Return Long" %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<%= f.input :int_td, label: "TD's" %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<%= f.input :fumbles_recovered %>
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
		<%= f.input :pass_defended, label: "Passes Defended" %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
		<%= f.input :safety, required: false %>
	</div>
</div>
<p>
<div class="col-xs-2 col-xs-offset-3">
	<%= f.button :submit, 'Submit', class:	"btn btn-sm btn-primary" %>
</div>
