<div class="row">
	<div class="span2">
		<%= f.input :tackles %>
	</div>
	<div class="span2 offset1">
		<%= f.input :assists %>
	</div>
	<div class="span2 offset1">
		<%= f.input :sacks %>
	</div>
</div>
<div class="row">
	<div class="span2">
		<%= f.input :sackassists %>
	</div>
	<div class="span2 offset1">
		<%= f.input :interceptions %>
	</div>
	<div class="span2 offset1">
		<%= f.input :int_yards, label: "Return Yards" %>
	</div>
</div>
<div class="row">
	<div class="span2">
		<%= f.input :int_long, label: "Interception Return Long" %>
	</div>
	<div class="span2 offset1">
		<%= f.input :int_td, label: "TD's" %>
	</div>
	<div class="span2 offset1">
		<%= f.input :fumbles_recovered %>
	</div>
</div>
<div class="row">
	<div class="span2">
		<%= f.input :pass_defended, label: "Passes Defended" %>
	</div>
	<div class="span2 offset1">
		<%= f.input :safety, required: false %>
	</div>
</div>
<p>
<div class="span2 offset3">
	<%= f.button :submit, 'Submit', class:	"btn btn-medium btn-primary" %>
</div>
