<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span6 offset3">
		<em>Add Defensive Stat for: <%= link_to @athlete.full_name, sport_athlete_path(@sport, @athlete) %> for 
			<strong><%= @stat.gameschedule.game_name %></strong></em>
		<p>
		<%= form_tag adddefense_sport_athlete_football_stat_football_defenses_path(sport_id: @sport, athlete_id: @athlete, 
								football_stat_id: @stat, football_defense_id: @defense), class: "form-horizontal", method: 'get' do %>
			<%= render 'shared/error_messages', object: @defense %>
			<div class="row">
				<div class="span2">
		            <%= label_tag "Quarter: " %>
					<%= select_tag "quarter", options_for_select(quarters) %>
				</div>
				<div class="span2 offset1">
		            <%= label_tag "Sack: " %>
		            <%= check_box_tag 'sack', 1 %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="span2">
		            <%= label_tag "Game Time (Needed for scoring summary only): " %>
		            <%= text_field_tag "time", '00:00' %>
				</div>
				<div class="span2 offset1">
		            <%= label_tag "Click for Interception: " %>
		            <%= check_box_tag 'int', 1 %>
				</div>
			</div>
			<div class="row">
				<div class="span2">
		            <%= label_tag "Tackles: " %>
		            <%= text_field_tag "tackles", '0' %>
				</div>
				<div class="span2 offset1">
		            <%= label_tag "Defensive TD: " %>
		            <%= check_box_tag 'int_td', 1 %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="span2">
		            <%= label_tag "Assists: " %>
		            <%= text_field_tag "assists", '0' %>
				</div>
				<div class="span2 offset1">
		            <%= label_tag "Fumbles Recovered: " %>
		            <%= check_box_tag 'fumbles_recovered', 1 %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="span2">
		            <%= label_tag "Interception Yards: " %>
		            <%= text_field_tag "int_yards", '0' %>
				</div>
				<div class="span2 offset1">
		            <%= label_tag "Passes Defended: " %>
		            <%= check_box_tag "pass_defended", 1 %>
				</div>
				<div class="span2 offset1">
		            <%= label_tag "Safety: " %>
		            <%= check_box_tag "safety", 1 %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="span1 offset2">
					<%= submit_tag 'Submit', class:	"btn btn-medium btn-primary" %>
				</div>
			</div>
		<% end %>
	</div>
</div>
