<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span2">
		<%= link_to image_tag(@athlete.pic.url(:thumb)), sport_athlete_path(@sport, @athlete) %>
	</div>
	<div class="span6">
		<h4>Defensive stats for <%= link_to(@athlete.full_name, sport_athlete_path(@sport, @athlete)) %></h4>
	</div>
</div>
<div class="row">
	<div class="span10">
		<table class="table table-bordered">
			<%= render "stat_header", name: "Game" %>
			<% @stats.each do |s| %>
				<%= render "stat_body", stat: s, player: @athlete, name: Gameschedule.find(s.gameschedule_id) %>
			<% end %>
			<%= render 'stat_body', stat: @totals, player: @athlete, name: "Totals" %>
		</table>
	</div>
</div>
