<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span9 offset1">
		<p>
		<%= render 'tabs_game' %>
		<p>
		<h4>Defensive game statistics for <%= link_to @athlete.full_name, [@sport, @athlete] %> for <%= @stat.gameschedule.game_name %></h4>
		<p>
		<table class="table table-bordered">
			<em>
			<thead>
				<th>Tackles</th>
				<th>Assists</th>
				<th>Sacks</th>
				<th>Passes Defended</th>
			</thead>
			</em>
			<tbody>
				<td><%= @defense.tackles %></td>
				<td><%= @defense.assists %></td>
				<td><%= @defense.sacks %></td>
				<td><%= @defense.pass_defended %></td>
			</tbody>
		</table>
		<table class="table table-bordered">
			<thead>
				<th>Interceptions</th>
				<th>Int Return Yards</th>
				<th>Int Return Long</th>
				<th>Interception TD</th>
				<th>Fumbles Recoveredd</th>
			</thead>
			<tbody>
				<td><%= @defense.interceptions %></td>
				<td><%= @defense.int_yards %></td>
				<td><%= @defense.int_long %></td>
				<td><%= @defense.int_td %></td>
				<td><%= @defense.fumbles_recovered %></td>
			</tbody>
		</table>
		<div class="span2 offset3">
			<%= link_to "Edit", edit_sport_athlete_football_stat_football_defense_path(@sport, @athlete, @stat, @defense), 
						class: "btn btn-medium btn-primary" %>
			<%= link_to "Delete", sport_athlete_football_stat_football_defense_path(@sport, @athlete, @stat, @defense), 
						method: :delete, class: "btn btn-medium btn-danger" %>
		</div>
	</div>
</div>