<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<script>
  	$(document).ready(function() {
	    $(window).load(function() {
		   $('#defensestats-responsive').modal('show')
		});
	});	
</script>
<div class="row">
	<div class="col-xs-2">
		<%= link_to image_tag(@athlete.pic.url(:thumb)), sport_athlete_path(@sport, @athlete) %>
	</div>
	<div class="col-xs-6">
		<h4>Defensive game statistics for <%= link_to(@athlete.full_name, sport_athlete_path(@sport, @athlete)) %></h4>
	</div>
	<div class="col-xs-1 col-xs-offset-2">
        <button href="#defensestats-responsive" data-dismiss="modal" data-toggle="modal" class="btn btn-sm btn-primary">Update</button>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-10">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<th>SOLO</th>
				<th>AST</th>
				<th>SACK</th>
				<th>INT</th>
				<th>PD</th>
			</thead>
			<tbody>
				<td><%= @defense.tackles %></td>
				<td><%= @defense.assists %></td>
				<td><%= @defense.sacks %></td>
				<td><%= @defense.interceptions %></td>
				<td><%= @defense.pass_defended %></td>
			</tbody>
		</table>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<th>RET YDS</th>
				<th>RET LNG</th>
				<th>TD</th>
				<th>FUMB REC</th>
				<th>S</th>
			</thead>
			<tbody>
				<td><%= @defense.int_yards %></td>
				<td><%= @defense.int_long %></td>
				<td><%= @defense.int_td %></td>
				<td><%= @defense.fumbles_recovered %></td>
				<td><%= @defense.safety %></td>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<%= render "layouts/sponsor" %>
</div>
<%= render 'defensestatsmodal', stat: @defense, player: @athlete %>
