<tbody>
	<% if name == "Player" %>
		<% @theplayer = Athlete.find(stat.athlete_id) %>
		<td><%= link_to image_tag(getimage(@theplayer, 'tiny'), class: 'img-responsive'), [@sport, @theplayer] %></td>
		<td><%= link_to @theplayer.numlogname, [@sport, @theplayer] %></td>
	<% elsif name == "Game" %>
		<% @game = Gameschedule.find(stat.gameschedule_id) %>
		<td><%= link_to image_tag(opponentimage(@game), class: 'img-responsive'), [@sport, @sport.teams.find(@game.team_id), @game] %></td>
		<td><%= link_to ("vs " + @game.opponent), [@sport, @sport.teams.find(@game.team_id), @game] %></td>
	<% else %>
		<td></td>
		<td><%= name %></td>
	<% end %>
	<td><%= stat.receptions %></td>
	<td><%= stat.yards %></td>
	<td><%= stat.firstdowns %></td>
	<td><%= number_with_precision(stat.average, precision: 2) %></td>
	<td><%= stat.td %></td>
	<td><%= stat.fumbles %></td>
	<td><%= stat.fumbles_lost %></td>
	<td><%= stat.twopointconv %></td>
	<% if site_owner?(@sport) or isTeamManager?(name == "Player" ? @theplayer : @game) and name == "Player" %>
		<td>
			<% if FootballReceiving.find(stat.id).nil? %>
				<%= link_to "Update", sport_athlete_football_receiving_path(@sport, @theplayer, gameschedule_id: @gameschedule.id), 
										class: "btn btn-xs btn-info"%>
			<% else %>
				<%= link_to "Update", sport_athlete_football_receiving_path(@sport, @theplayer, stat_id: stat.id), class: "btn btn-xs btn-info"%>
			<% end %>
		</td>
	<% else %>
		<td></td>
	<% end %>
</tbody>
