<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span10">
		<h4>Receiving game statistics for <%= link_to @athlete.full_name, [@sport, @athlete] %> for <%= @gameschedule.game_name %></h4>
		<table class="table table-bordered">
			<%= render 'stat_header', name: "Game" %>
			<%= render 'stat_body', stat: @receiving, player: @athlete, name: @gameschedule %>
		</table>
	</div>
</div>
<div class="row">
	<div class="span2 offset4">
		<%= link_to "Totals", sport_athlete_football_receivers_path(@sport, @athlete, gameschedule_id: @receiving.gameschedule_id), 
			class: "btn btn-medium btn-primary"%>
	</div>
</div>
<div class="row">
	<%= render "layouts/sponsor" %>
</div>
