<div class="row">
	<div class="col-xs-11">
		<%= form_for [@sport, @sportadinv], :input_html => { :class => 'form-horizontal' } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="row">
				<div class="col-xs-4">
					<%= f.label :adlevelname, "Ad Level" %>
					<%= f.text_field :adlevelname, class: 'form-control' %>
				</div>
				<div class="col-xs-1 col-xs-offset-1">
					<h5>Decimal or numeric only</h5>
					<%= f.label :price, "Price" %>
					<%= f.text_field :price, class: 'form-control' %>
				</div>
				<div class="col-xs-1 col-xs-offset-1">
					<%= f.label :active, "General Sale" %>
					<%= f.check_box :active, class: 'form-control' %>
				</div>
				<div class="col-xs-offset-3">
					<h5>Available to all advertisers for sale</h5>
				</div>
			</div>
			<p>
			<div class="col-xs-2 col-xs-offset-5">
				<%= f.submit :submit, class: "btn btn-md btn-primary", id: "submitbtn" %>
			</div>
		<% end %>
	</div>	
</div>
