<div class="row">
	<div class="col-xs-11">
		<h4 class="text-info">Select available for general sale below only if you want to allow this ad class to be sold to all advertisers. You can only create one inventory ad for a player. That inventory item will be available for use by advertisers to sponsor all players.</h4>
		<p>
		<%= form_for [@sport, @sportadinv], :input_html => { :class => 'form-horizontal' } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="row">
				<div class="col-xs-4">
					<%= f.label :adlevelname, "Ad Level" %>
					<%= f.text_field :adlevelname, class: 'form-control' %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= f.label :price, "Price - Numeric" %>
					<%= f.text_field :price, class: 'form-control' %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= f.label :expiration, "Expiration Date" %>
					<%= f.text_field :date_string, as: :string, class: 'datepicker form-control', 
                                    :value => @sportadinv.try(:expiration).try(:strftime,'%m/%d/%Y') %>
                    <%= f.hidden_field :expiration, :id => 'recorded-at-alt' %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="col-xs-2">
					<%= f.label :active, "Available for General Sale" %>
					<%= f.check_box :active, class: 'form-control' %>
				</div>
				<div class="col-xs-3">
					<%= f.label :playerad, "Player" %>
					<%= f.check_box :playerad, class: "form-control" %>
				</div>
			</div>
			<p>
			<div class="col-xs-2 col-xs-offset-5">
				<%= f.submit :submit, class: "btn btn-md btn-primary", id: "submitbtn" %>
			</div>
		<% end %>
	</div>	
</div>
