<tbody>
	<% if name == "Player" %>
		<% @theplayer = Athlete.find(stat.athlete_id) %>
		<td><%= link_to image_tag(getimage(@theplayer, 'tiny'), class: 'img-responsive'), [@sport, @theplayer] %></td>
		<td><%= link_to @theplayer.numlogname, [@sport, @theplayer] %></td>
	<% elsif name == "Game" %>
		<% @game = Gameschedule.find(stat.gameschedule_id) %>
		<td><%= link_to image_tag(opponentimage(@game), class: 'img-responsive'), [@sport, @sport.teams.find(@game.team_id), @game] %></td>
		<td><%= link_to ("vs " + @game.opponent), [@sport, @sport.teams.find(@game.team_id), @game] %></td>
	<% else %>
		<td><%= name %></td>
	<% end %>
	<td><%= stat.koreturns %></td>
	<td><%= stat.koyards %></td>
	<td><%= stat.kotd %></td>
	<td><%= stat.kolong %></td>
	<% if site_owner? or isTeamManager?(name == "Player" ? @theplayer : @game) and name == "Player" %>
		<td>
			<% if FootballReturner.find(stat.id).nil? %>
				<%= link_to "Update", sport_athlete_football_returner_path(@sport, @theplayer, gameschedule_id: @gameschedule.id), 
										class: "btn btn-xs btn-info"%>
			<% else %>
				<%= link_to "Update", sport_athlete_football_returner_path(@sport, @theplayer, stat_id: stat.id), class: "btn btn-xs btn-info"%>
			<% end %>
		</td>
	<% else %>
		<td></td>
	<% end %>
</tbody>
