<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<script>
  	$(document).ready(function() {
	    $(window).load(function() {
		   $('#returner-responsive').modal('show')
		});
	});	
</script>
<div class="row">
	<div class="col-xs-2">
		<%= link_to image_tag(@athlete.pic.url(:thumb)), sport_athlete_path(@sport, @athlete) %>
	</div>
	<div class="col-xs-7">
		<h4>Return game statistics for <%= link_to(@athlete.full_name, sport_athlete_path(@sport, @athlete)) %></h4>
	</div>
	<div class="col-xs-1 col-xs-offset-2">
        <button href="#returner-responsive" data-dismiss="modal" data-toggle="modal" class="btn btn-sm btn-primary">Update</button>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-12">
		<h4>Punt Returner</h4>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<th>RET</th>
				<th>YDS</th>
				<th>TD</th>
				<th>LONG</th>
			</thead>
			<tbody>
				<td><%= @returner.punt_return %></td>
				<td><%= @returner.punt_returnyards %></td>
				<td><%= @returner.punt_returntd %></td>
				<td><%= @returner.punt_returnlong %></td>
			</tbody>
		</table>
		<h4>Kickoff Returner</h4>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<th>RET</th>
				<th>YDS</th>
				<th>TD</th>
				<th>LONG</th>
			</thead>
			<tbody>
				<td><%= @returner.koreturns %></td>
				<td><%= @returner.koyards %></td>
				<td><%= @returner.kotd %></td>
				<td><%= @returner.kolong %></td>
			</tbody>
		</table>
	</div>
</div>
<%= render 'returnermodal', stat: @returner, player: @athlete %>
