<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span10">
		<p>
		<h4>Return statistics for <%= link_to @athlete.full_name, [@sport, @athlete] %> for<br/>
			<%= @gameschedule.game_name %></h4>
		<p>
		<h5>Punt Return Statistics</h5>
		<table class="table table-bordered">
			<%= render 'puntreturn_header', name: "Game" %>
			<%= render 'puntreturn_body', stat: @returner, player: @athlete, name: @gameschedule %>
		</table>
		<h5>Kickoff Return Statistics</h5>
		<table class="table table-bordered">
			<%= render 'koreturn_header', name: "Game" %>
			<%= render 'koreturn_body', stat: @returner, player: @athlete, name: @gameschedule %>
		</table>
	</div>
</div>
<div class="row">
	<div class="span2 offset4">
		<%= link_to "Totals", sport_athlete_football_returners_path(@sport, @athlete, gameschedule_id: @returner.gameschedule_id), 
			class: "btn btn-medium btn-primary"%>
	</div>
</div>
<div class="row">
	<%= render "layouts/sponsor" %>
</div>
