<% provide(:title, "User Sign In") %>
<p>
<% if !current_site? %>
  <div class="row">
    <div class="col-xs-12">
      <h3>Sign into Eazesportz!</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <%= image_tag "FootballGameStats.png", class: 'img-responsive' %>
    </div>
    <div class="col-xs-4 col-xs-offset-1">
      <%= image_tag "BasketballGameStats.png", class: 'img-responsive' %>
    </div>
  </div>
<% end %>
<div class="row">
	<div class="col-xs-4 col-xs-offset-3">
		<div class="row">
				<h3>Sign In</h3><p>
		</div>
		<%= form_for(resource, :as => resource_name, :url => user_session_path, html: { class: 'form-horizontal' } ) do |f| %>
			<div class="form-group">
		 		<%= f.text_field :email, placeholder: 'Enter Email', class: 'form-control' %>
		 	</div>
			<div class="form-group">
	  			<%= f.password_field :password, placeholder: 'Password', class: 'form-control'  %>
		 	</div>
		 	<div class="form-group">
  				<%= f.check_box :remember_me %>
  				<%= f.label :remember_me %>
	  		</div>
	  		<div class="form-group">
 				<%= f.submit 'Sign in', class: "btn btn-primary btn-md" %>
	  		</div>
		<% end %>	
	</div>
</div>
<div class="row">
	<div class="col-xs-4 col-xs-offset-3">
		<%= render "devise/shared/links" %>
	</div>
</div>

