<table class="table table-hover">
	<thead> 
		<tr>
      <th>Photo</th>
			<th>Last Name</th>
			<th>First Name</th>
			<th>Middle Name</th>
			<th>Speciality</th>
			<th>Experience</th>
			<th>Coaches</th>
			<% if isAdmin? %>
				<th>Update</th>
				<th>Remove</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% coaches.each do |c| %>
			<tr>
        <td><% if c.coachpic.blank? %>
              <%= link_to image_tag('Tiny_Photo_Not_Available.png'), [@sport, c] %>
            <% else %>
              <%= link_to image_tag(c.coachpic.url(:thumb), class: 'img-responsive'), [@sport, c] %>
            <% end %>
				<td><%= link_to c.lastname, [@sport, c] %></td>
				<td><%= link_to c.firstname, [@sport, c] %></td>
				<td><%= c.middlename %></td>
				<td><%= c.speciality %></td>
				<td><%= c.years_on_staff %></td>
				<% if c.team_id.nil? %>
					<td>Unassigned</td>
				<% else %>
					<td><%= @sport.teams.find(c.team_id).team_name %></td>
				<% end %>
				<% if site_owner? or isTeamManager?(c) %>
		          <td><%= link_to "Edit", edit_sport_coach_path(@sport, c), class: "btn btn-xs btn-warning" %></td>
		        <% end %>
		        <% if site_owner? %>
		          <td><%= link_to "Delete", sport_coach_path(@sport, c),  method:	:delete, class: "btn btn-xs btn-danger", data: { confirm: "You sure?" } %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

