<div class="row">
	<div class="col-xs-11">
		<%= simple_form_for [@sport, @coach], 
							:defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="row">
				<div class="col-xs-2">
					<%= f.input	:lastname,	label:	"Last name" %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= f.input :firstname,	label:	"First name" %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= f.input	:middlename,	label:	"Middle name", required: false %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2">
					<%= f.input :speciality, 	label:	"Coaching Responsibility" %>
				</div>
				<div class="col-xs-4 col-xs-offset-1">
					<%= f.input	:years_on_staff, label:  "Years on staff (e.g. 4,5, etc.)" %>
				</div>
		    </div>
	        <div id="loading">
	          <div id="loadingcontent">
	              <p id="loadingspinner">
	                  Updating Coach Info ....
	              </p>
	          </div>
	        </div>
		    <div class="row">
				<div class="col-xs-8">
					<%= f.input	:bio,	as: :text, hint:	"Some info about the coach", required: false, 
								input_html: { style: 'width: 800px;height: 100px' } %>
				</div>
			</div>
			<p>
			<div class="row">
		        <div class="col-xs-4">
					<% if @coach.team_id.nil? %>
						Team: Unassigned
						<!--%= select("coachteam", "team", @sport.teams.collect{ |t| [t.team_name, t.id] }, { include_blank: true } ) %-->
					<% else %>
						<%= @sport.teams.find(@coach.team_id).team_name %>
						<!--%= @sport.teams.find(@coach.team).team_name %-->
        				<!--%= select("coachteam", "team", @sport.teams.collect{ |t| [t.team_name, t.id] }, selected: @sport.teams.find(@coach.team).id ) %-->
					<% end %>
					<%= f.input :team_id, collection: @sport.teams.collect{ |t| [t.team_name, t.id] }, input_html: { include_blank: true } %>
		        </div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4">
					<%= f.button :submit, 'Submit', class:	"btn btn-sm btn-primary", id: "submitbtn" %>
				</div>
			</div>
		<% end %>	
	</div>	
</div>
