<div class="row">
	<div class="col-xs-11">
		<%= form_for [@sport, @coach], :input_html => { :class => 'form-horizontal' } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="row">
				<div class="col-xs-2">
					<%= f.label :last_name, "Last Name" %>
					<%= f.text_field :lastname, class: 'form-control' %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= f.label :first_name, "First Name" %>
					<%= f.text_field :firstname, class: 'form-control' %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= f.label :middle_name, "Middle name" %>
					<%= f.text_field :middlename, class: 'form-control' %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<%= f.label "Coordinator, coach,, etc." %>
					<%= f.text_field :speciality, class: 'form-control' %>
				</div>
				<div class="col-xs-4 col-xs-offset-1">
					<%=f.label :years_on_staff,  "Years on staff" %>
					<%= f.text_field :years_on_staff, class: 'form-control' %>
				</div>
		    </div>
	        <div id="loading">
	          <div id="loadingcontent">
	              <p id="loadingspinner">
	                  Updating Coach Info ....
	              </p>
	          </div>
	        </div>
		    <div class="row">
				<div class="col-xs-9">
					<%= f.label "Some info about the coach" %>
					<%= f.text_area	:bio, class: 'form-control' %>
				</div>
			</div>
			<p>
			<div class="row">
		        <div class="col-xs-4">
					<% if @coach.team_id.nil? %>
						Team: Unassigned
						<!--%= select("coachteam", "team", @sport.teams.collect{ |t| [t.team_name, t.id] }, { include_blank: true } ) %-->
					<% else %>
						<%= @sport.teams.find(@coach.team_id).team_name %>
						<!--%= @sport.teams.find(@coach.team).team_name %-->
        				<!--%= select("coachteam", "team", @sport.teams.collect{ |t| [t.team_name, t.id] }, selected: @sport.teams.find(@coach.team).id ) %-->
					<% end %>
					<%= f.select :team_id, @sport.teams.collect{ |t| [t.team_name, t.id] }, { include_blank: true }, class: 'form-control' %>
		        </div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4">
					<%= f.submit 'Submit', class: "btn btn-sm btn-primary", id: "submitbtn" %>
				</div>
			</div>
		<% end %>	
	</div>	
</div>
