<% provide(:title, current_site.sitename + " " + @sport.name) %>
<p>
<% if !@coach.nil? %>
  <div class="row">
    <div class="span4">
      <% if @coach.processing %>
        <h4><em><font color="red">Processing Replacement Photo ...</font></em></h4>
      <% end %>
      <h4>Change Coach Image:</h4>
      <% if !@coach.processing? %> 
        <%= image_tag @coach.coachpic.url(:medium) %>
      <% else %>
        <%= image_tag 'Photo_Not_Available.jpg' %>
      <% end %>
      <%= s3_uploader_form callback_url: createcoachphoto_sport_coaches_path, callback_param: "coach[image_url]", 
                 key: "uploads/coachesphotos/#{@coach.id}/${filename}", id:  "myS3Uploader" do %>
          <%= file_field_tag :file %>
      <% end %>

      <script id="template-upload" type="text/x-tmpl">
        <div id="file-{%=o.unique_id%}" class="upload">
          {%=o.name%}
          <div class="progress"><div class="bar" style="width: 0%"></div></div>
        </div>
      </script>    
    </div>
  	<div class="span5">
      <div class="row">
    		<table class="table table-hover">
    			<thead> 
    				<tr>
    					<th>Last Name</th>
    					<th>First Name</th>
    					<th>Middle Name</th>
    					<th>Speciality</th>
    					<th>Experience</th>
    					<th>Coaches</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr>
    					<td><%= @coach.lastname %></td>
    					<td><%= @coach.firstname %></td>
    					<td><%= @coach.middlename %></td>
    					<td><%= @coach.speciality %></td>
    					<td><%= @coach.years_on_staff %></td>
              <% if @team.nil? %>
                <td>Unassigned</td>
              <% else %>
    					 <td><%= @team.team_name %></td>
              <% end %>
    				</tr>
    			</tbody>
    		</table>
      </div>
      <div class="row">
    		<h3>Coaches Bio:</h3><p>
    		<%= @coach.bio %>
      </div>
  	</div>
  </div><br/>      
  <div class="row">
    <div class="span4 offset5">
  		<% if isAdmin? or isTeamManager?(@coach) %>
        <%= link_to "Edit", edit_sport_coach_path(@sport, @coach),  class: "btn btn-medium btn-warning" %>&nbsp;
  			<%= link_to "Add News", new_sport_newsfeed_path(@sport),  class: "btn btn-medium btn-info" %>&nbsp;
      <% end %>
      <% if isAdmin? %>
        <%= link_to "Delete", sport_coach_path(@sport, @coach),  method:  :delete,  class: "btn btn-medium btn-danger", data: { confirm: "You sure?" } %>&nbsp;
  		<% end %>
    </div>
  </div>
  <p>
  <div class="row">
    <%= render "layouts/sponsor" %>
  </div>
<% else %>
  Coach does not exist
<% end %>