<% provide(:title, "Easy Sports Mobile - Upgrade Package") %>
<p>
<div class="row">
	<div class="col-xs-11">
		<h3>Current Eazesportz Package - <%= @order.package %></h3>

		<% if !@order.expiration.nil? %>
			<h3 class="text-danger">Order expires - <%= @order.expiration.strftime("%m/%d/%Y") %></h3>
		<% end %>

		<table class="table table-bordered">
			<thead>
				<th>Admin</th>
				<th>Site Name</th>
				<th>Package</th>
				<th>Price</th>
			</thead>
			<tbody>
				<tr>
					<td><%= User.find(@order.user_id).email %></td>
					<td><%= Sport.find(current_user.default_site).sitename %></td>
					<td><%= @order.package %></td>
					<td>$<%= @order.package == "Intermediate" ? @order.silver / 100.0 : @order.package == "Expert" ? @order.gold / 100.0 : 
							 @order.package == "Platinum" ? @order.platinum / 100.0 : 0.0 %></td>
				</tr>
			</tbody>
		</table>
		<h4>Upgrade:</h4>
		<p>
		<h5 class="text-success">
		<div class="row">
			<div class="col-xs-11">
				<%= render "sports/pricingtable", newuser: false %>
			</div>
		</div>
		</h5>
		<div class="well">
			<div class="row">
				<div class="col-xs-2">
						<h4 class="text-success">Novice</h4><h6 class="text-info">Home Page, News, Standings, Schedule, Scores, Roster, Player Profiles, Live stats, 1GB of storage for Photos and Video, Blog Support</h6>
				</div>
				<div class="col-xs-2">
						<h4 class="text-success">Intermediate</h4><h6 class="text-info">Upgrade storage to 5GB for Photos and Video - <font class="text-danger">Extend for one more year</font></h6>
				</div>
				<div class="col-xs-2">
						<h4 class="text-success">Expert</h4><h6 class="text-info">Upgrade Intermediate to Expert for this seasons for an additional $50</h6>
				</div>
				<div class="col-xs-2">
						<h4 class="text-success">Expert</h4><h6 class="text-info">Upgrade storage to 10GB for Photos and Video -  <font class="text-danger">Extend for one more year</font></h6>
				</div>
				<div class="col-xs-2">
						<h4 class="text-success">Platinum</h4><h6 class="text-info">Upgrade Expert to Platinum for this seasons for an additional $50</h6>
				</div>
				<div class="col-xs-2">
						<h4 class="text-success">Platinum</h4><h6 class="text-info">Upgrade storage to 15GB for Photos and Video -  <font class="text-danger">Extend for one more year</font></h6>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2">
					<%= link_to "Basic", new_sport_path, class: "btn btn-sm btn-primary" %>
				</div>
				<div class="col-xs-2">
					<%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), 
											new_payment_path(package: "Intermediate") %>
				</div>
				<div class="col-xs-2">
					<%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), 
											new_payment_path(package: "Intermediate to Expert") %>
				</div>
				<div class="col-xs-2">
					<%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), 
											new_payment_path(package: "Expert") %>
				</div>
				<div class="col-xs-2">
					<%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), 
											new_payment_path(package: "Expert to Platinum") %>
				</div>
				<div class="col-xs-2">
					<%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), 
											new_payment_path(package: "Platinum ") %>
				</div>
			</div>
		</div>
		</h6>
		<%= link_to "Cancel", sport_path(current_user.default_site), class: "btn btn-md btn-info" %>
	</div>
</div>
