<div class="row">
	<div class="col-xs-12">
		<%if site_owner?(@sport) or isTeamManager?(@gameschedule) %>
			<ul class="nav nav-pills">
				<li><%= link_to "Update Scoreboard", lacrosse_game_summary_sport_team_gameschedule_path(@sport, @team, @gameschedule, @lacrossgame) %></li>
			</ul>
		<% end %>
		<div class="well">
			<h3 class="text-center">
			<div class="row">
				<div class="col-xs-2">
					<%= image_tag get_tiny_team_logo(@sport, @team) %>
				</div>
				<div class="col-xs-2">
					<%= @team.mascot %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<h1 class="text-warning text-center">
						<%= @gameschedule.current_game_time %>
					</h1>
				</div>
				<div class="col-xs-2">
					<%= @gameschedule.opponent_mascot %>
				</div>
				<div class="col-xs-2 col-xs-offset-1">
					<%= image_tag opponentimage(@gameschedule) %>
					<% if site_owner?(@sport) or isTeamManager?(@gameschedule) %>
						<%= render 'uploadopponent' %>
					<% end %>
				</div>
			</div>
			</h3>
			<div class="row">
				<div class="col-xs-2">
					<h1 class="text-danger text-center"><%= @gameschedule.EditHomeScore ? @gameschedule.homescore : @homescores.inject{|sum,x| sum + x } %></h1>
				</div>
				<div class="col-xs-2 col-xs-offset-2">
					<h3>Period</h3>
				</div>
				<div class="col-xs-1">
					<h2 class="text-danger text-center"><%= @gameschedule.currentperiod %></h3>
				</div>
				<div class="col-xs-2 col-xs-offset-3">
					<h1 class="text-danger text-center"><%= @visitorscores.inject{|sum,x| sum + x } %></h1>
				</div>
			</div>
			</font>
			<p>
			<div class="row">
				<div class="col-xs-4">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<th>Player</th>
							<th>Time</th>
						</thead>
						<tbody>
							<tr>
								<% seconds = @gameschedule.lacross_game.home_penaltyone_seconds < 10 ? 
											'0' + @gameschedule.lacross_game.home_penaltyone_seconds.to_s :
											@gameschedule.lacross_game.home_penaltyone_seconds.to_s %>
								<td><%= @gameschedule.lacross_game.home_penaltyone_number %></td>
								<td><%= @gameschedule.lacross_game.home_penaltyone_minutes.to_s + ':' + seconds %></td>
							</tr>
							<tr>
								<% seconds = @gameschedule.lacross_game.home_penaltytwo_seconds < 10 ? 
											'0' + @gameschedule.lacross_game.home_penaltytwo_seconds.to_s :
											@gameschedule.lacross_game.home_penaltytwo_seconds.to_s %>
								<td><%= @gameschedule.lacross_game.home_penaltytwo_number %></td>
								<td><%= @gameschedule.lacross_game.home_penaltytwo_minutes.to_s + ':' + seconds %></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-xs-3">
				</div>
				<div class="col-xs-4">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<th>Player</th>
							<th>Penalty</th>
						</thead>
						<tbody>
							<% if !@visitorpenalties.nil? %>
								<% @visitorpenalties.each do |key, value| %>
									<td><%= key %></td>
									<td><%= value %></td>
								<% end %>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<h4>Game Summary</h4>
		<table class="table-striped table-bordered table-hover">
			<% for i in 0 .. 1 %>
				<thead>
					<th><%= i == 0 ? "Home" : "Visitors" %></th>
					<th>1st</th>
					<th>2nd</th>
					<th>3rd</th>
					<th>4th</th>
					<th>OT</th>
					<th>Total</th>
				</thead>
				<tbody>
					<td><%= i == 0 ? @team.mascot : @gameschedule.opponent_mascot %></td>
					<% if i == 0 %>
						<td><%= @homescores[0] %></td>
						<td><%= @homescores[1] %></td>
						<td><%= @homescores[2] %></td>
						<td><%= @homescores[3] %></td>
						<td><%= @homescores[4] %></td>
						<td><%= @homescores.inject{|sum,x| sum + x } %></td>
					<% else %>
						<td><%= @visitorscores[0] %></td>
						<td><%= @visitorscores[1] %></td>
						<td><%= @visitorscores[2] %></td>
						<td><%= @visitorscores[3] %></td>
						<td><%= @visitorscores[4] %></td>
						<td><%= @visitorscores.inject{|sum,x| sum + x } %></td>
					<% end %>
				</tbody>
			<% end %>
		</table>
	</div>
	<div class="col-xs-5 col-xs-offset-1">
		<div class="row">
			<%= link_to "Scoresheet", lacrossescoresheet_sport_team_gameschedule_path(@sport, @team, @gameschedule), class: "btn btn-sm btn-primary" %>
		</div>
		<p>
		<div class="row">
			<% if @gameschedule.lacross_game.visiting_team %>
				<h5 class="text-info">Visiting team roster.</h5>
				<% if user_signed_in? and isAdmin? %>
					<%= link_to @gameschedule.lacross_game.visiting_team.getname, selectvisitingteam_sport_team_gameschedule_path(@sport, @team, @gameschedule),
													class: "btn btn-sm btn-primary" %>
				<% else %>
					<%= @gameschedule.lacross_game.visiting_team.getname %>
				<% end %>
			<% else %>
				<%= link_to "Add Visiting Team", selectvisitingteam_sport_team_gameschedule_path(@sport, @team, @gameschedule), 
													class: "btn btn-sm btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<th>Last Play:</th>
			</thead>
			<tbody>
				<td><%= @gameschedule.lastplay %></td>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h4 class="text-info"><%= @team.mascot + " Statistics" %></h4>
		<%= render 'lacrosstats/lacrossestats', name: "Player", anobject: @gameschedule, playerstats: @playerstats %>
		<p>
		<%= render 'lacrosstats/lacrossestats', name: "", anobject: nil, playerstats: @homeplayertotals %>
		<p>
		<h4 class="text-info"><%= @gameschedule.opponent_mascot + " Statistics" %></h4>
		<%= render 'lacrosstats/lacrossestats', name: "Player", anobject: @gameschedule, playerstats: @visitorstats %>
	</div>
</div>
<%= render 'layouts/messagemodal', modalid: 'upgradestatsmodal', modaltitle: 'Upgrade for Stats', 
            messagetext: 'Click on "Manage Game Tracker Package" in Tools menu to upgrade!' %>

