<%= simple_form_for [@sport, @athlete, @stat, @specialteams] do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="row">
		<div class="span2">
			<%= f.input :punt_return, required: true, label: "Punt Returns" %>
		</div>
		<div class="span2 offset1">
			<%= f.input :punt_returntd, required: true, label: "Punt Return TD" %>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<%= f.input :punt_returnlong, required: true, label: "Longest Return" %>
		</div>
		<div class="span2 offset1">
			<%= f.input :punt_returnyards, required: true, label: "Punt Return Yards" %>
		</div>
	</div>
	<p>
	<div class="span2 offset2">
		<%= f.button :submit, 'Submit', class:	"btn btn-medium btn-primary" %>
	</div>
<% end %>
