<% if isTeamManager?(photo.team_id) %>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-2">
			As a team manager you click approve below to make the photos available to users. If you do not want to approve a photo, click on the photo to delete it.
		</div>
	</div>
<% end %>
<table class="table table-hover">
  <thead>
    <tr>
	    <th>Photo</th>
	    <th>Photo date</th>
	    <th>Photo Name</th>
	    <th>Team</th>
	    <th>Athletes</th>
	    <th>Game</th>
	    <% if @sport.name == "Football" %>
	    	<th>Play</th>
	    <% end %>
	    <th>Status</th>
	    <% if @sport.review_media? %>
    		<th>Approved?</th>
	    <% end %>
    	<th>Errors?</th>
    </tr>
  </thead>
	<ul class="homesites">
		<tbody>
		  <tr>
			<div class="row">
				<div class="col-xs-2">
				    <% if !photo.processing && !photo.thumbnail_url.nil? and !photo.pending %>
				      <td><%= link_to image_tag(photo.thumbnail_url, class: 'img-responsive'), sport_photo_path(@sport, photo) %>
					<% elsif !photo.original_url.nil? and !photo.pending %>
					  <td><%= link_to image_tag(photo.original_url, class: 'img-responsive'), sport_photo_path(@sport, photo) %>
				    <% else %>
				      <td><%= image_tag('pending-stamp.png', class: 'img-responsive') %></td>
				    <% end %>
				</div>
			</div>

		    <td><%= photo.updated_at.localtime.strftime("%m/%d/%Y %H:%M:%S") %></td>

		    <% if !photo.pending %>
		    	<td><%= link_to photo.displayname, sport_photo_path(@sport, photo) %></td>
		    <% else %>
		    	<td><%= photo.displayname %></td>
		    <% end %>

		  	<% if !photo.team_id.nil? %>
		  		<td><%= @sport.teams.find(photo.team_id).team_name %></td>
			<% else %>
				<td></td>
			<% end %>

		    <% if !photo.players.nil? and photo.players.any? %>
			    <td>
			      <% photo.players.each do |p| %>
			      	<%= @sport.athletes.find(p).full_name %><p>
			      <% end %>
			    </td>
		    <% else %>
		    	<td></td> 
		    <% end %>

			<% if !photo.gameschedule.nil? and !photo.gameschedule.blank? %>
		    	<td><%= @sport.teams.find(photo.team_id).gameschedules.find(photo.gameschedule).game_name %></td>
			<% else %>
				<td></td>
			<% end %>

			<% if @sport.name == "Football" and !photo.gamelog.nil? and !photo.gamelog.blank? %>
				<td><%= @sport.teams.find(photo.team_id).gameschedules.find(photo.gameschedule).gamelogs.find(photo.gamelog).logentrytext %></td>
			<% end %>

		    <% if photo.processing? %>
		      <td>Processing</td>
		    <% else %>
		      <td>Complete</td>
		    <% end %>

		    <% if @sport.review_media? %>
			    <% if photo.pending and user_signed_in? and isTeamManager?(photo.team_id) %>
			    	<td><%= link_to "Approve?", approval_sport_photo_path(@sport, photo), class: "btn btn-xs btn-primary" %></td>
			    <% else %>
			    	<td><%= photo.pending ? "Pending Approval" : "Approved" %></td>
			    <% end %>
		    <% end %>

		    <% if photo.error_status? %>
		    	<td><%= link_to photo.error_status, errors_sport_photo_path(@sport, photo) %>
		    <% else %>
		    	<td>None</td>
		    <% end %>
		  </tr>
		</tbody>
	</ul>
</table>
