<% provide(:title, current_site.sitename + " " + @sport.name + " - Photos") %>
<script>
  $(document).ready(function() {
    $('#select_game').change(function() {
      $.ajax({
        url: "<%= updategamelogs_sport_photos_path %>",
        data: {
          gameid : $('#select_game').val()
        },
        dataType: "script"
      });
    });
  });
</script>
<p> 
<div class="row">
	<div class="col-xs-11">
	    <%= form_tag sport_photos_path, class: "form-horizontal", method: 'get' do %>
	    	<%= hidden_field_tag :team_id, @team.id %>
		    <div class="row">
				<div class="col-xs-4">
		          	<%= label_tag "Game: " %>
		      		<%= collection_select(:game, :id, @gameschedules, :id, :game_name, { include_blank: true }, 
		      						{ id: "select_game", class: 'form-control' } ) %>
				</div>
				<div class="col-xs-4">
		          	<%= label_tag "Play: " %>
		      		<%= collection_select(:gamelog, :id, @gamelogs, :id, :logentrytext, { include_blank: true }, 
		      						{ id: "gamelogs_select", class: 'form-control' } ) %>
				</div>
		        <div class="col-xs-1">
		          	<%= label_tag "Number: " %>
		      		<%= select(:number, :id, @sport.athletes.collect{ |t| [t.number, t.id] }, { include_blank: true },  class: 'form-control'  ) %>
		        </div>
			</div>
			<div class="row">
		        <div class="col-xs-4">
		          	<%= label_tag "Player Name: " %>
		      		<%= select(:athlete, :id, @sport.athletes.collect{ |t| [t.name, t.id] }, { include_blank: true },  class: 'form-control'  ) %>
		        </div>
				<% if user_signed_in? %>
					<div class="col-xs-2">
			          	<%= label_tag "My Photos: " %>
			      		<%= check_box_tag "username", '1' %>
					</div>
				<% end %>
		    </div>
			<br/>
		    <div class="row">
		        <div class="col-xs-1 col-xs-offset-3">
		          <%= submit_tag  "Search", class: "btn btn-sm btn-primary", name: nil %>
		        </div>
				<div class="col-xs-2 col-xs-offset-1">
					<% if !@team.nil? and user_signed_in? and (user_pics_ok? or isAdmin?) %>
						<%= link_to "Add Team Photo", newteam_sport_photo_path(@sport, @team), class: "btn btn-sm btn-primary" %>
					<% elsif !@athlete.nil? %>
						<%= link_to "Add Athlete Photo", newathlete_sport_photo_path(@sport, @athlete), class: "btn btn-sm btn-primary" %>
					<% end %>
				</div>
		    </div>
	    <% end %>
		<%= render @photos %>
  	</div>
	<div class="row">
		<div class="col-xs-3 col-xs-offset-4">
			<% if !@team.nil? and user_signed_in? and (user_pics_ok? or isAdmin?) %>
				<%= link_to "Add Team Photo", newteam_sport_photo_path(@sport, @team), class: "btn btn-sm btn-primary" %>
			<% elsif !@athlete.nil? %>
				<%= link_to "Add Athlete Photo", newathlete_sport_photo_path(@sport, @athlete), class: "btn btn-sm btn-primary" %>
			<% end %>
		</div>
	</div>
</div>