<% provide(:title, current_site.sitename + " " + @sport.name + " - Photos") %>
<p> 
<div class="row">
	<div class="span9 offset1">
	    <%= form_tag sport_photos_path, class: "form-horizontal", method: 'get' do %>
		    <div class="row">
		        <div class="span2">
		          	<%= label_tag "Team: " %>
		      		<%= select(:team, :id, @sport.teams.collect{ |t| [t.team_name, t.id] }, include_blank: true ) %>
		        </div>
				<% if !@team.nil? %>
					<div class="span2 offset1">
			          	<%= label_tag "Game: " %>
			      		<%= select(:game, :id, @team.gameschedules.collect{ |t| [t.game_name, t.id] }, include_blank: true ) %>
					</div>
				<% end %>
				<% if user_signed_in? %>
					<div class="span2 offset1">
			          	<%= label_tag "My Photos: " %>
			      		<%= check_box_tag "username", '1' %>
					</div>
				<% end %>
		    </div>
			<div class="row">
		        <div class="span2">
		          	<%= label_tag "Player Number: " %>
		      		<%= select(:number, :id, @sport.athletes.collect{ |t| [t.number, t.id] }, include_blank: true ) %>
		        </div>
		        <div class="span2 offset1">
		          	<%= label_tag "Player Name: " %>
		      		<%= select(:athlete, :id, @sport.athletes.collect{ |t| [t.name, t.id] }, include_blank: true ) %>
		        </div>
			</div>
			<br/>
		    <div class="row">
		        <div class="span1 offset3">
		          <%= submit_tag  "Search", class: "btn btn-medium btn-primary", name: nil %>
		        </div>
				<div class="span2 offset1">
					<% if !@team.nil? and user_signed_in? and user_pics_ok? %>
						<%= link_to "Add Team Photo", newteam_sport_photo_path(@sport, @team), class: "btn btn-medium btn-primary" %>
					<% elsif !@athlete.nil? %>
						<%= link_to "Add Athlete Photo", newathlete_sport_photo_path(@sport, @athlete), class: "btn btn-medium btn-primary" %>
					<% end %>
				</div>
		    </div>
	    <% end %>
		<%= render @photos %>
  	</div>
	<div class="row">
		<div class="span3 offset4">
			<% if !@team.nil? and user_signed_in? and user_pics_ok? %>
				<%= link_to "Add Team Photo", newteam_sport_photo_path(@sport, @team), class: "btn btn-medium btn-primary" %>
			<% elsif !@athlete.nil? %>
				<%= link_to "Add Athlete Photo", newathlete_sport_photo_path(@sport, @athlete), class: "btn btn-medium btn-primary" %>
			<% end %>
		</div>
	</div>
</div>