<% provide(:title, current_site.sitename + " " + @sport.name + " - Photos") %>
<script>
  $(document).ready(function() {
    $('#select_game').change(function() {
      $.ajax({
        url: "<%= updategamelogs_sport_photos_path %>",
        data: {
          gameid : $('#select_game').val()
        },
        dataType: "script"
      });
    });
  });
</script>
<p> 
<div class="row">
	<div class="col-xs-11">
		<%= render @photos %>
		<%= will_paginate @photos %>
  	</div>
	<div class="row">
		<div class="col-xs-3 col-xs-offset-4">
			<% if !@team.nil? and user_signed_in? and (user_pics_ok? or site_owner?) %>
				<%= link_to "Add Team Photo", newteam_sport_photo_path(@sport, @team), class: "btn btn-sm btn-primary" %>
			<% elsif !@athlete.nil? %>
				<%= link_to "Add Athlete Photo", newathlete_sport_photo_path(@sport, @athlete), class: "btn btn-sm btn-primary" %>
			<% end %>
		</div>
	</div>
</div>