<% provide(:title, current_site.sitename + " - " + @photo.displayname ) %>
<p>
<div class="row">   
  <div class="span10">
		<%= render 'shared/error_messages', object:	@photo %>
	</div>
</div>
<div class="row">
	<div class="span8 offset1">
  	<% if @photo.original_url.nil? %> 
  		<%= image_tag 'Photo_Not_Available.jpg' %>
    <% elsif @photo.large_url.nil? %>
      <%= image_tag(@photo.original_url) %>
    <% else %>
  		<%= image_tag(@photo.large_url) %>
  	<% end %>
  </div>
</div><br/>
<div class="row">
	<div class="span6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Photo Name</th>
          <th>Team</th>
          <th>Athletes</th>
          <th>Game</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @photo.displayname %></td>
		  	<% if !@photo.teamid.nil? %>
          		<td><%= @sport.teams.find(@photo.teamid).team_name %></td>
			<% else %>
				<td></td>
			<% end %>
          <% if !@photo.players.nil? and @photo.players.any? %>
	          <td>
	            <% @photo.players.each do |p| %>
	            	<%= link_to Athlete.find(p).full_name, sport_athlete_path(@sport, p) %><p>
	            <% end %>
	          </td>
          <% else %>
            	<td></td>
          <% end %>
		  <% if !@photo.schedule.nil? and !@photo.schedule.blank? %>
          		<td><%= @sport.teams.find(@photo.teamid).gameschedules.find(@photo.schedule).game_name %></td>
		  <% else %>
				<td></td>
		  <% end %>
          <td><%= @photo.updated_at.strftime("%m/%d/%Y") %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span3 offset1">
    <h4>Photo Description:<br/><p>
    <%= @photo.description %></h4>
  </div>
</div>
<br/>
<div class="row">
  <div class="span5 offset4">
    <% if isAdmin? or (user_signed_in? and (current_user.id == @photo.owner) and enable_user_pics? ) %>
      <%= link_to	"Edit Photo", edit_sport_photo_path(@sport, @photo), class:	"btn btn-medium btn-primary" %>
    <% end %>
  </div>
</div>
