<table class="table table-hover">
  <thead>
    <tr>
		<th>Video Clip</th>
		<th>Date</th>
		<th>Name</th>
		<th>Team</th>
		<th>Athletes</th>
		<th>Game</th>
		<% if @sport.name == "Football" %>
			<th>Play</th>
		<% end %>
	    <% if @sport.review_media? %>
    		<th>Approved?</th>
	    <% end %>
		<th>Errors?</th>
    </tr>
  </thead>
		<tbody>
		  <tr>
			<div class="row">
				<div class="col-xs-12">
				    <% if !videoclip.poster_url.nil? and !videoclip.pending %>
				    	<td><%= link_to image_tag(videoclip.poster_url, :height => '200', :width => '400'), sport_videoclip_path(@sport, videoclip) %>
				    <% else %>
				    	<td><%= image_tag('VideoNotAvailable.jpg') %></td>
				    <% end %>
				</div>
			</div>

		    <td><%= videoclip.updated_at.strftime("%m/%d/%Y %H:%M:%S") %></td>

		    <% if !videoclip.pending %>
		    	<td><%= link_to videoclip.displayname, sport_videoclip_path(@sport, videoclip) %></td>
		    <% else %>
		    	<td><%= videoclip.displayname %></td>
		    <% end %>

		  	<% if !videoclip.teamid.nil? %>
		  		<td><%= @sport.teams.find(videoclip.teamid).team_name %></td>
			<% else %>
				<td></td>
			<% end %>

		    <% if !videoclip.players.nil? and videoclip.players.any? %>
			    <td>
			      <% videoclip.players.each do |p| %>
			      	<%= @sport.athletes.find(p).full_name %><p>
			      <% end %>
			    </td>
		    <% else %>
		    	<td></td> 
		    <% end %>

			<% if !videoclip.gameschedule.nil? and !videoclip.gameschedule.blank? %>
		    	<td><%= @sport.teams.find(videoclip.team_id).gameschedules.find(videoclip.gameschedule).game_name %></td>
			<% else %>
				<td></td>
			<% end %>

			<% if @sport.name == "Football" and !videoclip.gamelog.nil? and !videoclip.gamelog.blank? %>
				<td><%= @sport.teams.find(videoclip.team_id).gameschedules.find(videoclip.gameschedule).gamelogs.find(videoclip.gamelog).logentrytext %></td>
			<% end %>

		    <% if @sport.review_media? %>
			    <% if videoclip.pending and user_signed_in? and isTeamManager?(videoclip.team_id) %>
			    	<td><%= link_to "Approve?", approval_sport_videoclip_path(@sport, videoclip), class: "btn btn-xs btn-primary" %></td>
			    <% else %>
			    	<td><%= videoclip.pending ? "Pending Approval" : "Approved" %></td>
			    <% end %>
		    <% end %>

		    <td><%= videoclip.error_status %>
		  </tr>
		</tbody></table>
