<% provide(:title, current_site.sitename + " " + @sport.name + " - Edit Video") %>
<p>
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<%= image_tag @videoclip.poster_url, class: 'img-responsive' %>
  	</div>
</div>
<p>
<script>
  $(document).ready(function() {
    $('#select_team').change(function() {
      $.ajax({
        url: "<%= updategameschedule_sport_videoclips_path %>",
        data: {
          teamid : $('#select_team').val()
        },
        dataType: "script"
      });
    });
  });
</script>
<div class="row">
  <div class="col-xs-12">
    <%= form_for [@sport, @videoclip], :input_html => { :class => "form-horizontal" }  do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
	      <div class="row">
	        <div class="col-xs-4">
	        	<%= f.label "Tag video for team" %>
				<%= f.select :team_id, @teams.collect{ |t| [t.team_name, t.id] }, { include_blank: true }, {id: "select_team", class: 'form-control' }  %>
	        </div>
	        <div class="col-xs-6">
		        Current athletes tagged:&nbsp
				<% if @athlete_tags.empty? %>
					<h4>None</h4>
				<% else %>
			        <% @athlete_tags.each do |a| %>
			            <%= a.full_name %>
			        <% end %>
				<% end %>
	        </div>
	      </div>
			<br/>
		 <div class="row">
				<div class="col-xs-4">
					<%= f.label "Tag game" %>
					<%= f.select :gameschedule_id, @gameschedules.collect{ |t| [t.game_name, t.id] }, { include_blank: true }, 
								{ id: "gameschedules_select", class: 'form-control' } %>
				</div><p>
	        <div class="col-xs-4">
	          Tag athletes:&nbsp<br/>
				<!--%= f.input :athlete, collection: @athletes.collect{ |t| [t.full_name, t.id] }, label: "Tag athletes", prompt: "Tag Athlete", hint: "Tag athletes" %-->
	    		<%= collection_select(:athlete,	:id, @athletes, :id, :full_name, { prompt: "Tag Athlete" }, 
	    								{ id: "athletes_select", class: 'form-control' } ) %>
	        </div>
	      </div>
	      <% if @sport.name == "Football" or @sport.name == "Lacrosse" %>
			   <div class="row">
			        <div class="col-xs-4">
					    <h5>Play Tagging:</h5>
					    
			   			<% if @videoclip.gameschedule_id.nil? %>
							No game tagged. Tag game before tagging play!
						<% elsif (@sport.name == "Football" and @gamelogs.empty?) or (@sport.name == "Lacrosse" and @scores.empty?) %>
							No scoring plays to tag
						<% else %>
		   				 	<%= f.label :tag_play, "Tag Play" %>

		   					<% if @sport.name == "Football" %>
				    			<%= f.select :gamelog_id, @gamelogs.collect{ |t| [t.logentrytext, t.id] }, { include_blank: true },
				    					{ id: "gamelogs_select", class: 'form-control' } %>
					    	<% elsif @sport.name == "Lacrosse" %>
					    		<%= f.select :lacross_scoring_id, @scores.collect{ |t| [t.scorelog, t.id] }, { include_blank: true }, 
					    														{ id: "gamelogs_select", class: 'form-control' } %>
					    	<% end %>

						<% end %>
		        	</div>
		      </div>
		  <% end %>
	      <p>
	      <div class="row">
			<div class="col-xs-4">
				<%= f.label "Name" %>
				<%= f.text_field :displayname, class: 'form-control' %>
        	</div>
        </div>
        <p>
        <div class="row">
			<div class="col-xs-12">
				<%= f.label "Description" %>
				<%= f.text_area :description, class: "form-control" %>
			</div>
			</div><br/>
			<div class="row">
				<div class="col-xs-1 col-xs-offset-3">
					<%= f.submit :submit, class:	"btn btn-sm btn-primary" %>
			</div>
        	<% if isAdmin? || (user_signed_in? && (current_user.id == @videoclip.owner)) %>
	          <div class="row">
	            <div class="col-xs-1 col-xs-offset-1">
	              <%= link_to "Delete", sport_videoclip_path(@sport, @videoclip), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "You sure?" }%>
	            </div>
	          </div>
        	<% end %>
			</div>
		<% end %>	
	</div>
	<p>
    <div class="row">
    	<div class="col-xs-10 col-xs-offset-1">
			Untag athlete:
    		<%= simple_form_for @videoclip, url: untagathlete_sport_videoclips_path(@sport), html: { method: :post}, html: { method: :post}, 
							:defaults => { :input_html => { :class => "form-control" } } do |f| %>
    			<p>
          		<%= f.hidden_field :id, value: @videoclip.id %>
          		<div class="row">
          			<div class="col-xs-4">
    					<%= collection_select(:athlete,	:name,	@athlete_tags, :id, :full_name, { prompt: "Tag Athlete" }, 
	    							{ id: "athletes_select", class: 'form-control' }) %>
   					</div>
          			<div class="col-xs-2">
    					<%= f.button :submit, 'Untag', class:	"btn btn-sm btn-warning" %>
    				</div>
    			</div>
    		<% end %>
    	</div>
    </div>
</div>
