<% provide(:title, current_site.sitename + " Videoclips" ) %>
<script>
  $(document).ready(function() {
    $('#select_game').change(function() {
      $.ajax({
        url: "<%= updategamelogs_sport_videoclips_path %>",
        data: {
          gameid : $('#select_game').val()
        },
        dataType: "script"
      });
    });
  });
</script>
<p> 
<p>
<div class="row">
    <div class="col-xs-11">
        <%= form_tag sport_videoclips_path, class: "form-horizontal", method: 'get' do %>
            <%= hidden_field_tag :team_id, @team.id %>
            <div class="row">
                <div class="col-xs-2">
                    <%= label_tag "Game: " %>
                    <%= collection_select(:game, :id, @gameschedules, :id, :game_name, { include_blank: true }, { id: "select_game", class: 'form-control' } ) %>
                </div>
                <div class="col-xs-4">
                    <%= label_tag "Play: " %>
                    <%= collection_select(:gamelog, :id, @gamelogs, :id, :logentrytext, { include_blank: true }, 
                                            { id: "gamelogs_select", class: 'form-control'  } ) %>
                </div>
                <div class="col-xs-2">
                    <%= label_tag "Player Number: " %>
                    <%= select(:number, :id, @sport.athletes.collect{ |t| [t.number, t.id] }, { include_blank: true }, { class: 'form-control' } ) %>
                </div>
                <div class="col-xs-2">
                    <%= label_tag "Player Name: " %>
                    <%= select(:athlete, :id, @sport.athletes.collect{ |t| [t.name, t.id] }, { include_blank: true }, { class: 'form-control' } ) %>
                </div>
            </div>
            <div class="row">
                <% if user_signed_in? %>
                    <div class="col-xs-2">
                        <%= label_tag "My Video Clips: " %>
                        <%= check_box_tag "username" %>
                    </div>
                <% end %>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-1 col-xs-offset-3">
                  <%= submit_tag  "Search", class: "btn btn-sm btn-primary", name: nil %>
                </div>
                <div class="col-xs-3 col-xs-offset-1">
                    <% if !@team.nil? and user_signed_in? and (user_pics_ok? or isAdmin?) %>
                        <%= link_to "Add Team Video Clip", newteam_sport_videoclip_path(@sport, @team), class: "btn btn-sm btn-primary" %>
                    <% end %>
                </div>
            </div>
        <% end %>
        <%= render @videoclips %>
    </div>
    <div class="row">
        <div class="col-xs-3 col-xs-offset-5">
            <% if !@team.nil? and user_signed_in? and (user_pics_ok? or isAdmin?) %>
                <%= link_to "Add Team Video Clip", newteam_sport_videoclip_path(@sport, @team), class: "btn btn-sm btn-primary" %>
            <% end %>
        </div>
    </div>
</div>
