<% provide(:title, current_site.sitename + " " + @sport.name + " - New Photo") %>
<p>
<div class="row">
	<div class="col-xs-12">
		<h3>
		<% if @team %>
			<%= @team.team_name %>
		<% elsif @athlete %>
			<%= @athlete.full_name %>
		<% elsif @gameschedule %>
			<%= @gameschedule.game_name %>
		<% end %>
		&nbsp- Videos uploaded in last 24 hours:</h3>
	</div>
</div>
<div id="videoclips">
    <%= render @videoclips %>
</div>
<div class="clear">
</div>
<p>
<div class="row">
	<div class="col-xs-12">
    <br/>
    <h4>Upload Video Clips.</h4><p><p>
      	Video clip should already be processed as h.264 in an MP4 container with AAC audio which is what iPhone, iPad and other mobile devices expect. This will also allow the video to be played in all HTML5 browsers. Use our highlights manager to process your video. It supports game, player and play tagging and automatically uploads the video for you!
      	<p>
      	<%= image_tag "clientapps/HighlightManager.png", class: 'img-responsive' %>
		<p>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-5">
				<%= link_to "Download Now", "http://Game Tracker.s3.amazonaws.com/Game TrackerHighlights.dmg", class: "btn btn-lg btn-primary" %>
			</div>
		</div>
		<p>
		You can use this page to upload videos if you have existing clips and don't want to import them into our highlights manager app.
	<h4 class="text-warning">
		<% if !@team.nil? %>
			Uploaded video clips will be tagged for team <em><%= @team.team_name %></em>
		<% elsif !@athlete.nil? %>
			Uploaded video clips will be tagged for player <em><%= @athlete.name %></em>
			<% if @athlete.team != "Unassigned" %>
				and for team <em><%= @sport.teams.find(@athlete.team_id).team_name %></em>
			<% end %>
		<% end %>
	</h4>
    
    <%= s3_uploader_form callback_url: sport_videoclips_url, callback_param: "videoclip[image_url]", 
    					 key: "uploads/videoclips/#{@id}/#{@prefix}/${filename}", id:  "myS3Uploader" do %>
      <%= file_field_tag :file, multiple: true, class: 'form-control' %>
    <% end %>
    
	<script id="template-upload" type="text/x-tmpl">
		<div id="file-{%=o.unique_id%}" class="upload">
		  {%=o.name%}
		  <div class="progress"><div class="bar" style="width: 0%"></div></div>
		</div>
	</script>    
  </div>
</div>