<% provide(:title, current_site.sitename + " - " + @videoclip.displayname ) %>
<p>
<h4>Video - <%= @videoclip.displayname %></h4>
</p>
<div class="row">   
    <div class="col-xs-10 col-xs-offset-2">
        <video width="640" height="360" poster= "<%= image_path @videoclip.poster_url %>" controls="controls">
            <source src= <%= image_path(@videoclip.video_url) %> type="video/mp4">
        </video>
    </div>
</div>
<script>
// using jQuery
$('video,audio').mediaelementplayer({
        alwaysShowControls: false,
        videoVolume: 'horizontal',
        features: ['playpause','progress','current', 'duration', 'tracks', 'volume','fullscreen']
//        iPhoneNativeControls: true
    });
</script>
<br/>
<div class="row">
	<div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Video Name</th>
          <th>Team</th>
          <th>Athletes</th>
          <th>Game</th>
          <% if @sport.name == "Football" %>
            <th>Play</th>
          <% end %>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @videoclip.displayname %></td>
    		  <% if !@videoclip.team_id.nil? %>
            <td><%= @sport.teams.find(@videoclip.team_id).team_name %></td>
    			<% else %>
    				<td></td>
    			<% end %>
          <% if !@videoclip.players.nil? and @videoclip.players.any? %>
	          <td>
	            <% @videoclip.players.each do |p| %>
	            	<%= link_to Athlete.find(p).full_name, sport_athlete_path(@sport, p) %><p>
	            <% end %>
	          </td>
          <% else %>
            	<td></td>
          <% end %>
    		  <% if !@videoclip.gameschedule.nil? and !@videoclip.gameschedule.blank? %>
              		<td><%= @sport.teams.find(@videoclip.team_id).gameschedules.find(@videoclip.gameschedule).game_name %></td>
    		  <% else %>
    				<td></td>
    		  <% end %>
          <% if @sport.name == "Football" and !@videoclip.gamelog.nil? and !@videoclip.gamelog.blank? %>
                  <td><%= @sport.teams.find(@videoclip.team_id).gameschedules.find(@videoclip.gameschedule).gamelogs.find(@videoclip.gamelog).logentrytext %></td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= @videoclip.updated_at.strftime("%m/%d/%Y") %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-3">
    <h4> Description:</h4><br/><p>
    <%= @videoclip.description %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-xs-1 col-xs-offset-5">
    <% if isAdmin? or (user_signed_in? and (current_user.id == @videoclip.user_id) and enable_user_pics? ) %>
      <%= link_to "Edit ", edit_sport_videoclip_path(@sport, @videoclip), class:	"btn btn-md btn-primary" %>
    <% end %>
  </div>
</div>
<p>
