<div class="row">
	<div class="col-xs-10">
		<h5><font color="blue">Adjust stats here. If you want to adjust a score, use the game page to delete the game log. Stats will be automatically adjusted when you remove the score.</font></h5>
	</div>
</div>
<%= hidden_field_tag "livestats", value="Adjust" %>
<%= hidden_field_tag "gameschedule_id", value=@fbpassing.gameschedule_id.to_s %>
<div class="row">
	<div class="col-xs-4">
		Completions: <p class="text-info"><%= @fbpassing.completions %></p>
        <%= label_tag "Remove completion: " %>
        <%= check_box_tag "comp", '1' %>
	</div>
	<div class="col-xs-4 col-xs-offset-1">
        <%= label_tag "Remove completion from: " %>
		<%= select_tag "receiver", options_from_collection_for_select(@sport.athletes.where(team_id: @athlete.team_id), "id", "full_name"),
									include_blank: true, class: 'form-control' %>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
        <%= label_tag "First Down: " %>
        <%= check_box_tag "fd", '1' %>
	</div>
	<div class="col-xs-2 col-xs-offset-1">
        <%= label_tag "Delete Yards: " %>
        <%= text_field_tag "yards", '0', class: 'form-control' %>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-4">
        <%= label_tag "Remove Receiver Fumble: " %>
        <%= check_box_tag "rec_fumble", '1' %>
	</div>
	<div class="col-xs-4 col-xs-offset-1">
        <%= label_tag "Remove Receiver Fumble Lost?: " %>
        <%= check_box_tag "rec_fumble_lost", '0' %>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-3">
		<h5>QB First Downs: <font color="blue"><%= @fbpassing.firstdowns %></font></h5>
        <%= label_tag "Click to remove first down: " %>
        <%= check_box_tag 'fd', '1' %>
	</div>
	<div class="col-xs-3 col-xs-offset-1">
		<h5>QB Interceptions: <font color="blue"><%= @fbpassing.interceptions %></font></h5>
        <%= label_tag "Interception: " %>
        <%= check_box_tag "int", '1' %>
	</div>
	<div class="col-xs-3 col-xs-offset-1">
		<h5>QB Sacks: <font color="blue"><%= @fbpassing.sacks %></font></h5>
        <%= label_tag "Remove Sack: " %>
        <%= check_box_tag 'sack', '1' %>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-2">
		<h5>QB Lost Yards: <font color="blue"><%= @fbpassing.yards_lost %></font></h5>
        <%= label_tag "Add to lost yards: " %>
        <%= text_field_tag "yards_lost", '0', class: 'form-control' %>
	</div>
</div>
<div class="row">
</div>					
<p>
<div class="row">
	<div class="col-xs-1 col-xs-offset-4">
		<%= submit_tag 'Submit', class:	"btn btn-sm btn-primary" %>
	</div>
</div>
