<%= simple_form_for [@sport, @athlete, @stat, @fbpassing] do |f| %>
	<%= render 'shared/error_messages', object: @fbpassing %>
	<div class="row">
		<div class="span2">
			<%= f.input :attempts, label: "Passing Attempts", required: true %>
		</div>
		<div class="span2 offset1">
			<%= f.input :completions, required: true %>
		</div>
		<div class="span2 offset1">
			<%= f.input :yards, required: true %>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<%= f.input :td, label: "Touchdowns" %>
		</div>
		<div class="span2 offset1">
			<%= f.input :interceptions %>
		</div>
		<div class="span2 offset1">
			<%= f.input :sacks %>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<%= f.input :yards_lost, label: "Yards Lost" %>
		</div>
		<div class="span4 offset1">
			<%= f.input :twopointconv,  label: "Enter Number of 2 point conversions" %>
		</div>
	</div>
	<p>
	<div class="span2 offset3">
		<%= f.button :submit, 'Submit', class:	"btn btn-medium btn-primary" %>
	</div>
<% end %>
