<tbody>
	<% if name.kind_of?(Athlete) %>
		<td><%= link_to name.logname, [@sport, name] %></td>
	<% elsif name.kind_of?(Gameschedule) %>
		<td><%= link_to ("vs " + name.opponent), [@sport, @sport.teams.find(name.team_id), name] %></td>
	<% else %>
		<td><%= name %></td>
	<% end %>
	<td><%= stat.attempts %></td>
	<td><%= stat.completions %></td>
	<td><%= number_with_precision(stat.comp_percentage, precision: 2) %></td>
	<td><%= stat.yards %></td>
	<td><%= stat.td %></td>
	<td><%= stat.firstdowns %></td>
	<td><%= stat.interceptions %></td>
	<td><%= stat.sacks %></td>
	<td><%= stat.yards_lost %></td>
	<td><%= stat.twopointconv %></td>
	<% if FootballPassing.find(stat.id).nil? and isAdmin? or isTeamManager?(player.team_id) and name != "Totals" %>
		<td><%= link_to "Edit", new_sport_athlete_football_passing_path(@sport, player, gameschedule_id: stat.gameschedule_id), class: "btn btn-mini btn-primary"%></td>
	<% elsif name != "Totals" %>
		<td><%= link_to "Edit", edit_sport_athlete_football_passing_path(@sport, player, stat), class: "btn btn-mini btn-primary"%></td>
	<% else %>
		<td></td>
	<% end %>
</tbody>
