<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span9 offset1">
		<p>
		<!--%= render 'tabs_game' %-->
		<p>
		<h4>Passing game statistics for <%= link_to @athlete.full_name, [@sport, @athlete] %> for <%= @stat.gameschedule.game_name %></h4>
		<p>
		<table class="table table-bordered">
			<em>
			<thead>
				<th>Passing Attempts</th>
				<th>Passing Completions</th>
				<th>Completion Percentage</th>
				<th>Passing Yards</th>
			</thead>
			</em>
			<tbody>
				<td><%= @fbpassing.attempts %></td>
				<td><%= @fbpassing.completions %></td>
				<td><%= number_with_precision(@fbpassing.comp_percentage, precision: 2) %></td>
				<td><%= @fbpassing.yards %></td>
			</tbody>
		</table>
		<table class="table table-bordered">
			<thead>
				<th>Passing TD</th>
				<th>Interceptions</th>
				<th>Sacks</th>
				<th>Yards Lost</th>
				<th>Two Point Conv</th>
			</thead>
			<tbody>
				<td><%= @fbpassing.td %></td>
				<td><%= @fbpassing.interceptions %></td>
				<td><%= @fbpassing.sacks %></td>
				<td><%= @fbpassing.yards_lost %></td>
				<td><%= @fbpassing.twopointconv %></td>
			</tbody>
		</table>
		<% if isAdmin? or isTeamManager?(@athlete) %>
			Select <strong>Add Passing Attempt</strong> below to enter real time stats during a game. You can still use this page to add stats that have already been totalled. Use this page to make adjustments to the totals.
			<p>
			<div class="span6 offset2">
				<%= link_to "Add Passing Attempt", add_sport_athlete_football_stat_football_passing_path(@sport, @athlete, @stat, @fbpassing), 
							class: "btn btn-mini btn-primary" %>
				<%= link_to "Edit", edit_sport_athlete_football_stat_football_passing_path(@sport, @athlete, @stat, @fbpassing), 
							class: "btn btn-mini btn-primary" %>
				<%= link_to "Delete", sport_athlete_football_stat_football_passing_path(@sport, @athlete, @stat, @fbpassing), method: :delete, 
							class: "btn btn-mini btn-danger", data: { confirm: "You sure?" } %>
			</div>
		<% end %>
	</div>
</div>
<div class="row">
	<%= render "layouts/sponsor" %>
</div>