<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span2">
		<%= link_to image_tag(@athlete.pic.url(:thumb)), sport_athlete_path(@sport, @athlete) %>
	</div>
	<div class="span6">
		<h4>Passing game statistics for <%= link_to(@athlete.full_name, sport_athlete_path(@sport, @athlete)) %></h4>
	</div>
</div>
<p>
<div class="row">
	<div class="span10">
		<table class="table table-bordered">
			<em><%= render "stat_header", name: "Game" %></em>
			<%= render "stat_body", stat: @fbpassing, player: @athlete, name: @gameschedule %>
		</table>
	</div>
</div>
<div class="row">
	<div class="span2 offset4">
		<%= link_to "Totals", sport_athlete_football_passings_path(@sport, @athlete, gameschedule_id: @fbpassing.gameschedule_id), 
			class: "btn btn-medium btn-primary"%>
	</div>
</div>
<div class="row">
	<%= render "layouts/sponsor" %>
</div>