<script type="text/javascript">
   $(document).ready(function() {
     $('.playerselect').multiselect({
       nonSelectedText: 'You have not selected any players'
     });
   });
 </script>
<div class="modal" id="<%= modalid %>">
	<div class="modal-dialog">
      	<div class="modal-content">
        	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          		<h4 class="modal-title">Add Players</h4>
        	</div>
        	<div class="modal-body">
        		<%= form_for [@sport, @team, @gameschedule, @soccer_game], class: "form-horizontal" do |f| %>
        			<%= f.hidden_field :home, value: home %>
                    <%= label_tag 'Select Players' %>
                    <!--%= f.select :homeplayers, options_for_select(players.collect{ |x| [x.numlogname, x.id] } ), {},
                                            { class: 'multiselect', multiple: true } %-->
                    <%= select_tag :players, options_for_select(players.collect{ |x| [x.numlogname, x.id] } ), { class: 'playerselect', multiple: true } %>
                    <p>
                    <div class="row">
                        <div class="col-xs-2 col-xs-offset-5">
                            <%= submit_tag "Submit", class: 'btn btn-primary' %>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-default">Close</a>
            </div>
        </div>
    </div> 
</div>