<p>
<font color="#b3f10c">
<div class="row">
	<div class="span10">
		<h4>
	 	<ul>
			<li>Create and manage your athletic site in the cloud and make the content avaiable via our mobile app!</li>
			<li>Make Photos and Videos available to your users!</li>
			<li>Mobile apps for iPhone and iPad are available for most sports.</li>
			<!--li><%= link_to "Click Here for more information and screen shots of what our mobile apps look like", mobileinfo_sites_path %></li-->
			<li>Provide advanced features for your users:</li>
			<ul>
				<li>Allow them to follow their favorite players.</li>
				<li>Have your users contribute video and pics. You can also set up the site so all pics need to be approved prior to posting.</li>
				<li>Provide stats by player. Stats are available to your users in real time and can be accessed from your mobile app!</li>
				<li>Update stats from our iPad app in real time. Sports that have a stat package will be listed on the Sports creation page.</li>
			</ul>
			<!--li>Stream your games live from your site! This will require additional setup but we can show you how!</li--><br/>
		</ul>
		You can use the site for your program or simply use the site to so your fans can access the content from our mobile application. We can map your domain name to the web site you create if you choose to use the site for your program in addition to offering your users mobile applications. The choice is yours.
		</h4>
		<p>
		<h3><em>Sponsors and Ads:</em></h3>
		<p>	
		<h4>
			The mobile app will serve ads to your users via the Apple iAD network. You can enter your sponsors ads using the Admin tab under your login email address. Sponsors will be displayed on pages of the site. We can also present your sponsors ads on our mobile app (requires upgrade). You can choose to have your sponsor ads take precdedence over ads served on our mobile app if you choose our premium service.
		</h4>
		<p>
		<h4>
			We will walk you thru the options after you create your site.
		</h4>
		<p>
		<h3><em><strong>Examples of the kinds of sites you can create to manange your sports program include:</strong></em></h3>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h5>Create a Single Team Site. Use this site to manage your teams content. Everything you enter on this site will be available to your users via our mobile app.</h5>
	</div>
	<div class="span4 offset1">
		<h5>Create a Multi Team Site. This is useful for high school programs (e.g. Varsity, JV, Freshman) or for youth programs that have multiple teams (e.g. Mighty Mite, Jr. Pee Wee, Pee Wee, etc.). Your users will be able to choose the team they are interested in your customized mobile app or switch between teams in your program.</h5>
	</div>
</div>
<div class="row">
	<div class="span4">
		<%= image_tag "singlesport.jpg" %>
	</div>
	<div class="span4 offset1">
		<%= image_tag "onesportmulti.jpg" %>
	</div>
</div>
<!--div class="row">
	<div class="span8">
		<h4>Multi Sport Site:</h4>
		<%= image_tag "multisport.jpg" %>
	</div>
</div-->
<div class="row">
	<div class="span10">
		<h4><%= link_to "Click here", mobileinfo_sites_path %> to see what our mobile apps can do</h4>
	</div>
</div>
<p>
<div class="row">
	<div class="span4">	
    	<h4>Clicking below will register you and you will become the administrator for the site:</h4>
		<%= link_to "Create Admin", new_user_registration_path, class: "btn btn-medium btn-primary" %>
	</div>
    <div class="span5">
	    <h4>If you are looking for a site powered by SportzSoftware, click below to find the site.</h4>
		<%= link_to "Search", sites_path, class: "btn btn-medium btn-primary" %>
	</div>
</div>
</font>
