<p>
<!--font color="#b3f10c"-->
<div class="row">
	<div class="span10" style="background-color:#ffffff;position:relative;top:0">
	 	<ul>
			<li>Create and manage your athletic site in the cloud and make your programs sports content avaiable to your fans via our mobile app!</li>
			<li>Follow players updates to their bios, stats, photos, videos and more!</li>
			<li>Make Photos and Videos available to your users in real time!</li>
			<li>Use our mobile apps for iPhone and iPad to track real time statistic updates for your team and individual players. Stat packages are available only for some sports.</li>
			<p>
			<li><h5><em><%= link_to "Click Here for more information and screen shots of what our mobile apps look like", mobileinfo_sites_path %></em></h5></li>
			<p>
			<li>Make advanced features available to your fans:</li>
			<ul>
				<li>Have your users contribute video and pics. </li>
				<li>Real time blog support for your fans!</li>
				<li>Update stats from our iPad app in real time for those sports that have a stat package. More stat packages coming soon!</li>
				<li>News feed to let your fans know what is happening in your program!</li>
			</ul>
			<!--li>Stream your games live from your site! This will require additional setup but we can show you how!</li--><br/>
		</ul>
		You can use the site to make your programs content available to your fans on our mobile app. We can map your domain name for an fee to the web site you create if you choose to use the site for your program in addition to offering your users mobile applications. The choice is yours.
		<p>
		<h4><em>Make our service a revenue stream for your program!</em></h4>
		<p>	
			Our mobile app is free to your users as a basic app. It will serve ads in the free mode and some functions will not be available unless your fans opt for the ad free version. The ad free version requires an upgrade by your users and we will <em><strong>refund 50% of the upgrade fee</strong></em> to your program. 
			<p>
			You can also enter your sponsors ads using the Admin tab under your login email address. Sponsors will be displayed on pages of the site so you can see what they look like. We will present your sponsors ads on our mobile app when your fans are logged into the mobile app.
		<p>
		<h4><em><strong>Examples of the kinds of sites you can create to manange your sports program include:</strong></em></h4>
		<div class="row">
			<div class="span4">
				Create a Single Team Site. Use this site to manage your teams content. Everything you enter on this site will be available to your users via our mobile app.
			</div>
			<div class="span4 offset1">
				Create a Multi Team Site. This is useful for high school programs (e.g. Varsity, JV, Freshman) or for youth programs that have multiple teams (e.g. Mighty Mite, Jr. Pee Wee, Pee Wee, etc.). Your users will be able to choose the team they are interested in our  mobile app or switch between teams in your program.
			</div>
		</div>
	</div>
</div>
<p>
<div class="row">
	<div class="span4">
		<%= image_tag "singlesport.jpg" %>
	</div>
	<div class="span4 offset1">
		<%= image_tag "onesportmulti.jpg" %>
	</div>
</div>
<p>
<!--div class="row">
	<div class="span8">
		<h4>Multi Sport Site:</h4>
		<%= image_tag "multisport.jpg" %>
	</div>
</div-->
<div class="row" style="background-color:#ffffff;position:relative;top:0">
	<div class="span10">
		<h4><%= link_to "Click here", mobileinfo_sites_path %> to see what our mobile apps can do</h4>
		<div class="row">
			<div class="span4">	
		    	Clicking below will register you and you will become the administrator for the site:<p>
				<%= link_to "Create Admin", new_user_registration_path, class: "btn btn-medium btn-primary" %>
			</div>
		    <div class="span5">
			    If you are looking for a site powered by SportzSoftware, click below to find the site.<p>
				<%= link_to "Search", sites_path, class: "btn btn-medium btn-primary" %>
			</div>
		</div>
	</div>
</div>
<!--/font-->
