<p>
<font color="#b3f10c">
<div class="row">
	<div class="span10 offset1">
			<h4>
		 	<ul>
				<li>Create your athletic web site!</li>
				<li>Make changes and manage the site you created!</li>
				<li>Provide advanced features for your users:</li>
				<ul>
					<li>Allow them to follow their favorite players.</li>
					<li>Have your users contribute video and pics. You can also set up the site so all pics need to be approved prior to posting.</li>
					<li>Mobile apps for iPhone and iPad are available for most sports supported by your site. <%= link_to "Click Here for more information", mobileinfo_sites_path %></li>
				</ul>
				<li>Stream your games live from your site! This will require additional setup but we can show you how!</li><br/>
			</ul>
		</h4>
		<h3>Examples of the kinds of sites you can create include:</h3>
	</div>
</div>
<div class="row">
	<div class="span8">
		<h4>Single Sport Site:</h4>
		<%= image_tag "singlesport.jpg" %>
	</div>
</div>
<div class="row">
	<div class="span8">
		<h4>Single Sport Multi Team Site:</h4>
		<%= image_tag "onesportmulti.jpg" %>
	</div>
</div>
<div class="row">
	<div class="span8">
		<h4>Multi Sport Site:</h4>
		<%= image_tag "multisport.jpg" %>
	</div>
</div>
<div class="row">
	<div class="span4">	
    	<h4>Clicking below will register you and you will become the administrator for the site:</h4>
		<%= link_to "Create Admin", new_user_registration_path, class: "btn btn-medium btn-primary" %>
	</div>
    <div class="span5">
	    <h4>If you are looking for a site powered by SportzSoftware, click below to find the site.</h4>
		<%= link_to "Search", sites_path, class: "btn btn-medium btn-primary" %>
	</div>
</div>
</font>
