<p>
<font color="#b3f10c">
<div class="row">
	<div class="span10">
		<h4>Below are some examples of what your users will see when they access your site from our iPhone app. Our mobile apps
			can provide your fans with access to real time stats in addition to being able to follow players and comment on your program. Remember, ad free version require an upgrade which we will split with your program.
		</h4>
		<p>
		<div class="row">
			<div class="span5 offset1">
				Click here for customized options including your own mobile app
				<%= link_to "Features", pricing_path, class: "btn btn-medium btn-primary" %>
			</div>
			<div class="span2 offset1">
				<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-medium btn-primary" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>Your team Game Schedule:</em></h4>
				<%= image_tag "IOSSchedule.png" %>
			</div>
			<div class="span4 offset1">
				<h4>Your team Roster:</h4>
				<%= image_tag "IOSRoster.png" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>Your team Photos:</em></h4>
				<%= image_tag "IOSPhotos.png" %>
			</div>
			<div class="span4 offset1">
				<h4>Your team Videos:</h4>
				<%= image_tag "IOSVideos.png" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>Your team Stats:</em></h4>
				<%= image_tag "IOSStats.png" %>
			</div>
			<div class="span4 offset1">
				<h4>Player Stats:</h4>
				<%= image_tag "IOSPlayerStats.png" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>Player Game Stats:</em></h4>
				<%= image_tag "IOSPlayerStats.png" %>
			</div>
			<div class="span4 offset1">
				<h4>Your Team Newsfeed:</h4>
				<%= image_tag "IOSNewsFeed.png" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4><em>Team Coaches:</em></h4>
				<%= image_tag "IOSCoaches.png" %>
			</div>
			<div class="span4 offset1">
				<h4><em>And much, much more .....</em></h4>
			</div>
		</div>
		<p>
		<div class="row">
			<div class="span2 offset4">
				<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-medium btn-primary" %>
			</div>
		</div>
	</div>
	</div>
</div>