<% provide(:title, @site.sitename) %>
<div class="row">
  <div class="span2">
    Logo goes here
  </div>
	<div class="span6">
		<div class="container-fluid">
			<div class="center hero-unit">
        <div class="row">
          <div class="span2">
            <% if @fall.any? %>
              <h3>Fall</h3>
              <% @fall.each do |f| %>
                <%= link_to f.name, team_site_path(id: f.id) %>
              <% end %>
            <% end %>
          </div>
          <div class="span2">
            <% if @winter.any? %>
              <h3>Winter</h3>
              <% @winter.each do |w| %>
                <%= link_to w.name, team_site_path(id: w.id) %>
              <% end %>
            <% end %>
         </div>
          <div class="span2">
            <% if @spring.any? %>
              <h3>Spring</h3>
              <% @spring.each do |s| %>
                <%= link_to s.name, team_site_path(id: s.id) %>
              <% end %>
            <% end %>
          </div>
          <div class="span2">
            <% if @summer.any? %>
              <h3>Summer</h3>
              <% @summer.each do |s| %>
                <%= link_to s.name, team_site_path(id: s.id) %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="span4 offset4">
            <%= link_to "Add Team", team_site_path(id: @site.id), class: "btn btn-medium btn-primary"%>
          </div>
        </div>
			</div>
		</div>
	</div>
  <div class="span2">
    Alerts go here
  </div>
</div>
<div class="row">
  <div class="span2">
    Ad goes here
  </div>
  <div class="span6">
    <h3>News feed:
    <% @newsfeed.each do |n| %>
      <%= render 'shared/news', news: n %>
    <% end %>
    <p>
    <%= link_to "All News", newsfeed_site_path(id: current_site), class: "btn btn-medium btn-primary" %>
    <% if admin_signed_in? %>
      <%= link_to "Add News Item", "#" class: "btn btn-medium btn-primary" %>
    <% end %>
  </div>
  <div class="span2">
    Ad goes here
  </div>
</div>
</div>
	<% if signed_in? %>
		<% if current_admin %>
			<div class="span2 offset1">
				<h3>Click below to edit the site</h3><p>
				<%= link_to "Edit Site", edit_site_path(id: @site.id), class: "btn btn-large btn-primary" %>
			</div>
			<div class="span6 offset1">
				<% if @teams.any? %>
					<h3>There are <%= @site.teams.count %> teams you own and administer</h3>
				<% else %>
					<h3>You currently have no Teams created. Click below to add one</h3>
				<% end %>				
				<%= render 'shared/team_list' %><br/>
				<%= link_to "Create New Team", newteam_team_path(id:  @site.id), class: "btn btn-large btn-primary" %>	
			<% end %>
		<% end %>
	</div>
</div>

