<div class="row">
	<div class="col-xs-8 col-xs-offset-3">
		Enter Visiting Team information.
		<%= form_for [@sport, @visiting_team], :defaults => { :input_html => { :class => "form-control" } } do |t| %>
			<div class="row">
				<div class="col-xs-6">
					<h5>Varsity, Freshman, Pee Wee ....</h5>
					<%= t.label :title %>
					<%= t.text_field :title, class: 'form-control' %>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="col-xs-6">
					<%= t.label :mascot %>
					<%= t.text_field :mascot, class: 'form-control' %>
				</div>
			</div>
			<div id="loading">
				<div id="loadingcontent">
					<p id="loadingspinner">
					    Updating Team...
					</p>
				</div>
			</div>
			<p>
			<div class="row">
				<div class="col-xs-1 col-xs-offset-2">
					<%= t.submit :submit, class:  "btn btn-sm btn-primary", id: "submitbtn" %>
				</div>
			</div>
		<% end %>
	</div>
</div>