<% if !stat.nil? %>
	<tr>
		<% if name == "Game" %>
			<% @game = Gameschedule.find(stat.gameschedule_id.to_s) %>
			<td><%= link_to(@game.game_name, [@sport, @sport.teams.find(@game.team_id), @game]) %></td>
		<% else %>
			<% athlete = Athlete.find(stat.athlete_id.to_s) %>
			<td><%= link_to(athlete.logname, [@sport, athlete]) %></td>
		<% end %>
		<td><%= stat.twoattempt %></td>
		<td><%= stat.twomade %></td>
		<% if stat.twomade > 0 %>
			<td><%= number_with_precision(stat.twoattempt/stat.twomade, precision: 2) %></td>
		<% else %>
			<td>0.0</td>
		<% end %>
		<td><%= stat.threeattempt %></td>
		<td><%= stat.threemade %></td>
		<% if stat.threemade > 0 %>
			<td><%= number_with_precision(stat.threeattempt/stat.threemade, precision: 2) %></td>
		<% else %>
			<td>0.0</td>
		<% end %>
		<td><%= stat.ftattempt %></td>
		<td><%= stat.ftmade %></td>
		<% if stat.ftmade > 0 %>
			<td><%= number_with_precision(stat.ftattempt/stat.ftmade, precision: 2) %></td>
		<% else %>
			<td>0.0</td>
		<% end %>
		<td><%= (stat.twomade * 2) + (stat.threemade * 3) + stat.ftmade %></td>
		<td><%= stat.fouls %></td>
		<td><%= stat.assists %></td>
		<td><%= stat.blocks %></td>
		<td><%= stat.steals %></td>
		<td><%= stat.offrebound %></td>
		<td><%= stat.defrebound %></td>
		<td><%= stat.turnovers %></td>
		<% if BasketballStat.find(stat.id).nil? and isAdmin? %>
			<td><%= link_to "Stats", newstat_sport_athlete_basketball_stats_path(@sport, stat.athlete_id, gameschedule_id: stat.gameschedule_id), 
							class: "btn btn-xs btn-primary" %></td>
		<% elsif isAdmin? %>
			<td><%= link_to "Stats", edit_sport_athlete_basketball_stat_path(@sport, stat.athlete_id, stat, gameschedule_id: stat.gameschedule_id), 
					class: "btn btn-xs btn-primary" %></td>
		<% end %>
	</tr>
<% end %>
