<table class="table table-bordered">
	<thead>
		<% if name == "Game" %>
			<th>Game</th>
		<% else %>
			<td>Player</td>
		<% end %>
		<th>FGA</th>
		<th>FGM</th>
		<th>FG%</th>
		<th>3FGA</th>
		<th>3FGM</th>
		<th>3FG%</th>
		<th>FTA</th>
		<th>FTM</th>
		<th>FT%</th>
		<th><strong>Total</strong></th>
		<th>Fouls</th>
		<th>Assists</th>
		<th>Blocks</th>
		<th>Steals</th>
		<th>Off Reb</th>
		<th>Def Reb</th>
		<th>Edit</th>
	</thead>
	<tbody>
		<% bballstats.each do |b| %>
			<% if !b.nil? %>
				<tr>
					<% if name == "Game" %>
						<td><%= Gameschedule.find(b.gameschedule_id.to_s).game_name %></td>
					<% else %>
						<td><%= Athlete.find(b.athlete_id.to_s).logname %></td>
					<% end %>
					<td><%= b.twoattempt %></td>
					<td><%= b.twomade %></td>
					<% if b.twomade > 0 %>
						<td><%= number_with_precision(b.twoattempt/b.twomade, precision: 2) %></td>
					<% else %>
						<td>0.0</td>
					<% end %>
					<td><%= b.threeattempt %></td>
					<td><%= b.threemade %></td>
					<% if b.threemade > 0 %>
						<td><%= number_with_precision(b.threeattempt/b.threemade, precision: 2) %></td>
					<% else %>
						<td>0.0</td>
					<% end %>
					<td><%= b.ftattempt %></td>
					<td><%= b.ftmade %></td>
					<% if b.ftmade > 0 %>
						<td><%= number_with_precision(b.ftattempt/b.ftmade, precision: 2) %></td>
					<% else %>
						<td>0.0</td>
					<% end %>
					<td><%= (b.twomade * 2) + (b.threemade * 3) + b.ftmade %></td>
					<td><%= b.fouls %></td>
					<td><%= b.assists %></td>
					<td><%= b.blocks %></td>
					<td><%= b.steals %></td>
					<td><%= b.offrebound %></td>
					<td><%= b.defrebound %></td>
					<% if BasketballStat.find(b.id).nil? %>
						<td><%= link_to "Stats", newstat_sport_athlete_basketball_stats_path(@sport, b.athlete_id, gameschedule_id: b.gameschedule_id), 
								class: "btn btn-xs btn-primary" %></td>
					<% else %>
						<td><%= link_to "Stats", edit_sport_athlete_basketball_stat_path(@sport, b.athlete_id, b, gameschedule_id: b.gameschedule_id), 
								class: "btn btn-xs btn-primary" %></td>
					<% end %>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
