<% provide(:title, current_site.sitename + " " + @sport.name + " - Basketball Stats") %>
<p>
<div class="row">
	<div class="col-xs-2">
		<%= link_to image_tag(@athlete.pic.url(:thumb)), sport_athlete_path(@sport, @athlete) %>
	</div>
	<div class="col-xs-9">
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<% if !@athlete.nil? %>
			<% if @bballstats.empty? %>
				<%= render 'layouts/messagemodal', modalid: 'nostatsmodal', modaltitle: 'No Stats', 
													messagetext: 'No stats entered for ' + @athlete.numlogname %>
				<script>
				    $(document).ready(function() {
	              		$('#nostatsmodal').modal('show');
	            	});
				</script>
			<% else %>
				<h4>Stats for <%= link_to(@athlete.logname, [@sport, @athlete]) %></h4>
				<table class="table table-striped table-bordered table-hover">
					<%= render "stat_header_score", name: "Game" %>
					<% @bballstats.each do |b| %>
						<%= render "stat_body_score", stat: b, name: "Game" %>
					<% end %>
				</table>
				<table class="table table-striped table-bordered table-hover">
					<%= render "stat_header_other", name: "Game" %>
					<% @bballstats.each do |b| %>
						<%= render "stat_body_other", stat: b, name: "Game" %>
					<% end %>
				</table>
			<% end %>
		<% elsif !@gameschedule.nil? %>
			<% if @bballstats.empty? %>
				<%= render 'layouts/messagemodal', modalid: 'nostatsmodal', modaltitle: 'No Stats', 
													messagetext: 'No stats entered for ' + @athlete.numlogname %>
				<script>
				    $(document).ready(function() {
	              		$('#nostatsmodal').modal('show');
	            	});
				</script>
			<% else %>
				<h4>Stats for game <%= link_to(@gameschedule.game_name, [@sport, @team, @gameschedule]) %></h4>
				<table class="table table-striped table-bordered table-hover">
					<%= render "stat_header_score", name: "Player" %>
					<% @bballstats.each do |a| %>
						<%= render "stat_body_score", stat: b, name: "Player" %>
					<% end %>
				</table>
				<table class="table table-striped table-bordered table-hover">
					<%= render "stat_header_other", name: "Player" %>
					<% @bballstats.each do |a| %>
						<%= render "stat_body_other", stat: b, name: "Player" %>
					<% end %>
				</table>
			<% end %>
		<% end %>
	</div>
</div>
