<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
	<% if current_site? and !current_site.background.blank? %>
	   	<!--body style="background-image: url('<%= current_site.background.url %>');"-->
	<% else %>
    	<body>
	<% end %>
  <%= render 'layouts/header' %>
  <p>
  <div class="row">
  </div>
  <p>
<p>
  <div class="row">
    <div class="col-xs-11 col-xs-offset-1">
      <% if !@sport.nil? && !@sport.sport_banner.blank? %>
          <div class="row">
            <div class="col-xs-4">
              <h3><p class="text-info"><%= link_to @sport.sitename, sport_path(@sport) %></p></h3>
            </div>
            <div class="col-xs-7">
              <%= image_tag @sport.sport_banner.url(:medium), class: 'img-responsive' %>
            </div>
          </div>
          <p>
          <div class="row">
          </div>
          <p>
          <div class="row">
            <div class="col-xs-11">
              <ul class="nav nav-pills" style="margin-bottom: 15px;">
                <% if @sport.nil? %>
                  <li class="disabled"><%= link_to "Team", "#" %></li>
                <% elsif !current_team? %>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Teams<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <% @sport.teams.each do |t| %>
                        <li><%= link_to (t.title + " " + t.mascot), selectteam_sport_path(@sport, team_id: t) %></li>
                        <li class="divider"></li>
                      <% end %> 
                    </ul>
                  </li>
                <% else %>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Teams<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <% @sport.teams.each do |t| %>
                        <li><%= link_to (t.title + " " + t.mascot), selectteam_sport_path(@sport, team_id: t) %></li>
                        <li class="divider"></li>
                      <% end %> 
                    </ul>
                  </li>
                  <li><%= link_to "Schedule", sport_team_gameschedules_path(@sport, current_team) %></li> 
                  <li><%= link_to "Standings", sport_team_standings_path(@sport, current_team) %></li>
                  <li><%= link_to "Roster", sport_athletes_path(@sport, team_id: current_team.id) %></li>
                  <li><%= link_to "Blog", sport_blogs_path(@sport, team_id: current_team.id) %></li>
                  <li><%= link_to "Photos", sport_photos_path(@sport, team_id: current_team.id)%></li>
                  <li><%= link_to "Videos", sport_videoclips_path(@sport, team_id: current_team.id)%></li>
                  <li><%= link_to "Coaches", sport_coaches_path(@sport, team_id: current_team.id)%></li>
                  <li><%= link_to "Events", sport_events_path(@sport, team_id: current_team.id) %></li>
                <% end %>
              </ul>
            </div>
          </div>
      <% elsif current_site? and !current_site.sport_banner.blank? %>
        <div class="row">
          <div class="col-xs-4">
            <h3><p class="text-success"><%= current_site.sitename %></p></h3>
          </div>
          <div class="col-xs-7">
            <%= image_tag current_site.sport_banner.url(:large), class: 'img-responsive' %>
          </div>
        </div>
      <% elsif current_site? %>
        <h1><%= current_site.sitename %></h1>
      <% end %>

  		<% flash.each do |key, value| %>
  			<div class="alert alert-<%= key %>"><%= value %>
        </div>
  		<% end %>
  		<%= yield %>
  		<%= render 'layouts/footer' %>
  		<%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</html>
