<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <% if current_site? %>
      <%= stylesheet_link_tag current_site.cssstyle, media: "all" %>
    <% elsif !@testcss.nil? %>
      <%= stylesheet_link_tag @testcss, media: "all" %>
    <% else %>
      <%= stylesheet_link_tag  "application", media: "all" %>
    <% end %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
	<% if current_site? and !current_site.background.blank? %>
	   	<!--body style="background-image: url('<%= current_site.background.url %>');"-->
	<% else %>
    	<body>
	<% end %>
  <%= render 'layouts/header' %>
  <p>
  <div class="row">
  </div>
  <p>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <% if current_site? && current_site.sport_banner? %>
            <div class="well">
        <div class="row">
              <% if current_site.bannerpos == "right" %>
                <div class="col-xs-4">
                  <div class="row">
                      <% if current_site.sport_logo? %>
                        <%= link_to (image_tag current_site.sport_logo.url(:thumb), class: 'img-responsive'), sport_path(current_site) %>
                      <% end %>
                  </div>
                  <div class="row">
                    <h3><p class="text-info"><%= link_to current_site.sitename, sport_path(current_site) %></p></h3>
                  </div>
                  <p>
                  <div class="row">
                    <div class="col-xs-2">
                      <% if current_team? and current_team.team_logo? %>
                        <%= link_to (image_tag get_team_logo(current_site, current_team), class: 'img-responsive'), sport_path(current_site) %>
                      <% end %>
                    </div>
                    <% if current_team? %>
                      <h4><p class="text-info"><%= link_to current_team.team_name, sport_path(current_site) %></p></h4>
                    <% end %>
                  </div>
               </div>
                <div class="col-xs-7">
                  <%= image_tag current_site.sport_banner.url(:medium), { class: 'img-responsive', height: '300', width: '750' } %>
                </div>
              <% elsif current_site.bannerpos == "center" %>
                <div class="col-xs-2">
                  <div class="row">
                    <h4><%= current_site.sitename %></h4>
                  </div>
                  <div class="row">
                      <% if current_team? %>
                        <%= link_to (image_tag get_team_logo(current_site, current_team), class: 'img-responsive'), sport_path(current_site) %>
                      <% end %>
                  </div>
                  <div class="row">
                    <% if current_team? %>
                      <h4 class="text-info"><%= link_to current_team.team_name, sport_path(current_site) %></h4>
                    <% end %>
                  </div>
                </div>
                <div class="col-xs-7">
                  <%= image_tag current_site.sport_banner.url(:medium), { class: 'img-responsive' } %>
                </div>
                <div class="col-xs-2">
                  <div class="row">
                    <h4><%= current_site.sitename %></h4>
                  </div>
                  <div class="row">
                      <% if current_site.sport_logo? %>
                        <%= link_to (image_tag current_site.sport_logo.url(:thumb), class: 'img-responsive'), sport_path(current_site) %>
                      <% end %>
                  </div>
                  <div class="row">
                    <% if current_team? %>
                      <h4 class="text-info"><%= link_to current_team.team_name, sport_path(current_site) %></h4>
                    <% end %>
                  </div>
                </div>
              <% else %>
                <div class="col-xs-7">
                  <%= image_tag current_site.sport_banner.url(:medium), { class: 'img-responsive', height: '300', width: '750' } %>
                </div>
                <div class="col-xs-4">
                  <div class="row">
                      <% if current_site.sport_logo? %>
                        <%= link_to (image_tag current_site.sport_logo.url(:thumb), class: 'img-responsive'), sport_path(current_site) %>
                      <% end %>
                  </div>
                  <div class="row">
                    <h3><p class="text-info"><%= link_to current_site.sitename, sport_path(current_site) %></p></h3>
                  </div>
                  <p>
                  <div class="row">
                    <div class="col-xs-2">
                      <% if current_team? and current_team.team_logo? %>
                        <%= link_to (image_tag get_team_logo(current_site, current_team), class: 'img-responsive'), sport_path(current_site) %>
                      <% end %>
                    </div>
                    <% if current_team? %>
                      <h4><p class="text-info"><%= link_to current_team.team_name, sport_path(current_site) %></p></h4>
                    <% end %>
                  </div>
               </div>
              <% end %>
          </div>
        </div>
          <p>
      <% elsif current_site? %>
          <div class="row">
            <h1><p class="text-info"><%= link_to current_site.sitename, sport_path(current_site) %></p></h1>
          </div>
          <div class="row">
            <% if current_team? %>
              <h3><p class="text-info"><%= link_to current_team.team_name, sport_path(current_site) %></p></h3>
            <% end %>
          </div>
      <% end %>

  		<% flash.each do |key, value| %>
  			<div class="alert alert-<%= key %>"><%= value %>
        </div>
  		<% end %>
  		<%= yield %>
      <p>
      <%= render 'layouts/sponsor' if current_site? %>
  		<%= render 'layouts/footer' %>
  		<%= debug(params) if Rails.env.development? %>
      <%= render 'layouts/moreselectmodal' if current_team? %>
      <%= render 'layouts/toolsselectmodal' if user_signed_in? and current_site? and site_owner?(current_site) %>
      <%= render 'layouts/userheaderselectmodal' if user_signed_in? %>
      <%= render 'layouts/solutions' %>
      <%= render 'layouts/adsponsormodal' if  user_signed_in? and current_site? and site_owner?(current_site) %>
    </div>
  </div>
</html>
