<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
	<% if current_site? and !current_site.background.blank? %>
	   	<!--body style="background-image: url('<%= current_site.background.url %>');"-->
	<% else %>
    	<body>
	<% end %>
  <%= render 'layouts/header' %>
  <p>
  <div class="row">
  </div>
  <p>
  <div class="row">
    <div class="col-xs-11 col-xs-offset-1">
      <% if !@sport.nil? && !@sport.sport_banner.blank? %>
          <div class="row">
            <div class="col-xs-4">
              <h3><p class="text-success"><%= @sport.sitename %></p></h3>
            </div>
            <div class="col-xs-7">
              <%= image_tag @sport.sport_banner.url(:large), width: '600', height: '150' %>
            </div>
          </div>
          <p>
          <div class="row">
          </div>
          <p>
          <div class="row">
            <div class="col-xs-11">
                <div class="navbar navbar-inverse">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>
                  <nav class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                      <% if @sport.nil? %>
                        <li class="disabled"><%= link_to "Schedule", "#" %></li>
                        <li class="disabled"><%= link_to "Standings", "#" %></li>                 
                        <li class="disabled"><%= link_to "Rosters", "#" %></li>
                        <li class="disabled"><%= link_to "Blog", "#" %></li>
                        <li class="disabled"><%= link_to "Photos", "#" %></li>
                        <li class="disabled"><a href="#">Video Clips</a></li>
                        <li class="disabled"><a href="#">More</a></li>
                      <% elsif !@sport.teams.nil? and @sport.teams.count == 0 %>
                        <li><%= link_to "Schedule", "#" %></li>
                        <li class="disabled"><%= link_to "Standings", "#" %></li>                 
                        <li><%= link_to "Rosters", "#" %></li>
                        <li><%= link_to "Blog", "#" %></li>
                        <li><%= link_to "Photos", "#"%></li>
                        <li><a href="#">Video Clips</a></li>
                        <li><a href="#">More</a></li>
                      <% else %>
                        <li id="fat-menu" class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Schedule <b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu">
                            <% @sport.teams.each do |t| %>
                              <li><%= link_to (t.title + " " + t.mascot), sport_team_gameschedules_path(@sport, t) %></li>
                              <li class="divider"></li>
                            <% end %> 
                          </ul>
                        </li>
                        <li id="fat-menu" class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Standings <b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu">
                            <% @sport.teams.each do |t| %>
                              <li><%= link_to (t.title + " " + t.mascot), sport_team_standings_path(@sport, t) %></li>
                              <li class="divider"></li>
                            <% end %> 
                          </ul>
                        </li>
                        <li id="fat-menu" class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Roster <b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu">
                            <% @sport.teams.each do |t| %>
                              <li><%= link_to (t.title + " " + t.mascot), sport_athletes_path(@sport, team_id: t) %></li>
                              <li class="divider"></li>
                            <% end %> 
                          </ul>
                        </li>
                        <li id="fat-menu" class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Blog <b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu">
                          <% @sport.teams.each do |t| %>
                            <li><%= link_to (t.title + " " + t.mascot), sport_blogs_path(@sport, team_id: t) %></li>
                            <li class="divider"></li>
                          <% end %>
                          <li><%= link_to "All", sport_blogs_path(@sport) %></li>
                          </ul>
                        </li>
                        <li id="fat-menu" class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Photos<b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu">
                            <% @sport.teams.each do |t| %>
                              <li><%= link_to (t.title + " " + t.mascot), sport_photos_path(@sport, team_id: t)%></li>
                              <li class="divider"></li>
                            <% end %> 
                            <li><%= link_to "Search", sport_photos_path(@sport) %></li>
                          </ul>
                        </li>
                        <li id="fat-menu" class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Video Clips<b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <% @sport.teams.each do |t| %>
                              <li><%= link_to (t.title + " " + t.mascot), sport_videoclips_path(@sport, team_id: t)%></li>
                              <li class="divider"></li>
                            <% end %> 
                            <li><%= link_to "Search", sport_videoclips_path(@sport) %></li>
                          </ul>
                        </li>
                        <li id="fat-menu" class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Coaches<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <% @sport.teams.each do |t| %>
                                <li><%= link_to (t.title + " " + t.mascot), sport_coaches_path(@sport, team_id: t)%></li>
                                <li class="divider"></li>
                              <% end %> 
                            </ul>
                          </a>
                        </li>
                        <li id="fatt-menu" class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event Calendar<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <% @sport.teams.each do |t| %>
                                <li><%= link_to (t.title + " " + t.mascot), sport_events_path(@sport, team_id: t) %></li>
                                <li class="divider"></li>
                              <% end %>
                              <li><%= link_to "All", sport_events_path(@sport) %></li>
                            </ul>
                          </a>
                        </li>
                        <% end %>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          <!--div id="banner" style="background-image: url(<%= @sport.sport_banner.url(:large) %>);">    
          </div-->
      <% elsif current_site? and !current_site.sport_banner.blank? %>
          <div id="banner" style="background-image: url(<%= current_site.sport_banner.url(:large) %>);">
          </div>
      <% elsif current_site? %>
            <h1><%= current_site.sitename %></h1>
    	<!--% else %>
    		<div id="homebanner" style="background-image: url(<%= image_path 'home.jpg' %>);"></div-->
      <% end %>

  		<% flash.each do |key, value| %>
  			<div class="alert alert-<%= key %>"><%= value %>
        </div>
  		<% end %>
  		<%= yield %>
  		<%= render 'layouts/footer' %>
  		<%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</html>
