<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
	<% if current_site? and !current_site.background.blank? %>
	   	<!--body style="background-image: url('<%= current_site.background.url %>');"-->
	<% else %>
    	<body>
	<% end %>
  <%= render 'layouts/header' %>
  <p>
  <div class="row">
  </div>
  <p>
<p>
  <div class="row">
    <div class="col-xs-11 col-xs-offset-1">
      <% if current_site? && current_site.sport_banner? %>
          <div class="row">
            <div class="col-xs-4">
              <div class="row">
                <h3><p class="text-info"><%= link_to current_site.sitename, sport_path(current_site) %></p></h3>
              </div>
              <p>
              <div class="row">
                <% if current_site.sport_logo? %>
                  <%= image_tag current_site.sport_logo.url(:thumb), class: 'img-responsive' %>
                <% else %>
                  <%= image_tag 'Photo_Not_Available.jpg' %>
                <% end %>
              </div>
            </div>
            <div class="col-xs-7">
              <%= image_tag current_site.sport_banner.url(:large), { class: 'img-responsive', height: '300', width: '750' } %>
            </div>
          </div>
          <p>
          <div class="row">
          </div>
          <p>
      <% elsif current_site? %>
        <h1><%= current_site.sitename %></h1>
      <% end %>

  		<% flash.each do |key, value| %>
  			<div class="alert alert-<%= key %>"><%= value %>
        </div>
  		<% end %>
  		<%= yield %>
  		<%= render 'layouts/footer' %>
  		<%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</html>
