<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
	<% if current_site? and !current_site.background.blank? %>
	   	<body style="background-image: url('<%= current_site.background.url %>');">
	<% else %>
    	<body>
	<% end %>
  <%= render 'layouts/header' %>
  <% if !@sport.nil? && !@sport.sport_banner.blank? %>
      <div id="banner" style="background-image: url(<%= @sport.sport_banner.url(:large) %>);">    
      </div>
  <% elsif current_site? and !current_site.banner.blank? %>
      <div id="banner" style="background-image: url(<%= current_site.banner.url(:large) %>);">
      </div>
	<% else %>
		<div id="homebanner" style="background-image: url(<%= image_path 'home.jpg' %>);">
		</div>
  <% end %>
  <% if current_site? %>
    <div class="container" id="bodywindow" style="background-color:#ffffff;">
  <% else %>
    <div class="container" id="bodywindow" style="bakcground-color:#254959;">
  <% end %>
        <div class="row">
          <div class="span10">
    				<% flash.each do |key, value| %>
    					<div class="alert alert-<%= key %>"><%= value %></div>
    				<% end %>
          </div>
        </div>
				<%= yield %>
				<%= render 'layouts/footer' %>
				<%= debug(params) if Rails.env.development? %>
			</div>
    </div>
</html>
